<section class="container case-description" style="background-color: white">
  <a href="./case-studies.html" class="case-description__link">/Case Studio</a>
  <div class="case-description__content">
    <div class="case-description__text-block"></div>
    <div class="swiper slider-hero">
      <div class="swiper-wrapper"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<section class="processTemplate"></section>
<section class="container solution"></section>
<section class="impact-on-business"></section>
