<section class="about-section__info">
    <div class="container about-section__info-block">
        <div class="about-section__info-topblock">
            <h1 class="about-section__info-title">About</h1>
            <p class="about-section__info-desc">Powerkh is a digital design consultancy which offers BIM, computational design, structural detailing and digital fabrication expertise. We work with project owners, architects, contractors, developers and engineers to improve the way buildings are designed, built, and operated through the use of digital design tools</p>
        </div>
        <div class="about-section__info-lowerblock">
            <ul class="about-section__info-datalist">
                <li class="about-section__info-dataitem">
                    <h2 data-number="2016" class="about-section__info-datatitle">2016</h2>
                    <p class="about-section__info-datatext">year of establishment</p>
                </li>
                <li class="about-section__info-dataitem">
                    <h2 data-number="200" class="about-section__info-datatitle">200+</h2>
                    <p class="about-section__info-datatext">successful state-of-the-art BIM/VDC projects</p>
                </li>
                <li class="about-section__info-dataitem">
                    <h2 data-number="11" class="about-section__info-datatitle">11</h2>
                    <p class="about-section__info-datatext">countries that we operate In</p>
                </li>
                <li class="about-section__info-dataitem">
                    <h2 data-number="91" class="about-section__info-datatitle">91</h2>
                    <p class="about-section__info-datatext">our NPS</p>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="about-section__video">
    <div class="container about-section__video-block">
        <div class="about-section__video-wrapper">
            <video preload="metadata" poster="../images/hero/contacts@1x.jpg" controls class="about-section__video-item" src="https://storage.googleapis.com/poverkh/powerkh_about.mp4">
            </video>
        </div>
    </div>
</section>
<!-- <div class="div"></div> -->

<section class="about-section__team">
    <div class="container about-section__team-block">
        <ul class="about-section__teamlist">
            <li class="about-section__membercard">
                <img 
                    class="about-section__membercard-photo" 
                    srcset='../images/about/image-1@1x.jpg 1x, ../images/about/image-1@2x.jpg 2x'
                    src="../images/about/image-1@1x.jpg" 
                    alt="Member photo">
                <h2 class="about-section__membercard-name">Kostya Rapina</h2>
                <p class="about-section__membercard-position">CEO & Co-founder</p>
            </li>
            <li class="about-section__membercard">
                <img 
                    class="about-section__membercard-photo" 
                    srcset='../images/about/image-2@1x.jpg 1x, ../images/about/image-2@2x.jpg 2x'
                    src="../images/about/image-2@1x.jpg" 
                    alt="Member photo">
                <h2 class="about-section__membercard-name">Yevhen Surzhan</h2>
                <p class="about-section__membercard-position">COO & Co-founder</p>
            </li>
            <li class="about-section__membercard">
                <img 
                    class="about-section__membercard-photo" 
                    srcset='../images/about/image-3@1x.jpg 1x, ../images/about/image-3@2x.jpg 2x'
                    src="../images/about/image-3@1x.jpg" 
                    alt="Member photo">
                <h2 class="about-section__membercard-name">Tetiana Rapina</h2>
                <p class="about-section__membercard-position">CDO</p>
            </li>
            <li class="about-section__membercard">
                <img 
                    class="about-section__membercard-photo" 
                    srcset='../images/about/image-4@1x.jpg 1x, ../images/about/image-4@2x.jpg 2x'
                    src="../images/about/image-4@1x.jpg" 
                    alt="Member photo">
                <h2 class="about-section__membercard-name">Sergey Trilevskiy</h2>
                <p class="about-section__membercard-position">Lead Structural Engineer</p>
            </li>
        </li>
        <li class="about-section__membercard">
            <img 
                class="about-section__membercard-photo" 
                srcset='../images/about/image-5@1x.jpg 1x, ../images/about/image-5@2x.jpg 2x'
                src="../images/about/image-5@1x.jpg" 
                alt="Member photo">
            <h2 class="about-section__membercard-name">Ihor Bobrus</h2>
            <p class="about-section__membercard-position">BIM / VDC Lead Engineer</p>
        </li>
        <li class="about-section__membercard">
            <img 
                class="about-section__membercard-photo" 
                srcset='../images/about/image-6@1x.jpg 1x, ../images/about/image-6@2x.jpg 2x'
                src="../images/about/image-6@1x.jpg" 
                alt="Member photo">
            <h2 class="about-section__membercard-name">Dmitriy Mihalevskiy</h2>
            <p class="about-section__membercard-position">Technical Lead</p>
        </li>
        <li class="about-section__membercard">
            <img 
                class="about-section__membercard-photo" 
                srcset='../images/about/image-7@1x.jpg 1x, ../images/about/image-7@2x.jpg 2x'
                src="../images/about/image-7@1x.jpg" 
                alt="Member photo">
            <h2 class="about-section__membercard-name">Artur Khasanov</h2>
            <p class="about-section__membercard-position">Technical Lead</p>
        </li>
        <li class="about-section__membercard">
            <img 
                class="about-section__membercard-photo" 
                srcset='../images/about/image-8@1x.jpg 1x, ../images/about/image-8@2x.jpg 2x'
                src="../images/about/image-8@1x.jpg" 
                alt="Member photo">
            <h2 class="about-section__membercard-name">Sergey Aleksandrov</h2>
            <p class="about-section__membercard-position">Technical Lead</p>
        </li>
        <li class="about-section__membercard">
            <img 
                class="about-section__membercard-photo" 
                srcset='../images/about/image-9@1x.jpg 1x, ../images/about/image-9@2x.jpg 2x'
                src="../images/about/image-9@1x.jpg" 
                alt="Member photo">
            <h2 class="about-section__membercard-name">Dmitriy Varava</h2>
            <p class="about-section__membercard-position">BIM / VDC Engineer</p>
        </li>
        </ul>
    </div>
</section>
