@import '~node_modules/modern-normalize/modern-normalize.css';

// Utils
@import './utils/variables';
@import './utils/fonts';
@import './utils/mixins';
@import './utils/reset';
@import './utils/common_classes';
@import './utils/body_classes';
@import './utils/scrollbar';
@import './utils/ligthBox';

//Templates-services

@import './templates/hero';
@import './templates/howWeWork';
@import './templates/herBIMAndVDCServices.scss';
@import './templates/contactUs';

@import './templates/outsourceProjects';

@import './templates/architecAndStructBim';
@import './templates/impactOnBusiness';
@import './templates/architectRendServ';
@import './templates/contents';
@import './templates/sectionProjects';
@import './templates/hero-part4';
@import './templates/author';
@import './templates/share';

//Templates-caseStudies

@import './templates/heroDescription';
@import './templates/processTemplate';
@import './templates/contactForm';

@import './templates/solution';

//Components
@import './components/header';
@import './components/burgerMenu';
@import './components/haveBIMproject';
@import './templates/faq.scss';
@import './components/ourCaseStudies';
@import './components/socialNetworkLinks';

@import './components/joinTeam';
@import './components/project-samples';

@import './components/automate-repetitive-design';
@import './components/contentsDescription';
@import './components/footer';
@import './components/main/bimServices';
@import './components/main/ourServicesGrid';
@import './components/main/customers';
@import './components/main/ousource';
@import './components/main/hero-main';
@import './components/contactUsModal';
@import './components/top-thirty-architectural/top-ten-architectural';
@import './components/archi-rendering-structure';
@import './components/top-thirty-architectural/top-twenty-architectural';
@import './components/top-thirty-architectural/final-thoughts';
@import './components/about';
//Case Studies
@import './components/caseStudies';

//Blog

@import './components/blog/blog-grid-preview';
@import './components/automate-repetitive-design';
@import './components/neverMiss';

@import './components/whatProblems';

@import './components/sevenBenefitsOfBim/disadvantages';
@import './components/sevenBenefitsOfBim/whereToFind';
@import './components/sevenBenefitsOfBim/conclusion';
@import './components/sevenBenefitsOfBim/benefitsOfBim';

@import './templates/otherArticles';

@import './components/footer';

// Layout

@import './layout/contacts';
@import './layout/blog';
@import './layout/blog7Benefits';
