@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  background-color: var(--dark-grey-color);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%), url("../images/hero/Prefabrication/Prefabrication@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

:root {
  --pure-black-color: #000000;
  --pure-white-color: #ffffff;
  --dark-grey-color: #0e0e0e;
  --ligth-grey-color: #cdcdcd;
  --background-color: #f5f5f5;
  --error-color: #eb5757;
}

ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  font-style: normal;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 360px) {
  .container {
    max-width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding: 0 152px;
    max-width: 1440px;
  }
}

.btn {
  padding: 16px;
  color: var(--pure-white-color);
  text-transform: uppercase;
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  background-color: var(--dark-grey-color);
}

.hero {
  padding-top: 206px;
  padding-left: 18px;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 192px;
  }
}

.hero__block {
  position: relative;
  width: 288px;
  padding: 24px 16px;
  background: var(--pure-white-color);
}
@media screen and (min-width: 768px) {
  .hero__block {
    padding: 52px 40px 24px;
    width: 632px;
  }
}

.hero__frame-down-left {
  position: absolute;
  bottom: -16px;
  left: -16px;
}

.hero__frame-up-left {
  position: absolute;
  top: -16px;
  left: -16px;
}

.hero__frame-down-right {
  position: absolute;
  bottom: -16px;
  right: -16px;
}

.hero__frame-up-right {
  position: absolute;
  top: -16px;
  right: -16px;
}

.hero__title {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  font-size: 24px;
  line-height: 1.12;
  text-transform: uppercase;
  color: var(--dark-grey-color);
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    margin-bottom: 32px;
  }
}

.hero__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
  color: var(--dark-grey-color);
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .hero__text {
    margin-bottom: 24px;
  }
}

.hero__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  gap: 8px;
  background: var(--pure-white-color);
  border: none;
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  color: var(--dark-grey-color);
}

.howWeWork ol {
  counter-reset: ol-numbers;
}
.howWeWork .howWeWork__item:nth-last-of-type(1)::before {
  background-image: url(../images/vectors/done.svg);
  width: 62px;
  height: 62px;
  top: 69px;
  background-size: 100% 100%;
  background-size: cover;
}

.howWeWork__title {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
}

.howWeWork__item {
  padding-left: 89px;
  padding-top: 35px;
  height: 178px;
  position: relative;
}
.howWeWork__item::before {
  content: " ";
  position: absolute;
  top: 69px;
  left: 4;
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../images/vectors/arrow-down.svg);
  background-size: 100% 100%;
  background-size: cover;
}
.howWeWork__item::after {
  counter-increment: ol-numbers;
  content: "0" counter(ol-numbers);
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.1333333333;
  font-weight: 700;
  font-size: 70px;
  line-height: 78px;
  position: absolute;
  right: 0;
  top: 49px;
  width: 94px;
  height: 80px;
}

.howWeWork__subtitle {
  margin-bottom: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4285714286;
}
.howWeWork__subtitle::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  display: block;
  height: 1px;
  width: 100%;
}

.howWeWork__description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
  max-width: 750px;
}

.contact-us {
  background-color: var(--pure-white-color);
}

.contact-us__block {
  width: 320px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-color: var(--background-color);
}
@media screen and (min-width: 768px) {
  .contact-us__block {
    width: 704px;
  }
}
@media screen and (min-width: 1440px) {
  .contact-us__block {
    width: 1136px;
  }
}

.contact-us__title {
  margin: 0 auto 32px;
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--dark-grey-color);
}
@media screen and (max-width: 767.98px) {
  .contact-us__title {
    max-width: 284px;
  }
}

.contact-us__description {
  margin: 0 auto 32px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
}
@media screen and (min-width: 768px) {
  .contact-us__description {
    width: 560px;
  }
}
@media screen and (min-width: 1440px) {
  .contact-us__description {
    width: 672px;
  }
}

.bim-automation-services {
  padding: 32px 20px;
}

.bim-automation-services__title {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  margin-bottom: 24px;
}

.bim-automation-services__block {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--pure-white-color);
}

.bim-automation-services__text,
.bim-automation-services__topic,
.bim-automation-services__item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
}

.bim-automation-services__text {
  margin-bottom: 40px;
}

.bim-automation-services__topic {
  margin-bottom: 50px;
}

.bim-automation-services__list {
  padding-left: 60px;
}

.bim-automation-services__item {
  position: relative;
  min-height: 40px;
}
.bim-automation-services__item:not(:last-child) {
  margin-bottom: 34px;
}
.bim-automation-services__item::before {
  content: " ";
  position: absolute;
  display: block;
  left: -60px;
  top: -11px;
  width: 40px;
  height: 40px;
  background-image: url(../images/vectors/arrow_long_right.svg);
}

.impact-on-business__container {
  padding-bottom: 40px;
}
@media screen and (min-width: 1440px) {
  .impact-on-business__container {
    padding-bottom: 80px;
  }
}

.impact-on-business__title {
  margin-bottom: 52px;
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
}

@media screen and (min-width: 1440px) {
  .impact-on-business__block {
    display: flex;
    gap: 158px;
  }
}

.impact-on-business__description {
  margin-bottom: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
}
@media screen and (min-width: 1440px) {
  .impact-on-business__description {
    width: 553px;
    margin-bottom: 0;
    flex-shrink: 0;
  }
}

.impact-on-business__item {
  display: flex;
  gap: 28px;
}
.impact-on-business__item:not(:last-child) {
  margin-bottom: 16px;
}

.impact-on-business__number {
  width: 37px;
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  flex-shrink: 0;
  -moz-text-align-last: right;
       text-align-last: right;
}

.impact-on-business__statistics {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
}

.site-header {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
}

.site-header__logo {
  padding-left: 8px;
}

.main-navigation {
  display: flex;
  gap: 40px;
  align-items: center;
}

.main-navigation__list {
  display: flex;
  gap: 52px;
  align-items: center;
}

.main-navigation__link {
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
}

.contact-us-btn {
  padding: 16px;
  text-transform: uppercase;
  font-family: "PT Mono";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  background-color: #0e0e0e;
  color: #ffffff;
}

.has-dropdown {
  position: relative;
  top: 0;
}
.has-dropdown:hover .main-navigation__dropdown {
  display: flex;
}

.main-navigation__dropdown {
  display: none;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 360px;
  padding: 48px 36px 48px 28px;
  background-color: #cdcdcd;
  font-family: "PT Mono";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  color: #0e0e0e;
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  padding-right: 20px;
  cursor: pointer;
}

.burger-close-icon {
  display: none;
}

.burger-menu {
  display: none;
}

@media screen and (max-width: 767.98px) {
  .main-navigation__item:not(:nth-child(2)) {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .main-navigation__item:last-child {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .contact-us-btn {
    display: block;
  }
  .main-navigation__item:last-child {
    display: block;
  }
}
.have-BIM-project {
  background-color: var(--pure-white-color);
}

.have-BIM-project__block {
  width: 320px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-color: var(--background-color);
}
@media screen and (min-width: 768px) {
  .have-BIM-project__block {
    width: 704px;
  }
}
@media screen and (min-width: 1440px) {
  .have-BIM-project__block {
    width: 1136px;
  }
}

.have-BIM-project__title {
  margin: 0 auto 40px;
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--dark-grey-color);
}
@media screen and (max-width: 767.98px) {
  .have-BIM-project__title {
    max-width: 284px;
  }
}

.caseStudies__subtitle {
  margin-bottom: 52px;
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
}

.caseStudies__list {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

@media screen and (min-width: 768px) {
  .caseStudies__list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 18px;
    justify-content: space-between;
  }
}
.caseStudies__item {
  width: 316px;
  border: 2px solid var(--ligth-grey-color);
}
.caseStudies__item:hover {
  transition: 500ms;
  color: var(--pure-white-color);
  background-color: var(--pure-black-color);
}
.caseStudies__item:hover p::after {
  content: "";
  margin-left: 128px;
  filter: invert(100%);
  display: inline-block;
  background-repeat: no-repeat;
  height: 24px;
  width: 20px;
  background-size: contain;
  background-image: url(../images/vectors/vector-right.svg);
}
@media screen and (min-width: 768px) {
  .caseStudies__item {
    width: 342px;
  }
  .caseStudies__item:hover p::after {
    margin-left: 114px;
    width: 56px;
    height: 56px;
    background-position: top;
  }
}
@media screen and (min-width: 1440px) {
  .caseStudies__item {
    width: 360px;
  }
}

.caseStudies__section-title {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  margin-bottom: 16px;
}

.caseStudies__infoDiv {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4285714286;
  padding: 18px 24px 36px 18px;
}
@media screen and (min-width: 768px) {
  .caseStudies__infoDiv {
    height: 146px;
    padding-bottom: 28px;
  }
}

.caseStudies__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.caseStudies__body {
  display: flex;
}

.caseStudies__all-arrow {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  margin-bottom: 59px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.caseStudies__all-arrow::after {
  content: "";
  width: 56px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/vectors/vector-right.svg);
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .caseStudies__all-arrow {
    margin-left: 183px;
    justify-content: start;
  }
}

.caseStudies__all-link:hover, .caseStudies__all-link:focus {
  transition: 300ms;
  opacity: 50%;
}/*# sourceMappingURL=index.css.map */