@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  background-color: var(--dark-grey-color);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%), url("../images/hero/main@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  body {
    background-image: url("../images/hero/main@2x.jpg");
  }
}

:root {
  --pure-black-color: #000000;
  --pure-white-color: #ffffff;
  --dark-grey-color: #0e0e0e;
  --ligth-grey-color: #cdcdcd;
  --grey-color: #909090;
  --background-color: #f5f5f5;
  --error-color: #eb5757;
}

ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  font-style: normal;
  text-decoration: none;
}

li {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 360px) {
  .container {
    max-width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding: 0 152px;
    max-width: 1440px;
  }
}

.btn {
  padding: 16px;
  color: var(--pure-white-color);
  text-transform: uppercase;
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  background-color: var(--dark-grey-color);
}

.bim-coordination-page {
  background-color: var(--dark-grey-color);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%), url("../images/hero/bim-coordination@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .bim-coordination-page {
    background-image: url("../images/hero/bim-coordination@2x.jpg");
  }
}

.prefabrication-page {
  background-color: var(--dark-grey-color);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%), url("../images/hero/prefabrication@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .prefabrication-page {
    background-image: url("../images/hero/prefabrication@2x.jpg");
  }
}

.hero {
  padding-top: 206px;
  padding-left: 18px;
  height: 100vh;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 192px;
    padding-left: 34px;
  }
}

.hero__block {
  position: relative;
  width: 288px;
  padding: 24px 16px;
  background: var(--pure-white-color);
}
@media screen and (min-width: 768px) {
  .hero__block {
    padding: 52px 40px 24px;
    width: 632px;
  }
}

.hero__frame-down-left {
  position: absolute;
  bottom: -16px;
  left: -16px;
}

.hero__frame-up-left {
  position: absolute;
  top: -16px;
  left: -16px;
}

.hero__frame-down-right {
  position: absolute;
  bottom: -16px;
  right: -16px;
}

.hero__frame-up-right {
  position: absolute;
  top: -16px;
  right: -16px;
}

.hero__title {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  font-size: 24px;
  line-height: 1.12;
  text-transform: uppercase;
  color: var(--dark-grey-color);
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    margin-bottom: 32px;
  }
}

.hero__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
  color: var(--dark-grey-color);
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .hero__text {
    margin-bottom: 24px;
  }
}

.hero__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  gap: 8px;
  background: var(--pure-white-color);
  border: none;
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  color: var(--dark-grey-color);
}

.howWeWork {
  background-color: var(--pure-white-color);
}
.howWeWork ol {
  counter-reset: ol-numbers;
  position: relative;
}
.howWeWork ol::after {
  content: " ";
  position: absolute;
  bottom: 0px;
  left: 0;
  background-color: var(--pure-black-color);
  display: block;
  height: 1px;
  width: 100%;
}
.howWeWork .howWeWork__item:nth-last-of-type(1)::before {
  background-image: url(../images/vectors/done.svg);
  width: 62px;
  height: 62px;
  bottom: 36px;
  background-size: 100% 100%;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .howWeWork .howWeWork__item:nth-last-of-type(1)::before {
    top: 48px;
  }
}
@media screen and (min-width: 1440px) {
  .howWeWork .howWeWork__item:nth-last-of-type(1)::before {
    top: 56px;
  }
}

.howWeWork__title {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  margin-bottom: 36px;
}
@media screen and (min-width: 768px) {
  .howWeWork__title {
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 1440px) {
  .howWeWork__title {
    margin-bottom: 56px;
  }
}

.howWeWork__item {
  padding-top: 35px;
  height: 289px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .howWeWork__item {
    padding-left: 92px;
    height: 168px;
  }
}
@media screen and (min-width: 1440px) {
  .howWeWork__item {
    padding-left: 97px;
    height: 166px;
  }
}
.howWeWork__item::before {
  content: " ";
  position: absolute;
  bottom: 47px;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../images/vectors/arrow-down.svg);
  background-size: 100% 100%;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .howWeWork__item::before {
    bottom: 72px;
  }
}
@media screen and (min-width: 1440px) {
  .howWeWork__item::before {
    bottom: 78px;
  }
}
.howWeWork__item::after {
  counter-increment: ol-numbers;
  content: "0" counter(ol-numbers);
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.1333333333;
  font-weight: 700;
  font-size: 70px;
  line-height: 78px;
  position: absolute;
  bottom: 28px;
  right: 0;
  width: 84px;
  height: 78px;
}
@media screen and (min-width: 768px) {
  .howWeWork__item::after {
    bottom: 42px;
  }
}
@media screen and (min-width: 1440px) {
  .howWeWork__item::after {
    bottom: 48px;
  }
}

.howWeWork__subtitle {
  margin-bottom: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4285714286;
}
.howWeWork__subtitle::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--pure-black-color);
  display: block;
  height: 1px;
  width: 100%;
}

.howWeWork__description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
  max-width: 750px;
}
@media screen and (min-width: 768px) {
  .howWeWork__description {
    width: 424px;
  }
}

.BIMServices {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--pure-white-color);
}

.BIM__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
  margin-bottom: 40px;
}

.BIMServices__list {
  list-style: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .BIMServices__list {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .BIMServices__list {
    gap: 28px;
  }
}

.benefits__item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 24px;
}
.benefits__item::before {
  content: " ";
  display: inline-block;
  background-image: url(../images/vectors/vector-right.svg);
  width: 40px;
  height: 40px;
  background-size: cover;
  color: #CDCDCD;
}
.benefits__description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
  width: 260px;
}
@media screen and (min-width: 768px) {
  .benefits__description {
    width: 282px;
  }
}
@media screen and (min-width: 1440px) {
  .benefits__description {
    width: 478px;
  }
}

.benefits__title {
  font-family: "PT Mono";
  font-weight: 900;
  font-size: 20px;
}

.contact-us {
  background-color: var(--pure-white-color);
}

.contact-us__block {
  width: 320px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-color: var(--background-color);
}
@media screen and (min-width: 768px) {
  .contact-us__block {
    width: 704px;
  }
}
@media screen and (min-width: 1440px) {
  .contact-us__block {
    width: 1136px;
  }
}

.contact-us__title {
  margin: 0 auto 32px;
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--dark-grey-color);
}
@media screen and (max-width: 767.98px) {
  .contact-us__title {
    max-width: 284px;
  }
}

.contact-us__description {
  margin: 0 auto 32px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
}
@media screen and (min-width: 768px) {
  .contact-us__description {
    width: 560px;
  }
}
@media screen and (min-width: 1440px) {
  .contact-us__description {
    width: 672px;
  }
}

.outsourceProjects {
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .outsourceProjects {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .outsourceProjects {
    padding-bottom: 80px;
  }
}

.outsourceProjects__title {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .outsourceProjects__title {
    padding-bottom: 52px;
  }
}

.outsourceProjects__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4285714286;
  margin-bottom: 34px;
  max-width: 240px;
  padding-left: 80px;
}
@media screen and (min-width: 768px) {
  .outsourceProjects__subtitle {
    max-width: 100%;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .outsourceProjects__subtitle {
    width: 440px;
    margin-bottom: 0;
    padding-left: 175px;
    margin-right: 40px;
  }
}
.outsourceProjects__subtitle::before {
  content: "";
  position: absolute;
  top: -11;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../images/vectors/grey-arrow-right.svg);
  background-size: 100% 100%;
  background-size: cover;
}
@media screen and (min-width: 1440px) {
  .outsourceProjects__subtitle::before {
    top: 0;
    left: 97;
  }
}

.outsourceProjects > .outsourceProjects__description {
  padding-bottom: 40px;
}

.outsourceProjects__description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
}

@media screen and (min-width: 768px) {
  .outsourceProjects__item > .outsourceProjects__description {
    margin-left: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .outsourceProjects__item > .outsourceProjects__description {
    margin-left: 0;
    max-width: 495px;
  }
}

.outsourceProjects__list {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
}

.outsourceProjects__item {
  margin-top: 32px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .outsourceProjects__item {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .outsourceProjects__item {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .outsourceProjects__item:first-child {
    margin-top: 52px;
  }
}

.bim-automation-services {
  padding: 32px 20px;
}
@media screen and (min-width: 768px) {
  .bim-automation-services {
    padding: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .bim-automation-services {
    padding: 120px 152px;
  }
}

.bim-automation-services__title {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  margin-bottom: 24px;
}

.bim-automation-services__block {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--pure-white-color);
}
@media screen and (min-width: 768px) {
  .bim-automation-services__block {
    padding-left: 52px;
    padding-right: 52px;
    padding-top: 52px;
    padding-bottom: 62px;
  }
}
@media screen and (min-width: 1440px) {
  .bim-automation-services__block {
    padding: 80px;
  }
}

.bim-automation-services__text,
.bim-automation-services__topic,
.bim-automation-services__item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
}

.bim-automation-services__text {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .bim-automation-services__text {
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 1440px) {
  .bim-automation-services__text {
    max-width: 768px;
  }
}

.bim-automation-services__topic {
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .bim-automation-services__topic {
    margin-bottom: 62px;
  }
}
@media screen and (min-width: 1440px) {
  .bim-automation-services__topic {
    margin-bottom: 63px;
  }
}

.bim-automation-services__list {
  padding-left: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 34px;
}
@media screen and (min-width: 768px) {
  .bim-automation-services__list {
    gap: 53px;
  }
}
@media screen and (min-width: 1440px) {
  .bim-automation-services__list {
    flex-direction: row;
    gap: 35px 116px;
  }
}

.bim-automation-services__item {
  position: relative;
  min-height: 40px;
}
.bim-automation-services__item::before {
  content: " ";
  position: absolute;
  display: block;
  left: -60px;
  top: -11px;
  width: 40px;
  height: 40px;
  background-image: url(../images/vectors/arrow_long_right.svg);
}
@media screen and (min-width: 768px) {
  .bim-automation-services__item {
    min-height: 0;
  }
}
@media screen and (min-width: 1440px) {
  .bim-automation-services__item {
    min-height: 41px;
    width: 400px;
  }
}

.impact-on-business {
  background-color: white;
}

.impact-on-business__container {
  padding-bottom: 40px;
}
@media screen and (min-width: 1440px) {
  .impact-on-business__container {
    padding-bottom: 80px;
  }
}

.impact-on-business__title {
  margin-bottom: 52px;
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
}

@media screen and (min-width: 1440px) {
  .impact-on-business__block {
    display: flex;
    gap: 158px;
  }
}

.impact-on-business__description {
  margin-bottom: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
}
@media screen and (min-width: 1440px) {
  .impact-on-business__description {
    width: 553px;
    margin-bottom: 0;
    flex-shrink: 0;
  }
}

.impact-on-business__item {
  display: flex;
  gap: 28px;
}
.impact-on-business__item:not(:last-child) {
  margin-bottom: 16px;
}

.impact-on-business__number {
  width: 37px;
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  flex-shrink: 0;
  -moz-text-align-last: right;
       text-align-last: right;
}

.impact-on-business__statistics {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
}

.site-header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  padding: 0px 20px;
  background-color: #ffffff;
}

.main-navigation {
  display: flex;
  gap: 20px;
  align-items: center;
}

.main-navigation__list {
  display: flex;
  gap: 52px;
  align-items: center;
}

.main-navigation__link {
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
}

.contact-us-btn {
  padding: 16px;
  text-transform: uppercase;
  font-family: "PT Mono";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  background-color: #0e0e0e;
  color: #ffffff;
}

.has-dropdown {
  position: relative;
  top: 0;
}
.has-dropdown:hover .main-navigation__dropdown {
  pointer-events: auto;
  transform: scaleY(1);
  visibility: visible;
}

.main-navigation__dropdown {
  display: none;
}
@media screen and (min-width: 720px) {
  .main-navigation__dropdown {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #cdcdcd;
    left: 0;
    padding: 48px 28px;
    pointer-events: none;
    position: absolute;
    top: 100%;
    transform: scaleY(0);
    transform-origin: right top;
    transition: all 0.25s linear;
    visibility: hidden;
    width: 360px;
    font-family: "PT Mono";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.125;
    color: #0e0e0e;
  }
}

@media screen and (min-width: 768px) {
  .site-header {
    max-width: 704px;
    padding: 0px 24px 0px 8px;
  }
  .main-navigation {
    gap: 52px;
  }
}
@media screen and (min-width: 1440px) {
  .site-header {
    max-width: 1136px;
  }
  .main-navigation {
    gap: 40px;
  }
}
@media screen and (max-width: 767.98px) {
  .main-navigation__item:not(:nth-child(2)) {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .main-navigation__item:last-child {
    display: none;
  }
}
body._lock {
  overflow: hidden;
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 5;
  position: relative;
}

.burger-btn._active .burger-icon {
  display: none;
}

.burger-btn._active .burger-close-icon {
  display: block;
}

.burger-icon {
  display: block;
}

.burger-close-icon {
  display: none;
}

.burger-menu {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #cdcdcd;
  overflow: auto;
  pointer-events: none;
  transform: scaleY(0);
  transform-origin: right top;
  transition: all 0.3s linear;
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
}

.burger-menu._active {
  pointer-events: auto;
  transform: scaleY(1);
  visibility: visible;
}

.burger-menu__list {
  padding: 96px 20px 96px 20px;
}

.burger-menu__el {
  margin-bottom: 8px;
}

.burger-menu__el:last-child {
  margin-bottom: 0px;
}

.burger-menu__el:first-child {
  margin-bottom: 12px;
}

.burger-menu__el:nth-child(3) {
  margin-bottom: 12px;
}

.burger-menu__el--disabled {
  cursor: default;
  color: #828282;
}

.burger-sub-menu__list {
  padding-left: 24px;
}

.burger-sub-menu__el {
  margin-bottom: 8px;
}

.burger-sub-menu__el:last-child {
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .burger-menu {
    left: auto;
    right: 36px;
    width: 390px;
  }
}
@media screen and (min-width: 1440px) {
  .burger-menu {
    right: 20px;
  }
}
.have-BIM-project {
  background-color: var(--pure-white-color);
}

.have-BIM-project__block {
  width: 320px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-color: var(--background-color);
}
@media screen and (min-width: 768px) {
  .have-BIM-project__block {
    width: 704px;
  }
}
@media screen and (min-width: 1440px) {
  .have-BIM-project__block {
    width: 1136px;
  }
}

.have-BIM-project__title {
  margin: 0 auto 40px;
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--dark-grey-color);
}
@media screen and (max-width: 767.98px) {
  .have-BIM-project__title {
    max-width: 284px;
  }
}

.caseStudies__subtitle {
  margin-bottom: 52px;
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
}

.caseStudies__list {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

@media screen and (min-width: 768px) {
  .caseStudies__list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 18px;
    justify-content: space-between;
  }
}
.caseStudies__item {
  width: 316px;
  border: 2px solid var(--ligth-grey-color);
}
.caseStudies__item:hover {
  transition: 500ms;
  color: var(--pure-white-color);
  background-color: var(--pure-black-color);
}
.caseStudies__item:hover p::after {
  content: "";
  margin-left: 128px;
  filter: invert(100%);
  display: inline-block;
  background-repeat: no-repeat;
  height: 24px;
  width: 20px;
  background-size: contain;
  background-image: url(../images/vectors/vector-right.svg);
}
@media screen and (min-width: 768px) {
  .caseStudies__item {
    width: 342px;
  }
  .caseStudies__item:hover p::after {
    margin-left: 114px;
    width: 56px;
    height: 56px;
    background-position: top;
  }
}
@media screen and (min-width: 1440px) {
  .caseStudies__item {
    width: 360px;
  }
}

.caseStudies__section-title {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  margin-bottom: 16px;
}

.caseStudies__infoDiv {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4285714286;
  padding: 18px 24px 36px 18px;
}
@media screen and (min-width: 768px) {
  .caseStudies__infoDiv {
    height: 146px;
    padding-bottom: 28px;
  }
}

.caseStudies__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.caseStudies__body {
  display: flex;
}

.caseStudies__all-arrow {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  margin-bottom: 59px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.caseStudies__all-arrow::after {
  content: "";
  width: 56px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/vectors/vector-right.svg);
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .caseStudies__all-arrow {
    margin-left: 183px;
    justify-content: start;
  }
}

.caseStudies__all-link:hover, .caseStudies__all-link:focus {
  transition: 300ms;
  opacity: 50%;
}

.join-team {
  padding-top: 40px;
  padding-bottom: 40px;
  background: var(--pure-white-color);
}
@media screen and (min-width: 768px) {
  .join-team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .join-team {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.join-team__title {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  font-size: 24px;
  text-transform: uppercase;
  color: var(--dark-grey-color);
}

.join-team__text {
  margin-top: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
  color: var(--dark-grey-color);
}
@media screen and (min-width: 768px) {
  .join-team__text {
    margin-top: 52px;
    width: 554px;
  }
}
@media screen and (min-width: 1440px) {
  .join-team__text {
    margin-top: 52px;
  }
}

@media screen and (min-width: 1440px) {
  .join-team__flex {
    display: flex;
    margin-left: 17px;
  }
}

.join-team__position {
  margin: 52px auto;
  width: 320px;
}
@media screen and (min-width: 768px) {
  .join-team__position {
    width: 376px;
  }
}

.join-team__position-title {
  margin-top: 40px;
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--dark-grey-color);
}

.join-team__position-subtitle {
  margin-top: 2px;
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  color: var(--grey-color);
}

.join-team__position-specification {
  margin-top: 16px;
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  color: var(--dark-grey-color);
}

.join-team__position-specification-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 24px;
}

.join-team__position-specification-item {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--dark-grey-color);
}

.join-team__position-specification-item::before {
  content: url("../images/vectors/pseudo.svg");
}

.join-team__position-specification-item-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
}

.join-team__btn {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  gap: 8px;
  margin-top: 24px;
  background: var(--pure-white-color);
  border: none;
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  color: var(--dark-grey-color);
}

.footer {
  padding: 0 20px 40px;
  background-color: white;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 36px;
    padding: 40px 32px;
  }
}
@media screen and (min-width: 1440px) {
  .footer {
    padding: 40px 152px;
  }
}

.footer__nav {
  display: inline-block;
  -moz-columns: 2;
       columns: 2;
  -moz-column-gap: 80px;
       column-gap: 80px;
  margin-bottom: 28px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
  text-transform: capitalize;
  line-height: 20px;
  color: var(--dark-grey-color);
}
@media screen and (min-width: 768px) {
  .footer__nav {
    -moz-columns: 1;
         columns: 1;
    margin-right: 91px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__nav {
    -moz-columns: 2;
         columns: 2;
    -moz-column-gap: 40px;
         column-gap: 40px;
    margin-right: 98px;
  }
}

.footer__navItem,
.footer__servItem {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 4px;
}

.footer__navItem::after,
.footer__servItem::after {
  display: block;
  position: absolute;
  right: 50%;
  width: 0;
  content: "";
  transition: width 300ms linear, right 300ms linear;
}

.footer__navItem.active::after,
.footer__servItem.active::after,
.footer__navItem:hover::after,
.footer__servItem:hover::after {
  right: 0;
  width: 100%;
  border: 1px solid var(--pure-black-color);
}

.footer__services {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
  text-transform: capitalize;
  line-height: 20px;
  color: var(--dark-grey-color);
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .footer__services {
    margin-right: auto;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1440px) {
  .footer__services {
    display: inline-block;
    -moz-columns: 3;
         columns: 3;
  }
}

.footer__title {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  margin-bottom: 10px;
}

.footer__social {
  margin: 0 auto 32px;
  width: 160px;
}
@media screen and (min-width: 768px) {
  .footer__social {
    margin: 0;
    width: 144px;
    text-align: right;
  }
}

.scroll-up {
  display: block;
  text-align: center;
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
}
@media screen and (min-width: 768px) {
  .scroll-up {
    display: inline-block;
    margin-bottom: 18px;
  }
}

.scroll-up::after {
  display: block;
  width: 14px;
  height: 14px;
  content: "";
  margin: 0 auto;
  background-image: url("../images/vectors/vector up.svg");
  margin: 4px auto 12px;
}
@media screen and (min-width: 768px) {
  .scroll-up::after {
    display: inline-block;
    margin: 0 0 0 8px;
  }
}

.footer__icons {
  display: flex;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .footer__icons {
    gap: 24px;
  }
}

.footer__icon:hover {
  opacity: 0.7;
}

.footer__slogan {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .footer__slogan {
    text-align: left;
    margin-left: 181px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__slogan {
    text-align: left;
    margin-left: 0;
  }
}/*# sourceMappingURL=index.css.map */