<section id="conclusion" class="section conclusion">
  <div class="container container__blog">
    <h2 class="conclusion__title">Conclusion</h2>
    <img
      class="conclusion__img"
      srcset="
        ../images/7-benefits/conclusion/conclusion-s@1x.jpg  320w,
        ../images/7-benefits/conclusion/conclusion-s@2x.jpg  640w,
        ../images/7-benefits/conclusion/conclusion-m@1x.jpg  704w,
        ../images/7-benefits/conclusion/conclusion-m@2x.jpg 1408w,
        ../images/7-benefits/conclusion/conclusion-l@1x.jpg  748w,
        ../images/7-benefits/conclusion/conclusion-l@2x.jpg 1496w
      "
      sizes="(min-width: 1440px) 748px, (min-width: 768px) 704px, (min-width: 360px) 320px, 100vw"
      loading="lazy"
      src="../images/7-benefits/conclusion/conclusion-s@1x.jpg "
    />
    <p class="conclusion__text">
      BIM in construction can be the only thing standing between a successful
      project and a stalled construction. When used appropriately, BIM software
      can help you make smarter design choices, optimize labor, and reduce
      operating costs.
    </p>
    <p class="conclusion__text">
      Do you want to enhance your next project with proven technological
      solutions? Powerkh has completed over 200 BIM projects for
      industry-leading companies. Our portfolio includes modeling for
      apartments, residential buildings, and industrial complexes. Contact us to
      learn more about our BIM modeling services and our successful projects.
    </p>
  </div>
</section>
