<section id="disadvantages" class="section disadvantages">
  <div class="container container__blog">
    <h3 class="disadvantages__title">Disadvantages of BIM outsourcing</h3>
    <img
      class="disadvantages__img"
      srcset="
        ../images/7-benefits/disadvantages/disadvantages-s@1x.jpg  320w,
        ../images/7-benefits/disadvantages/disadvantages-s@2x.jpg  640w,
        ../images/7-benefits/disadvantages/disadvantages-m@1x.jpg  704w,
        ../images/7-benefits/disadvantages/disadvantages-m@2x.jpg 1408w,
        ../images/7-benefits/disadvantages/disadvantages-l@1x.jpg  748w,
        ../images/7-benefits/disadvantages/disadvantages-l@2x.jpg 1496w
      "
      sizes="(min-width: 1440px) 748px, (min-width: 768px) 704px, (min-width: 360px) 320px, 100vw"
      src="../images/7-benefits/disadvantages/disadvantages-s@1x.jpg "
      loading="lazy"
      alt="disadvantages pic"
    />
    <p class="disadvantages__text">
      Despite the positive impact of BIM on the construction management
      industry, the technology isn't perfect. Here's what some people consider
      to be its primary drawbacks:
    </p>
    <ul>
      <li>
        <h3 class="disadvantages__title">01 Demanding technology</h3>
        <p class="disadvantages__text">
          BIM is not just 3D modeling software. BIM technology is a set of
          software tools and methodologies, which are used to model graphical
          and non-graphical interactive databases during the entire life cycle
          of the project.
        </p>
        <p class="disadvantages__text">
          The components that make up a BIM can evolve during the project’s
          development phase. Some of the most popular modeling tools include
          expensive premium software such as:
        </p>
        <ul>
          <li class="disadvantages__softItems">Autodesk Revit</li>
          <li class="disadvantages__softItems">Navisworks</li>
          <li class="disadvantages__softItems">Dynamo</li>
          <li class="disadvantages__softItems">SYNCHRO Pro</li>
          <li class="disadvantages__softItems">Solibri</li>
          <li class="disadvantages__softItems">Tekla</li>
        </ul>
        <p class="disadvantages__text">
          Companies wanting to embrace BIM should plan to invest resources to
          find and vet talent. You will also need a lot of time and money to
          train your staff.
        </p>
        <p class="disadvantages__text">
          BIM is a long-term investment. You shouldn’t expect to optimize
          workload on your first project. Unless, of course, you hire a BIM
          service provider.
        </p>
      </li>
      <li>
        <h3 class="disadvantages__title">02 Reliant on cooperation</h3>
        <p class="disadvantages__text">
          Using BIM services requires active engagement and regular input from
          stakeholders. All parties have to be willing to invest their time and
          resources to make a BIM project perform as it should. Your project may
          face complications if one of your subcontractors is new to the
          technology or doesn’t understand the advantages of BIM for
          construction, but there is a solution.
        </p>
        <p class="disadvantages__text">
          The right BIM company can offer proven workflow design and cloud
          solutions to coordinate projects remotely and in real-time. You’ll be
          able to coordinate the efforts of your engineers, consultants,
          designers, and architects to improve your productivity during all
          stages of construction.
        </p>
      </li>
      <li>
        <h3 class="disadvantages__title">03 Lack of experts</h3>
        <p class="disadvantages__text">
          Creating an accurate BIM model requires in-depth technical skills with
          various modeling software. You also need knowledgeable engineering and
          design professionals to check the compatibility of architectural,
          structural, mechanical, electrical, and plumbing systems.
        </p>
        <p class="disadvantages__text">
          Many BIM design firms can create a 3D model that works on paper. But
          only qualified experts with relevant experience can ensure that your
          construction model is technically feasible.
        </p>
      </li>
    </ul>
  </div>
</section>
