<section class="section whereToFind">
  <div class="container container__blog">
    <h2 class="whereToFind__title">Where to find BIM experts?</h2>
    <img
      class="whereToFind__img"
      srcset="
        ../images/7-benefits/where-to-find/where-to-find-s@1x.jpg  320w,
        ../images/7-benefits/where-to-find/where-to-find-s@2x.jpg  640w,
        ../images/7-benefits/where-to-find/where-to-find-m@1x.jpg  704w,
        ../images/7-benefits/where-to-find/where-to-find-m@2x.jpg 1408w,
        ../images/7-benefits/where-to-find/where-to-find-l@1x.jpg  748w,
        ../images/7-benefits/where-to-find/where-to-find-l@2x.jpg 1496w
      "
      sizes="(min-width: 1440px) 748px, (min-width: 768px) 704px, (min-width: 360px) 320px, 100vw"
      src="../images/7-benefits/where-to-find/where-to-find-s@1x.jpg "
      loading="lazy"
      alt="where to find"
    />
    <p class="whereToFind__text">
      When people say BIM is not necessary for their project, they mean that
      it’s too complex for them. However, the right company can do the modeling
      for you.
    </p>
    <p class="whereToFind__text">
      But finding the right BIM company for your construction project can be
      difficult. To make the most out of BIM technology, you need to consider
      the following:
    </p>
    <ul>
      <li class="whereToFind__text__list">
        Engineering qualifications. Experts with an engineering background will
        understand your designs and be able to transform your flat drawings into
        fully realized 3D models.
      </li>
      <li class="whereToFind__text__list">
        Value for the money. Some companies may charge high prices, but you will
        spend less overall if design problems are identified and fixed as early
        as possible.
      </li>
      <li class="whereToFind__text__list">
        Experience in design. The right provider will know how to resolve your
        problems and help you stay within your budget.
      </li>
      <li class="whereToFind__text__list">
        Legislative knowledge. Companies with legal experts on their team can
        ensure that your project adheres to local and governmental standards.
      </li>
      <li class="whereToFind__text__list">
        Track record. A company with relevant case studies is much more likely
        to help you improve your project.
      </li>
    </ul>
    <p class="whereToFind__text">
      You won’t have to go far to work with a company that checks all these
      boxes.
    </p>
    <p class="whereToFind__text">
      Powerkh is a professional digital design consultancy partner that offers a
      wide range of BIM services. Our experts can find and resolve issues in
      your design and optimize your workflow with proven methodologies.
    </p>
  </div>
</section>
