<section class="BIM-modeling"></section>
<section class="renderService__slider">
  <div class="container">
    <div class="section-projects__slider-item renderSlider"></div>
  </div>
</section>
<section class="howWeWork howWeWork__underSlider"></section>
<section class="bim-automation-services container"></section>
<section class="section-projects samples">
  <div class="container section-projects__block">
    <h2 class="section-projects__title">Our Project Samples</h2>
    <p class="section-projects__desc section-projects__above-slider">
      Powerkh has produced over 1000 3D architectural rendering images and
      animations. Here are some projects from our portfolio:
    </p>
    <div class="section-projects__slider">
      <div class="section-projects__slider-item samples"></div>
    </div>
    <p class="section-projects__desc section-projects__under-slider">
      You can see more of our successful architectural rendering projects at
      <a
        href="https://jazzrender.com/"
        target="_blank"
        class="section-projects__www"
        >jazzrender.com.</a
      >
    </p>
  </div>
</section>
<section class="contact-us"></section>
<section class="section faq"></section>
