{{! підставити об'єкт }}
{{! приклад об'єкта: {title: 'текст заголовка', description: 'опис'
} }}

{{! <section class="contact-us"> }}
<div class='container'>
  <div class='contact-us__block'>
    <h2 class='contact-us__title'>{{this.title}}</h2>
    <p class='contact-us__description'>
      {{this.description}}
    </p>
    <button type='button' class='btn contact-us__button js-btn-modal'>CONTACT US</button>
  </div>
</div>