{{!-- потрібно підставити об`єкт--}}
{{!-- приклад об'єкта: {title: 'текст заголовку', list: [{subtitle: 'текст заголовка', description: 'опис'}]} --}}
{{!-- section class='howWeWork'--}}
 <div class="container">
    <h2 class="section-title howWeWork__title">
      {{this.title}}
    </h2>
    <ol class="howWeWork__list">
      {{#each this.list}}
<li class="howWeWork__item">
      <h3 class="howWeWork__subtitle">{{this.subtitle}}</h3>
      <p class="howWeWork__description">
       {{this.description}}
      </p>
    </li>
    {{/each}}
  </ol>
</div>