{{!-- потрібно підставити массив обєктів--}}
{{!-- приклад об'єкта: {subtitle: 'текст заголовка', description: 'опис'
} --}}
 <div class="container">
    <h2 class="section-title howWeWork__title">
      How Powerkh Works with Clients
    </h2>
    <ol class="howWeWork__list">
      {{#each this}}
<li class="howWeWork__item">
      <h3 class="howWeWork__subtitle">{{this.subtitle}}</h3>
      <p class="howWeWork__description">
       {{this.description}}
      </p>
    </li>
    {{/each}}
    </ol>
  </div>
