{{#each this}}
<li class="howWeWork__item">
      <h3 class="howWeWork__subtitle">{{this.subtitle}}</h3>
      <p class="howWeWork__description">
       {{this.description}}
      </p>
    </li>
    {{/each}}