{{! <section class="section-projects"> 
    <div class="container section-projects__block">
        <h2 class="section-projects__title">Our BIM Modeling Projects</h2> -> ВПИСУЄТЕ ВРУЧНУ СВІЙ ТАЙТЛ
        <p class="section-projects__desc">We have over 200 BIM projects behind our back. Here are some examples of our work:</p> -> ВПИСУЄТЕ ВРУЧНУ СВІЙ ТЕКСТ
        <div class="section-projects__slider">
            <div class="section-projects__slider-item bmp"> -> Не забудь додати свій клас, для того, щоб по ньому зробити querySelector
                   Шаблон сюди
            </div> 
        </div>
    </div>
</section> }}

{{! потрібно підставити  масив}}
{{! приклад об'єкта: 
[
  { img1x: img11x, img2x: img12x },
  { img1x: img21x, img2x: img22x },
  { img1x: img31x, img2x: img32x },
  { img1x: img41x, img2x: img42x },
];
}}

{{#each this}}
  <img
    srcset='{{this.img1x}} 1x, {{this.img2x}} 2x'
    src={{this.img1x}}
    loading="lazy"
    alt='Slide'
  />
{{/each}}