<div class='share__wrapper'>
  <h3 class='share__title'>{{this.title}}</h3>
  <ul class='share__list'>
    {{#each this.list}}
      <li class='share__item {{this.class}}'>
        <a class='share__link' href='{{this.link}}'>

        </a>
      </li>
    {{/each}}
  </ul>
</div>