<div class='container solution'>
  <h2 class='solution__title'>{{this.title}}</h2>
  <img class='solution__img' src='../images/solution/image 121.png' alt='' />
  <figure class='solution__gif-container'><img
      class='solution__gif'
      src='../images/gifs/_2018.gif'
      alt=''
    /></figure>

</div>