<section class="BIM-modeling"></section>
<section class="howWeWork"></section>
<section class="bim-automation-services container"></section>
<section class="outsourceProjects"></section>
<section class="section-projects">
  <div class="container section-projects__block">
    <h2 class="section-projects__title">Our Project Samples</h2>
    <p class="section-projects__desc">
      Powerkh produces Revit content for renowned construction and manufacturing
      companies. Our projects include:
    </p>

    <div class="section-projects__slider">
      <div class="section-projects__slider-item bmp"></div>
    </div>
  </div>
</section>
<section class="contact-us"></section>
<section class="section faq"></section>
