body {
  background-color: var(--dark-grey-color);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

body._lock {
  overflow: hidden;
}

.bim-coordination-page {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url('../images/hero/bim-coordination@1x-small.jpg');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/hero/bim-coordination@2x-small.jpg');
  }

  @include mq(tab) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('../images/hero/bim-coordination@1x.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/hero/bim-coordination@2x.jpg');
    }
  }
}
.bim-content-page {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url('../images/hero/bim-content@1x-small.jpg');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/hero/bim-content@2x-small.jpg');
  }

  @include mq(tab) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('../images/hero/bim-content@1x.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/hero/bim-content@2x.jpg');
    }
  }
}
.prefabrication-page {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url('../images/hero/prefabrication@1x-small.jpg');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/hero/prefabrication@2x-small.jpg');
  }

  @include mq(tab) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('../images/hero/prefabrication@1x.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/hero/prefabrication@2x.jpg');
    }
  }
}

.scan-to-bim-page {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url('../images/hero/scan-to-bim@1x-small.jpg');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/hero/scan-to-bim@2x-small.jpg');
  }

  @include mq(tab) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('../images/hero/scan-to-bim@1x.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/hero/scan-to-bim@2x.jpg');
    }
  }
}

.career-page {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url('../images/hero/career@1x-small.jpg');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/hero/career@2x-small.jpg');
  }

  @include mq(tab) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('../images/hero/career@1x.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/hero/career@2x.jpg');
    }
  }
}

.archi-rendering-page {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url('../images/hero/architectural-rendering@1x-small.jpg');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/hero/architectural-rendering@2x-small.jpg');
  }

  @include mq(tab) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('../images/hero/architectural-rendering@1x.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/hero/architectural-rendering@2x.jpg');
    }
  }
}

.BIM-page {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url('../images/hero/bim-modeling@1x-small.jpg');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/hero/bim-modeling@2x-small.jpg');
  }

  @include mq(tab) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('../images/hero/bim-modeling@1x.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/hero/bim-modeling@2x.jpg');
    }
  }
}

.seven-benefits-of-bim-page {
  background: none;
  .hero-part-four {
    background-color: var(--dark-grey-color);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('../images/hero/benefits-of-bim-services@1x-small.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/hero/benefits-of-bim-services@2x-small.jpg');
    }
    @include mq(tab) {
      background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.8) 0%,
          rgba(0, 0, 0, 0) 100%
        ),
        url('../images/hero/benefits-of-bim-services@1x.jpg');

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url('../images/hero/benefits-of-bim-services@2x.jpg');
      }
    }
  }
}
.contacts-page {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url('../images/hero/contacts@1x-small.jpg');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/hero/contacts@2x-small.jpg');
  }

  @include mq(tab) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('../images/hero/contacts@1x.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/hero/contacts@2x.jpg');
    }
  }
}

.bim-automation-page {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url('../images/hero/bim-automation@1x-small.jpg');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/hero/bim-automation@2x-small.jpg');
  }

  @include mq(tab) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('../images/hero/bim-automation@1x.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/hero/bim-automation@2x.jpg');
    }
  }
}
.suspended-case-page,
.floor-page,
.formwork-page {
  background-color: var(--pure-white-color);
}

.top-thirty-architectural-rendering {
  background: none;
  .hero-part-four {
    background-color: var(--dark-grey-color);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('../images/hero/top-30-architectural@1x-small.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/hero/top-30-architectural@2x-small.jpg');
    }
    @include mq(tab) {
      background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.8) 0%,
          rgba(0, 0, 0, 0) 100%
        ),
        url('../images/hero/top-30-architectural@1x.jpg');

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url('../images/hero/top-30-architectural@2x.jpg');
      }
    }
  }
}

.structural-detailing-page {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url('../images/hero/structural-detailing@1x-small.jpg');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/hero/structural-detailing@2x-small.jpg');
  }

  @include mq(tab) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('../images/hero/structural-detailing@1x.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/hero/structural-detailing@2x.jpg');
    }
  }
}

.about-page {
  background-image: none;
  background-color: var(--pure-white-color);
}
