.container {
  margin: 0 auto;
  padding: 0 20px;
  @include mq(mob) {
    max-width: 360px;
  }

  @include mq(tab) {
    padding: 0 32px;
    max-width: 768px;
  }

  @include mq(desk) {
    padding: 0 152px;
    max-width: 1440px;
  }
}

.btn {
  padding: 16px;
  border: none;
  color: var(--pure-white-color);
  text-transform: uppercase;
  @include font-button;
  background-color: var(--dark-grey-color);
  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.disable-interaction {
  pointer-events: none;
}

.display-none-js {
  display: none !important;
}

.error-message {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  padding-left: 19px;
  color: var(--error-color);
  &::before {
    margin-right: 6px;
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    display: block;
    width: 13px;
    height: 12px;
    background-image: url('../images/vectors/attantion.svg');
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
