.container {
  margin: 0 auto;
  padding: 0 20px;
  @include mq(mob) {
    max-width: 360px;
  }

  @include mq(tab) {
    padding: 0 32px;
    max-width: 768px;
  }

  @include mq(desk) {
    padding: 0 152px;
    max-width: 1440px;
  }
}
.btn {
  padding: 16px;
  color: var(--pure-white-color);
  text-transform: uppercase;
  @include font-button;
  background-color: var(--dark-grey-color);
}
