@mixin font-h1 {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: calc(34 / 30);
}

@mixin font-h1-24 {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(27 / 24);
}
@mixin font-title {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(22 / 20);
}

@mixin font-title-20 {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(20 / 20);
}

@mixin font-title-14 {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
}
@mixin font-button {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
}

@mixin font-mono-14-20 {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(20 / 14);
}

@mixin font-mono-16-18 {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(18 / 16);
}

@mixin font-mono-reg-20 {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(22 / 20);
}
@mixin font-mono-reg-14 {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(16 / 14);
}

@mixin font-body-bold {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(20 / 14);
}

@mixin font-body-bold-12 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(14 / 12);
}

@mixin font-body-reg {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(20 / 14);
}

@mixin font-body-reg-16 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(18 / 16);
}
