body {
  overflow-y: overlay;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);

  border-radius: 10px;
  background: var(--ligth-grey-color);
}

::-webkit-scrollbar-thumb {
  background: var(--grey-color);
  border-radius: 8px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
