:root {
  --pure-black-color: #000000;
  --pure-white-color: #ffffff;
  --dark-grey-color: #0e0e0e;

  --ligth-grey-color: #cdcdcd;
  --grey-color: #909090;
  --background-color: #f5f5f5;
  --error-color: #eb5757;
  --www-color: #0000ee;
}
