<section class="BIM-modeling"></section>
<section class="howWeWork"></section>
<section class="bim-automation-services container"></section>
<section class="outsourceProjects"></section>
<section class="section-projects">
  <div class="container section-projects__block">
    <h2 class="section-projects__title">
      Our Prefabrication & Fabrication Projects
    </h2>
    <p class="section-projects__desc">
      Powerkh works with manufacturers and construction companies across all
      industries. Here are some of our BIM prefabrication projects:
    </p>
    <div class="section-projects__slider">
      <div class="section-projects__slider-item bmp"></div>
    </div>
  </div>
</section>
<section class="contact-us"></section>
