<!-- <section class="BIMServices">
  <div class="container">
    <h2 class="benefits__title">BIM Coordination & Clash Detection</h2>
    <p class="benefits__text">
      Back in the day, design specialists used tracing paper to check the
      compatibility of architectural, structural, and MEP systems. As a result,
      many clashes become known on-site, which leads to re-works, slows
      projects, and inflates the budget.
    </p>
    <p class="benefits__text">
      BIM coordination allows designers to use interactive 3D models to
      eliminate conflicts in design and mitigate risks during the construction
      phase.
    </p>
    <p class="benefits__text">
      Powerkh can evaluate your entire construction according to the project’s
      documentation, visual references, and technical specifications. Our BIM
      coordination services include clash detection, constructability reviews,
      coordination meetings, and other solutions to keep your project on track.
    </p>
  </div>
</section> -->
<section class="howWeWork">
  <!-- <h2 class="section-title howWeWork__title">
    How We Deliver BIM Prefabrication & Fabrication
  </h2> -->
</section>
<section class="bim-automation-services container"></section>
<section class="outsourceProjects container"></section>
<section class="contact-us"></section>
