<!-- <div class='container bim-automation-services__block'>
    <h2 class='bim-automation-services__title'>{{this.title}}</h2>
    <p class='bim-automation-services__text'>{{this.text}}</p>
    <p class='bim-automation-services__topic'>{{this.topic}}</p>
    <ul class='bim-automation-services__list'>
      {{#each this.list}}
        <li class='bim-automation-services__item'>{{this}}</li>
      {{/each}}
    </ul>
  </div> -->

<section class="bim-modeling-projects">
    <div class="container bim-modeling-projects__block">
        <div class="bim-modeling-projects__slider">
            <div class="bim-modeling-projects__slider-item">
                <img src="../images/slider/bim-modeling/BIM Modeling img-01@1x.png" alt="">
                <img src="../images/slider/bim-modeling/BIM Modeling img-02@1x.png" alt="">
                <img src="../images/slider/bim-modeling/BIM Modeling img-03@1x.png" alt="">
            </div>
        </div>
    </div>
</section>

<!-- jQuery connect -->
<!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> -->
<!-- Slick slider connect -->
<!-- <script src="../js/bim-modeling/bim-modeling-projects/slick.min.js"></script> -->
<!-- Script files connect -->
<!-- <script src="../js/bim-modeling/bim-modeling-projects/bim-modeling-projects.js"></script> -->