<!-- <section class="BIMServices">
    <div class="container">
      <h2 class="benefits__title">BIM Coordination & Clash Detection</h2>
      <p class="benefits__text">
        Back in the day, design specialists used tracing paper to check the
        compatibility of architectural, structural, and MEP systems. As a result,
        many clashes become known on-site, which leads to re-works, slows
        projects, and inflates the budget.
      </p>
      <p class="benefits__text">
        BIM coordination allows designers to use interactive 3D models to
        eliminate conflicts in design and mitigate risks during the construction
        phase.
      </p>
      <p class="benefits__text">
        Powerkh can evaluate your entire construction according to the project’s
        documentation, visual references, and technical specifications. Our BIM
        coordination services include clash detection, constructability reviews,
        coordination meetings, and other solutions to keep your project on track.
      </p>
    </div> -->
    <section class="BIMServices ">
        <div class="container">
    <!-- <h2 class="benefits__title">BIM & VDC Services</h2>
    <p class="benefits__text">Building Information Modeling (BIM) and Virtual Design & Construction (VDC) take construction management to new heights. However, few companies can successfully move from the conventional approach with flat drawings towards complex 3D modeling.</p>
    <p class="benefits__text" >Powerkh is one of these companies. Our team has vast experience with both traditional and digitalized projects. As such, we can ease the transition and help you out at every stage of construction.</p>
    <p class="benefits__text">Do you want to improve your project’s success rate and efficiency? Powerkh provides a wide range of Revit BIM services for various industries. We can audit your workflow and introduce automation solutions to help you perform routine processes three times as fast.</p>
    <p class="">With us at your side, you will rethink how you plan, perform, and coordinate your teams.</p>
    <h3>Who Can Benefit from BIM Outsourcing Services?</h3>
    <p class="benefits__text">Our virtual design and construction offerings bring benefits to:</p>
    <ul class="benefits__list">
        <li class="benefits__item">Architects</li>
        <li class="benefits__item">Engineers</li>
        <li>Designers</li>
        <li>Contractors</li>
    </ul> -->
    
    <ul class="BIMServices__list"> </ul>
    </div>
    </section>
  </section>
  <section class="howWeWork"></section>
  <section class="bim-automation-services container"></section>
  <section class="outsourceProjects container"></section>
  <section class="contact-us"></section>