<section class="section-projects">
    <div class="container section-projects__block">
        <h2 class="section-projects__title">Our BIM Modeling Projects</h2>
        <p class="section-projects__desc">We have over 200 BIM projects behind our back. Here are some<br>examples of our work:</p>
        <div class="section-projects__slider">
            <div class="section-projects__slider-item">
                <img src="../images/slider/bim-modeling/BIM Modeling img-01@1x.png" alt="">
                <img src="../images/slider/bim-modeling/BIM Modeling img-02@1x.png" alt="">
                <img src="../images/slider/bim-modeling/BIM Modeling img-03@1x.png" alt="">
            </div>
        </div>
    </div>
</section>

