<section class="bim-modeling-projects">
    <div class="container bim-modeling-projects__block">
        <div class="bim-modeling-projects__slider">
            <div class="bim-modeling-projects__slider-item">
                <img src="../images/slider/bim-modeling/BIM Modeling img-01@1x.png" alt="">
                <img src="../images/slider/bim-modeling/BIM Modeling img-02@1x.png" alt="">
                <img src="../images/slider/bim-modeling/BIM Modeling img-03@1x.png" alt="">
            </div>
        </div>
    </div>
</section>

