/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}



/* BIM MODELING PROJECTS SLIDER */

.bim-modeling-projects__block {

}

.bim-modeling-projects__slider {
    padding: 60px 0 0;
}

.bim-modeling-projects__slider-item {
    box-sizing: border-box;
    width: 1136px;
    height: 560px;
    position: relative;
}

.bim-modeling-projects__slider-item .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
}

.bim-modeling-projects__slider-item .slick-arrow.slick-prev {
    left: 0;
}

.bim-modeling-projects__slider-item .slick-arrow.slick-next {
    right: 0;
}

/* Точки (булиты) */
.bim-modeling-projects__slider-item .slick-dots{
    display: flex;
    margin-top: 52px;
    align-items: center;
    justify-content: center;
    gap: 36px;
}
.bim-modeling-projects__slider-item .slick-dots li{
    list-style: none;
    
}

/* Активная точка */
.bim-modeling-projects__slider-item .slick-dots li.slick-active {
    padding: 2px 0;
}

.bim-modeling-projects__slider-item .slick-dots li.slick-active button{
    width: 6px;
    height: 6px;
}
/* Элемент точки */
.bim-modeling-projects__slider-item .slick-dots li button{
    display: block;
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #0E0E0E;
    border: none;
    padding: 0;
    
}
