.contents-with-author {
  padding-top: 40px;
  padding-bottom: 40px;
  @include mq(desk) {
    padding-top: 80px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
    @include mq(tab) {
      padding-left: 32px;
      padding-right: 32px;
    }
    @include mq(desk) {
      padding-left: 249px;
      padding-right: 441px;
    }
  }
}

.blog-top {
  position: relative;
}

.contents {
  padding: 32px 16px;
  background-color: #c4c4c4;
  @include mq(tab) {
    padding: 32px 40px 32px 44px;
  }
  @include mq(desk) {
    padding: 32px 64px;
  }

  &__title {
    @include font-title-20;
    color: var(--dark-grey-color);
    margin-bottom: 29px;
    position: relative;

    &::after {
      content: '';
      display: block;
      background: var(--dark-grey-color);
      height: 1px;
      width: 100%;
      position: absolute;
      bottom: -8px;
    }
  }
  &__list {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include mq(tab) {
      padding-left: 16px;
    }
    @include mq(desk) {
      padding-left: 33px;
    }
  }

  &__subtitle {
    @include font-title-14;
    color: var(--dark-grey-color);
  }
}

.contents-author {
  @include mq(tab) {
    display: flex;
    justify-content: center;
    gap: 28px;
  }
}

.blog-seven-benefits {
  .author {
    display: block;
  }
}

.contents-author {
  padding-top: 40px;
}
.contents-information {
  display: none;
  @include mq(tab) {
    display: block;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__subtitle {
    @include font-body-reg;
    color: var(--dark-grey-color);
  }
}
