.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact-form__label {
  width: 100%;
}
.contact-form__input {
  width: 100%;
}
.contact-form__dsc {
}
.contact-form__textarea {
  width: 100%;
}
.franchise-btn {
}
