.faq {
  background-color: var(--pure-white-color);
  color: var(--dark-grey-color);
  padding-bottom: 40px;

  @include mq(tab) {
    padding-bottom: 60px;
  }
  @include mq(desk) {
    padding-bottom: 80px;
  }
}

.faq__container {
  @include mq(desk) {
    display: flex;
    gap: 255px;
  }
}

.faq__title {
  @include font-title;
  text-transform: uppercase;
  margin-bottom: 40px;

  @include mq(tab) {
    margin-bottom: 52px;
  }

  @include mq(desk) {
    margin-bottom: 0;
  }
}

.faq__questions {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.faq__questBlock {
  cursor: pointer;
}

.faq__question {
  padding-left: 32px;
  position: relative;
  display: block;
  @include font-title-14;
  text-transform: uppercase;
}

.faq__answer {
  @include font-body-reg;
  padding-top: 16px;
  opacity: 1;
  transition: opacity 300ms linear;
}

.faq__answer.visually-hidden {
  opacity: 0;
}

.faq__question::before {
  position: absolute;
  top: calc(50% - 4px);
  left: 0;
  display: block;
  width: 12px;
  height: 8px;
  content: '';
  background-image: url('../images/vectors/Polygon-3.svg');
  transition: transform 300ms linear;
}

.faq__question.open::before {
  transform: scaleY(-1);
}
