.hero .container {
  position: relative;
  height: 100vh;
}

.hero__block {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 72px);
  padding: 24px 16px;
  transform: translate(-50%, -50%);

  background: var(--pure-white-color);
  @include mq(tab) {
    padding: 52px 40px 24px;
    width: 632px;
    margin: 0 auto;
  }
  @include mq(desk) {
    left: 152px;
    padding: 52px 40px 24px;
    margin-left: 16px;
    transform: translate(0, -50%);
  }
}

.hero__frame-down-left {
  position: absolute;
  bottom: -16px;
  left: -16px;
}

.hero__frame-up-left {
  position: absolute;
  top: -16px;
  left: -16px;
}

.hero__frame-down-right {
  position: absolute;
  bottom: -16px;
  right: -16px;
}

.hero__frame-up-right {
  position: absolute;
  top: -16px;
  right: -16px;
}

.hero__title {
  @include font-title;
  font-size: 24px;
  line-height: 1.12;
  text-transform: uppercase;
  color: var(--dark-grey-color);
  margin-bottom: 24px;
  @include mq(tab) {
    margin-bottom: 32px;
  }
}

.hero__text {
  @include font-body-reg;
  color: var(--dark-grey-color);
  margin-bottom: 16px;
  @include mq(tab) {
    margin-bottom: 24px;
  }
}

.hero__btn {
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  gap: 8px;
  background: var(--pure-white-color);
  border: none;
  @include font-button;
  color: var(--dark-grey-color);
}

.hero__btn::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: calc(50% - 10px);

  display: block;
  width: 69%;
  height: 2px;
  background-color: #000000;

  transform: scaleX(0);
  transition: transform 300ms linear;
}

.hero__btn:hover::after,
.hero__btn:focus::after {
  transform: scaleX(1);
}
