.case-description {
  padding-top: 100px;
  padding-bottom: 58px;
  position: relative;
  @include mq(tab) {
    padding-top: 120px;
    padding-bottom: 78px;
  }
  @include mq(desk) {
    padding-top: 140px;
    padding-bottom: 100px;
  }
}
.case-description__link {
  display: block;
  position: relative;
  padding-left: 15px;
  margin-bottom: 32px;
  @include font-title;
  font-weight: 400;
  color: var(--ligth-grey-color);
  &::before {
    content: ' ';
    position: absolute;
    display: block;
    bottom: 5px;
    left: 0;
    width: 15px;
    height: 15px;
    background-image: url(../images/vectors/logo-part.svg);
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: cover;
  }
  &:hover,
  &:focus {
    color: var(--dark-grey-color);
    opacity: 0.7;
  }
}
.case-description__content {
  @include mq(desk) {
    display: flex;
    gap: 24px;
  }
}
.case-description__text-block {
  margin-bottom: 40px;
  @include mq(desk) {
    width: 558px;
    margin-bottom: 0;
  }
}
.case-description__title {
  margin-bottom: 24px;
  @include font-title;
  font-size: 24px;
  line-height: 22px;
  text-transform: uppercase;
}
.case-description__subtitle {
  margin-bottom: 24px;
  @include font-title;
  &--client {
    @include mq(tab-only) {
    }
  }
  &--challenge {
    @include mq(tab) {
    }
  }
}
.case-description__description {
  @include font-body-reg;
  &--client {
    margin-bottom: 32px;
  }

  &--challenge2 {
    display: block;
    margin: 20px 0;
  }
  &--list {
    @include font-body-reg;
    position: relative;
    &:not(:last-of-type) {
      margin-bottom: 4px;
    }
  }
}

.swiper {
  --swiper-pagination-bottom: 44px;
  @include mq(tab) {
    width: 554px;

    --swiper-pagination-bottom: 64px;
  }
  @include mq(desk) {
    --swiper-pagination-bottom: 84px;
    padding-top: 46px;
  }
  position: static;
}
.swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  @include mq(desk) {
    left: 72%;
  }
}
.swiper-pagination-bullet {
  border-radius: 0;
  background-color: black;
  width: 10px;
  height: 10px;
  scale: 1;
  transition: scale 3s;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  scale: 0.6;
  &-prev-prev.swiper-pagination-bullets-dynamic {
    width: 10px;
  }
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(1);
}
