.hero-part-four {
  padding-top: 140px;
  padding-bottom: 166px;
  height: auto;
  @include mq(tab) {
    padding-bottom: 146px;
  }
  @include mq(tab) {
    padding-top: 260px;
    padding-bottom: 168px;
  }
}

.hero-part-four__title {
  @include font-title;
  color: var(--pure-white-color);
  text-align: center;
}
