.BIM-modeling {
  background-color: var(--pure-white-color);

  padding-bottom: 40px;
  @include mq(tab) {
    padding-bottom: 60px;
  }
  @include mq(desk) {
    padding-bottom: 80px;
  }
}

.hero + .BIM-modeling {
  padding-top: 40px;

  @include mq(tab) {
    padding-top: 60px;
  }
  @include mq(desk) {
    padding-top: 80px;
  }
}

.BIM__text-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px 28px;
}

@include mq(desk) {
  .BIM__text-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .BIM__text-list-item:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
  }
  .BIM__text-list-item:nth-child(2) {
    grid-row: 2;
    grid-column: 1;
  }
  .BIM__text-list-item:nth-child(3) {
    grid-row: 1;
    grid-column: 2;
  }
  .BIM__text-list-item:nth-child(4) {
    grid-row: 2;
    grid-column: 2;
  }
}

.BIM__title {
  @include font-title;
  margin-bottom: 40px;
  @include mq(tab) {
    margin-bottom: 52px;
  }
}

.BIM__subtitle {
  @include font-body-reg;
  @include mq(desk) {
    width: 554px;
  }
}

.BIMServices__list {
  list-style: none;
  @include font-body-reg;
  margin-top: 46px;
  padding-left: 60px;
  @include mq(tab) {
    margin-top: 52px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 33px 80px;
    padding-left: 60px;
  }
  @include mq(desk) {
    margin-top: 46px;
    flex-direction: row;
    gap: 42px 97px;
    padding-left: 60px;
  }
}

.benefits__item {
  position: relative;
  @include font-body-reg;
  width: 100%;
  margin-bottom: 32px;
  &::before {
    content: ' ';
    position: absolute;
    top: -11px;
    left: -60px;
    display: inline-block;
    background-image: url(../images/vectors/grey-arrow-right-her-BIM.svg);
    width: 40px;
    height: 40px;
    background-size: cover;
    color: #cdcdcd;
  }
  &:last-child {
    margin-bottom: 0px;
  }

  @include mq(tab) {
    width: 282px;
    position: relative;
    margin-bottom: 0px;
    &::before {
      content: ' ';
      position: absolute;
      top: -11px;
      left: -60px;
      display: inline-block;
      background-image: url(../images/vectors/grey-arrow-right-her-BIM.svg);
      width: 40px;
      height: 40px;
      background-size: cover;
      color: #cdcdcd;
    }
  }

  @include mq(desk) {
    width: 478px;
  }
  &::before {
    content: ' ';
    position: absolute;
    top: -11px;
    left: -60px;
    display: inline-block;
    background-image: url(../images/vectors/grey-arrow-right-her-BIM.svg);
    width: 40px;
    height: 40px;
    background-size: cover;
    color: #cdcdcd;
  }
}

.benefits__description {
  @include font-body-reg;
  width: 260px;
  @include mq(tab) {
    width: 282px;
  }
  @include mq(desk) {
    width: 478px;
  }
}

.benefits__title {
  font-family: 'PT Mono';
  font-weight: 900;
  font-size: 20px;
}

.BIM__benefits-subtitle {
  padding-top: 40px;
  @include font-body-reg;
  @include mq(tab) {
    padding-top: 52px;
  }
  @include mq(desk) {
    width: 793px;
    padding-top: 52px;
  }
}

.BIM__benefits-mainpage {
  @include font-body-bold;
  font-weight: 700 !important;
  margin-top: 40px;
  @include mq(tab) {
    margin-top: 60px;
  }
  @include mq(desk) {
    margin-top: 52px;
  }
}
