.processTemplate {
  background-color: var(--pure-white-color);

  padding-bottom: 40px;
  @include mq(tab) {
    padding-bottom: 60px;
  }
  @include mq(desk) {
    padding-bottom: 80px;
  }
}

.sectionProject {
  background-color: white;
}

.process {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--pure-white-color);
  @include mq(tab) {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--pure-white-color);
  }
  @include mq(desk) {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: var(--pure-white-color);
  }
}

.text-bolder {
  font-weight: 700;
}

.process__main-title {
  @include font-title;
  color: var(--dark-grey-color);
}

.process__list {
  margin-top: 53px;
  list-style: none;
  @include font-body-reg;
  @include mq(desk) {
    display: flex;
    gap: 24px;
  }
}

.process__title-audit {
  @include font-title;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  &::before {
    content: ' ';
    display: inline-block;
    background-image: url(../images/vectors/audit.svg);
    width: 24px;
    height: 24px;
    background-size: cover;
    margin-right: 14px;
  }
  @include mq(desk) {
    gap: 12px;
    margin-bottom: 12px;
    &::before {
      margin-right: 0px;
    }
    &::after {
      content: ' ';
      display: block;
      background-image: url(../images/vectors/arrow-long-right.svg);
      width: 104px;
      height: 15px;
      background-size: cover;
    }
  }
}

.process__title-design {
  @include font-title;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  &::before {
    content: ' ';
    display: inline-block;
    background-image: url(../images/vectors/design.svg);
    width: 24px;
    height: 24px;
    background-size: cover;
    margin-right: 14px;
  }

  @include mq(desk) {
    margin-bottom: 12px;
    gap: 12px;
    &::before {
      margin-right: 0px;
    }
    &::after {
      content: ' ';
      display: block;
      background-image: url(../images/vectors/arrow-long-right.svg);
      width: 104px;
      height: 15px;
      background-size: cover;
    }
  }
}

.process__title-test {
  @include font-title;
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  &::before {
    content: ' ';
    display: inline-block;
    background-image: url(../images/vectors/test.svg);
    width: 24px;
    height: 24px;
    background-size: cover;
    margin-right: 14px;
  }
  @include mq(desk) {
    margin-bottom: 12px;
    gap: 12px;
    &::before {
      margin-right: 0px;
    }
    &::after {
      content: ' ';
      display: block;
      background-image: url(../images/vectors/arrow-long-right.svg);
      width: 104px;
      height: 15px;
      background-size: cover;
    }
  }
}
.process__title-refine {
  @include font-title;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  &::before {
    content: ' ';
    display: inline-block;
    background-image: url(../images/vectors/refine.svg);
    width: 24px;
    height: 24px;
    background-size: cover;
    margin-right: 14px;
  }

  @include mq(desk) {
    margin-bottom: 12px;
    gap: 12px;
    &::before {
      margin-right: 0px;
    }
    &::after {
      content: ' ';
      display: block;
      background-image: url(../images/vectors/arrow-long-right.svg);
      width: 104px;
      height: 15px;
      background-size: cover;
    }
  }
}

.process__title-maintain {
  @include font-title;
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  &::before {
    content: ' ';
    display: inline-block;
    background-image: url(../images/vectors/maintain.svg);
    width: 24px;
    height: 24px;
    background-size: cover;
    margin-right: 14px;
  }

  @include mq(desk) {
    margin-bottom: 12px;
    gap: 12px;
    &::before {
      margin-right: 0px;
    }
  }
}

.process__description {
  &::after {
    content: ' ';
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    background-image: url(../images/vectors/long-arrow-down-process.svg);
    width: 14px;
    height: 27px;
    background-size: cover;
    margin-right: 14px;
  }
  @include mq(desk) {
    @include font-body-reg;
    width: 162px;

    &::after {
      display: none;
    }
  }
}
