// /* Слайдер */
// .slick-slider{}
// /* Слайдер запущен */
// .slick-slider.slick-initialized{}
// /* Слайдер с точками */
// .slick-slider.slick-dotted{}
// /* Ограничивающая оболочка */
// .slick-list {
// }
// /* Лента слайдов */
// .slick-track{
// }
// /* Слайд */
.slick-slide {
  z-index: 15 !important;
}
// /* Слайд активный (показывается) */
// .slick-slide.slick-active{}
// /* Слайд основной */
// .slick-slide.slick-current{}
// /* Слайд по центру */
// .slick-slide.slick-center{}
// /* Клонированный слайд */
// .slick-slide.slick-cloned{}
// /* Стрелка */
// .slick-arrow{}
// /* Стрелка влево */
// .slick-arrow.slick-prev{}
// /* Стрелка вправо */
// .slick-arrow.slick-next{}
// /* Стрелка не активная */
// .slick-arrow.slick-disabled{}
// /* Точки (булиты) */
// .slick-dots{}
// .slick-dots li{}
// /* Активная точка */
// .slick-dots li.slick-active{}
// /* Элемент точки */
// .slick-dots li button{}

/* BIM MODELING PROJECTS SLIDER */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
}

.section-projects {
  box-sizing: border-box;

  padding-bottom: 90px;

  background-color: var(--pure-white-color);

  @include mq(tab) {
    padding-bottom: 122px;
  }
  @include mq(desk) {
    padding-bottom: 142px;
  }
}

.bim-automation-services + .section-projects {
  padding-top: 40px;

  @include mq(tab) {
    padding-top: 60px;
  }
  @include mq(desk) {
    padding-top: 80px;
  }
}
// .section-projects__block {

// }

.section-projects__title {
  @include font-title;
}

.section-projects__desc {
  @include font-body-reg;
  margin-top: 40px;

  @include mq(tab) {
    margin-top: 52px;
    width: 457px;
  }
  @include mq(desk) {
    margin-top: 52px;
  }
}

.section-projects__slider {
  margin-top: 40px;

  @include mq(tab) {
    margin-top: 52px;
  }
  @include mq(desk) {
    margin-top: 52px;
  }
}

.section-projects__slider-item {
  box-sizing: border-box;

  // width: 320px;
  // height: 160px;
  position: relative;

  @include mq(tab) {
    width: 704px;
    height: 328px;
  }
  @include mq(desk) {
    width: 1136px;
    height: 560px;
  }
}

.section-projects__slider-item img {
  object-fit: contain;
  width: 320px;
  height: 160px;
  max-height: 100%;
  max-width: 100%;

  @include mq(tab) {
    width: 704px;
    height: 328px;
  }
  @include mq(desk) {
    object-fit: contain;
    width: 1136px;
    height: 560px;
    // max-height: 100%;
    // max-width: 100%;
    // height: 100%;
    // max-height: 560px;
  }
}

// .section-projects__slider-item .slick-arrow {
//     position: absolute;
//     top: 50%;
//     z-index: 10;
// }

// .section-projects__slider-item .slick-arrow.slick-prev {
//     left: 0;
// }

// .section-projects__slider-item .slick-arrow.slick-next {
//     right: 0;
// }

/* Точки (булиты) */
.section-projects__slider-item .slick-dots {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 36px;

  margin-top: 40px;

  @include mq(tab) {
    margin-top: 52px;
  }
  @include mq(desk) {
    margin-top: 52px;
  }
}
.section-projects__slider-item .slick-dots li {
  list-style: none;
}

/* Активная точка */
.section-projects__slider-item .slick-dots li.slick-active {
  padding: 2px 0;
}

.section-projects__slider-item .slick-dots li.slick-active button {
  width: 6px;
  height: 6px;
}
/* Элемент точки */
.section-projects__slider-item .slick-dots li button {
  display: block;
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #0e0e0e;
  border: none;
  padding: 0;
}
