.share {
  position: absolute;
  left: 152px;
  width: 73px;
  display: none;

  @include mq(desk) {
    display: block;
  }

  &__title {
    @include font-title;
    color: var(--pure-black-color);
    margin-bottom: 12px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }

  &__item {
    width: 32px;
    height: 32px;

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }

  &__facebook {
    background-image: url(../images/vectors/facebook.svg);
  }

  &__linkedin {
    background-image: url(../images/vectors/linkedin.svg);
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
  }
}
