.faq {
  background-color: white;
  color: var(--dark-grey-color);
  padding: 0 20px;

  @include mq(tab) {
    padding: 0 32px;
  }

  @include mq(desk) {
    display: flex;
    padding: 0 0 0 152px;
  }
}
.faq__title {
  @include font-title;
  text-transform: uppercase;
  margin-bottom: 40px;

  @include mq(tab) {
    margin-bottom: 52px;
  }
}

.faq__questions {
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  @include mq(desk) {
    margin: 0 auto;
    width: 741px;
  }
}

.faq__question {
  position: relative;
  display: block;
  @include font-title-14;
  text-transform: uppercase;
  padding-left: 32px;
}

.faq__question::before {
  position: absolute;
  top: calc(50% - 4px);
  left: 0;
  display: block;
  width: 12px;
  height: 8px;
  content: '';
  background-image: url('../images/vectors/Polygon 3.svg');
  margin-right: 20px;
}
