.bimServices_grid__section {
  padding-bottom: 40px;

  @include mq(tab) {
    padding-bottom: 60px;
  }
  @include mq(desk) {
    padding-bottom: 80px;
  }
}

.bim_main_whoBenefits {
  padding-top: 40px;
  justify-content: flex-start;
  text-align: start;
  display: flex;

  @include mq(mob-only) {
    gap: 16px;
    flex-direction: column;
  }
  @include mq(tab) {
    flex-direction: column;
    margin-top: 52px;
    padding-top: 0;
    row-gap: 32px;
    column-gap: 20px;
    height: 260px;
  }

  @include mq(desk) {
    row-gap: 32px;
    column-gap: 125px;
  }
}

.bim_main_benefits {
  margin-bottom: 0;
}

.bimServices__section {
  background-color: var(--pure-white-color);
}

.BIM__subtitle-main {
  @include mq(desk) {
    max-width: 554px;
    margin-bottom: 0;
  }
}

.bimServices__infoDiv {
  @include font-body-reg;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  gap: 20px;
  @include mq(tab) {
    margin-bottom: 60px;
    gap: 24px;
  }
  @include mq(desk) {
    gap: 28px;
    flex-direction: row;
    margin-bottom: 52px;
  }
}

.bimServices__subheading {
  @include font-body-bold;
  margin-bottom: 40px;
  @include mq(tab) {
    margin-bottom: 52px;
  }
}
