.customers__section {
  padding-bottom: 40px;

  @include mq(tab) {
    padding-bottom: 60px;
  }
  @include mq(desk) {
    padding-bottom: 80px;
  }
}

.customers__head {
  @include font-title;
}

.customers__list {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  flex-wrap: wrap;
  align-items: center;

  @include mq(mob-only) {
    row-gap: 40px;
    // column-gap: 20px;
    justify-content: space-between;
  }

  @include mq(tab) {
    row-gap: 16px;
    column-gap: 103px;
    margin-top: 52px;
  }
  @include mq(desk) {
    flex-wrap: nowrap;
    margin-top: 59px;
    gap: 28px;
  }
}

.customers__list img {
  width: 150px;
  @include mq(tab) {
    width: 166px;
  }
}

.customers__list_partner-img {
  filter: grayscale(100%);
  opacity: 0.7;

  &:hover {
    filter: grayscale(0);
    opacity: 1;
  }
}
