.bimServices__heading {
  @extend .caseStudies__subtitle;
  margin-bottom: 40px;
  @include mq(tab) {
    margin-bottom: 52px;
  }
}

.bimServices__body {
  @include font-body-reg;
  margin-bottom: 40px;
  @include mq(tab) {
    margin-bottom: 52px;
  }
}

.bimServices__list {
  @include mq(mob-only) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include mq(tab) {
    display: flex;
    gap: 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  @include mq(desk) {
    justify-content: flex-start;
  }
}

.bimServices__list-item-link {
  display: block;
  height: 100%;
  width: 100%;
}

.bimServices__list-item1 {
  border-width: 2px 2px 0px 2px;
  border-style: solid;
  border-color: var(--ligth-grey-color);
  transition: all 0.35s ease-out;
  background-image: url(../images/hero/bim-modeling@1x.webp);
  background-repeat: no-repeat;
  width: 316px;
  height: 206px;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero/bim-modeling@2x.webp);
  }

  @include mq(mob-only) {
    background-position: 0 206px;
    background-size: 380px;
  }

  @include mq(tab) {
    width: 348px;
    height: 250px;
    background-position: 0 250px;
    background-size: 380px;
  }
  @include mq(desk) {
    width: 374px;
    background-size: 380px;
  }

  &:hover,
  &:focus {
    color: var(--pure-white-color);
    background-position: 0 20px;

    @include mq(tab) {
      background-position: 0 60px;
    }
    @include mq(desk) {
      background-position: 0 50px;
    }
  }

  &:hover .bimServices__infoDivP,
  &:focus .bimServices__infoDivP {
    background-color: var(--pure-black-color);
  }

  &:hover .bimServices__list-item-body::after,
  &:focus .bimServices__list-item-body::after {
    content: '';
    filter: invert(100%);
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/vectors/vector-right.svg);
    background-position: center;
    flex-shrink: 0;
    @include mq(mob) {
      width: 20px;
      height: 24px;
    }
    @include mq(tab) {
      width: 56px;
      height: 56px;
    }
  }
}

.bimServices__list-item2 {
  @extend .bimServices__list-item1;
  border-width: 2px 2px 0px 0px;
  background-image: url(../images/hero/bim-coordination@1x.webp);
  @include mq(mob-only) {
    border-left: 2px solid var(--ligth-grey-color);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero/bim-coordination@2x.webp);
  }
}

.bimServices__list-item3 {
  @extend .bimServices__list-item1;
  background-image: url(../images/hero/bim-content@1x.webp);
  @include mq(desk) {
    border-width: 2px 2px 0px 0px;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero/bim-content@2x.webp);
  }
}

.bimServices__list-item4 {
  @extend .bimServices__list-item2;
  background-image: url(../images/hero/scan-to-bim@1x.webp);
  @include mq(desk) {
    border-width: 2px 2px 0px 2px;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero/scan-to-bim@2x.webp);
  }
}

.bimServices__list-item5 {
  @extend .bimServices__list-item1;
  background-image: url(../images/hero/bim-automation@1x.webp);
  @include mq(desk) {
    border-width: 2px 2px 0px 0px;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero/bim-automation@2x.webp);
  }
}

.bimServices__list-item6 {
  @extend .bimServices__list-item2;
  border-bottom: 2px solid var(--ligth-grey-color);
  background-image: url(../images/hero/prefabrication@1x.webp);
  @include mq(mob) {
    border-bottom: 0;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero/prefabrication@2x.webp);
  }
}

.bimServices__list-item7 {
  @extend .bimServices__list-item1;
  border-bottom: 2px solid var(--ligth-grey-color);
  background-image: url(../images/hero/structural-detailing@1x.webp);
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero/structural-detailing@2x.webp);
  }
}

.bimServices__list-item8 {
  @extend .bimServices__list-item1;
  border-bottom: 2px solid var(--ligth-grey-color);
  border-left: 0;
  background-image: url(../images/hero/architectural-rendering@1x.webp);
  @include mq(mob) {
    border-left: 2px solid var(--ligth-grey-color);
    border-bottom: 0;
    border-top: 0;
  }
  @include mq(tab-only) {
    border-top: 2px solid var(--ligth-grey-color);
    border-bottom: 2px solid var(--ligth-grey-color);
    border-left: 0;
  }
  @include mq(desk) {
    border-left: 0;
    border-top: 2px solid var(--ligth-grey-color);
    border-bottom: 2px solid var(--ligth-grey-color);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero/architectural-rendering@2x.webp);
  }
}

.bimServices__infoDivP {
  margin-bottom: 0;
  display: block;
  padding: 20px 17px;

  @include mq(tab) {
    height: 145px;
  }

  @include mq(mob-only) {
    height: 150px;
    padding-right: 13px;
    padding-left: 20px;
    padding-bottom: 19px;
  }
}

.bimServices__list-item-heading {
  @include font-button;
  margin-bottom: 32px;
  @include mq(mob-only) {
    margin-bottom: 16px;
  }
}

.bimServices__list-item-body {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.bimServices__list-item-last {
  @include font-button;
  @extend .bimServices__list-item1;
  height: fit-content;
  border-bottom: 2px solid var(--pure-black-color);
  border-color: var(--pure-black-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 40px 27px 16px;
  transition: 350ms;
  background-image: none;
  background-color: var(--pure-white-color);
  text-align: start;

  @include mq(mob-only) {
    padding-right: 32px;
  }

  &:hover,
  &:focus {
    background-color: var(--pure-black-color);
    color: var(--pure-white-color);
    background-image: none;
  }

  &:hover .bim_list-item-last-arrow,
  &:focus .bim_list-item-last-arrow {
    filter: invert(100%);
  }
}

.bimServices__list-item-heading-last {
  @extend .bimServices__list-item-heading;
  margin-bottom: 0;
}

.bim_list-item-last-arrow {
  background-image: url(../images/vectors/vector-right.svg);
  display: inline-block;
  background-repeat: no-repeat;
  height: 31px;
  width: 32px;
  background-size: contain;
}
