<section class="blog-preview__section">
  <div class="container">
    <ul class="blog-preview__section-list">
      <li class="blog-preview-section__body">
        <a href="../pages/seven-benefits-of-bim.html">
          <div class="caseStudies__infoDiv">
            <h3 class="caseStudies__section-title">
              7 Benefits of BIM Services in<br />Construction
            </h3>
            <p class="caseStudies__body">Kostya Rapina</p>
          </div>
          <img
            srcset="
              ../images/blog-preview/blog-gridpreview1-l-1x.jpg 356w,
              ../images/blog-preview/blog-gridpreview1-l-2x.jpg 712w,
              ../images/blog-preview/blog-gridpreview1-m-1x.jpg 338w,
              ../images/blog-preview/blog-gridpreview1-m-2x.jpg 676w,
              ../images/blog-preview/blog-gridpreview1-s-1x.jpg 316w,
              ../images/blog-preview/blog-gridpreview1-s-2x.jpg 632w
            "
            sizes="(min-width: 1440px) 356px, (min-width: 768px) 338px,
        (min-width: 360px) 316px, 100vw"
            src="../images/blog-preview/blog-gridpreview1-s-1x.jpg"
            loading="lazy"
            alt="picture_blog_1"
            class="caseStudies__img"
          />
        </a>
      </li>
      <li class="blog-preview-section__body">
        <a href="../pages/top-thirty-architectural-rendering.html">
          <div class="caseStudies__infoDiv">
            <h3 class="caseStudies__section-title">
              Top 30 Architectural Rendering Companies Worth Your Attention
            </h3>
            <p class="caseStudies__body">Tatiana Rapina</p>
          </div>
          <img
            srcset="
              ../images/blog-preview/blog-gridpreview2-l-1x.jpg 356w,
              ../images/blog-preview/blog-gridpreview2-l-2x.jpg 712w,
              ../images/blog-preview/blog-gridpreview2-m-1x.jpg 338w,
              ../images/blog-preview/blog-gridpreview2-m-2x.jpg 676w,
              ../images/blog-preview/blog-gridpreview2-s-1x.jpg 316w,
              ../images/blog-preview/blog-gridpreview2-s-2x.jpg 632w
            "
            sizes="(min-width: 1440px) 356px, (min-width: 768px) 338px,
        (min-width: 360px) 316px, 100vw"
            src="../images/blog-preview/blog-gridpreview2-l-1x.jpg"
            loading="lazy"
            alt="picture_blog_2"
            class="caseStudies__img"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
