<div class="container">
  <div class="hero__block">
    <img
      class="hero__frame-down-left"
      src="../images/vectors/frame-down-left.svg"
      alt="decorative element"
    />
    <img
      class="hero__frame-up-left"
      src="../images/vectors/frame-up-left.svg"
      alt="decorative element"
    />
    <img
      class="hero__frame-down-right"
      src="../images/vectors/frame-down-right.svg"
      alt="decorative element"
    />
    <img
      class="hero__frame-up-right"
      src="../images/vectors/frame-up-right.svg"
      alt="decorative element"
    />
    <div class="hero__content">
      <h2 class="contact-form__title">HAVE ANY QUESTIONS? CONTACT US!</h2>
      <form class="contact-form" name="contact-form">
        <div class="contact-form__input-wrap">
          <input
            type="text"
            class="contact-form__input"
            name="name"
            required
            placeholder=""
          />
          <label class="contact-form__label">How can we call you?</label>
        </div>

        <div class="contact-form__input-wrap">
          <input
            type="text"
            class="contact-form__input"
            name="phone"
            required
            placeholder=""
          />
          <label class="contact-form__label">Phone or E-mail*</label>
        </div>
      </form>
    </div>
    <button class="hero__btn" type="submit">
      Send
      <img src="../images/vectors/arrow.svg" alt="arrow" />
    </button>
  </div>
</div>
