<footer class="section footer">
  <div class="container flex-container">
    <ul class="footer__nav">
      <li class="footer__navItem"><a href="./">Home</a></li>
      <li class="footer__navItem">
        <a href="./case-studies.html">Case Studies</a>
      </li>
      <li class="footer__navItem"><a href="./blog.html">Blog</a></li>
      <li class="footer__navItem"><a href="./about.html">About</a></li>
      <li class="footer__navItem"><a href="./career.html">Career</a></li>
      <li class="footer__navItem"><a href="./contacts.html">Contacts</a></li>
    </ul>
    <ul class="footer__services">
      <li class="footer__title">Services:</li>
      <li class="footer__servItem">
        <a href="./bim-modeling.html">BIM Modeling</a>
      </li>
      <li class="footer__servItem">
        <a href="./bim-coordination.html">BIM Coordination</a>
      </li>
      <li class="footer__servItem">
        <a href="./bim-content.html">BIM Content</a>
      </li>
      <li class="footer__servItem">
        <a href="./scan-to-bim.html">Scan-to-BIM</a>
      </li>
      <li class="footer__servItem">
        <a href="./bim-automation.html">BIM Automation</a>
      </li>
      <li class="footer__servItem">
        <a href="./prefabrication.html">Prefabrication & Fabrication</a>
      </li>
      <li class="footer__servItem">
        <a href="./structural-detailing.html">Structural detailing</a>
      </li>
      <li class="footer__servItem">
        <a href="./architectural-rendering.html">Architectural Rendering</a>
      </li>
    </ul>
    <div class="footer__social">
      <a href="#" class="scroll-up">Up</a>
      <include src="./partials/components/socialNetworkLinks.html"></include>
    </div>
    <p class="footer__slogan">Powerkh − BIM & VDC solution provider</p>
  </div>
</footer>
