<section class="section footer">
  <div class="container flex-container">
    <ul class="footer__nav">
      <li class="footer__navItem active"><a href="">Home</a></li>
      <li class="footer__navItem"><a href="">Case Studies</a></li>
      <li class="footer__navItem"><a href="">Blog</a></li>
      <li class="footer__navItem"><a href="">About</a></li>
      <li class="footer__navItem"><a href="">Career</a></li>
      <li class="footer__navItem"><a href="">Contacts</a></li>
    </ul>
    <ul class="footer__services">
      <li class="footer__title">Services:</li>
      <li class="footer__servItem"><a href="">BIM Modeling</a></li>
      <li class="footer__servItem active"><a href="">BIM Coordination</a></li>
      <li class="footer__servItem"><a href="">BIM Content</a></li>
      <li class="footer__servItem"><a href="">Scan-to-BIM</a></li>
      <li class="footer__servItem"><a href="">BIM Automation</a></li>
      <li class="footer__servItem">
        <a href="">Prefabrication & Fabrication</a>
      </li>
      <li class="footer__servItem"><a href="">Structural detailing</a></li>
      <li class="footer__servItem"><a href="">Architectural Rendering</a></li>
    </ul>
    <div class="footer__social">
      <a href="" class="scroll-up">Up</a>
      <div class="footer__icons">
        <a href="">
          <svg class="footer__icon" width="32" height="32">
            <use href="../images/vectors/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
        <a href="">
          <svg class="footer__icon" width="32" height="32">
            <use href="../images/vectors/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
        <a href="">
          <svg class="footer__icon" width="32" height="32">
            <use href="../images/vectors/sprite.svg#icon-linkedin"></use>
          </svg>
        </a>
      </div>
    </div>
    <p class="footer__slogan">Powerkh − BIM & VDC solution provider</p>
  </div>
</section>
