<section class="hero">
  <div class="container">
    <div class="hero__block">
      <img
        class="hero__frame-down-left"
        src="../images/vectors/frame-down-left.svg"
        alt="docorative element"
      />
      <img
        class="hero__frame-up-left"
        src="../images/vectors/frame-up-left.svg"
        alt="docorative element"
      />
      <img
        class="hero__frame-down-right"
        src="../images/vectors/frame-down-right.svg"
        alt="docorative element"
      />
      <img
        class="hero__frame-up-right"
        src="../images/vectors/frame-up-right.svg"
        alt="docorative element"
      />
      <h2 class="hero__title">Prefabrication & Fabrication</h2>
      <p class="hero__text">
        Do you want to improve the design and management processes for your BIM
        projects? Powerkh can find the gaps in your workflow and enhance them
        with cost-effective solutions. Talk with our experts to learn more about
        our BIM automation & scripting services!
      </p>
      <button class="hero__btn" type="button">
        Discuss the task
        <img src="../images/vectors/arrow.svg" alt="arrow" />
      </button>
    </div>
  </div>
</section>
