<section class="hero">
  <div class="container">
    <div class="hero__block">
      <img
        class="hero__frame-down-left"
        src="../images/vectors/frame-down-left.svg"
        loading="lazy"
        alt="decorative element"
      />
      <img
        class="hero__frame-up-left"
        src="../images/vectors/frame-up-left.svg"
        loading="lazy"
        alt="decorative element"
      />
      <img
        class="hero__frame-down-right"
        src="../images/vectors/frame-down-right.svg"
        loading="lazy"
        alt="decorative element"
      />
      <img
        class="hero__frame-up-right"
        src="../images/vectors/frame-up-right.svg"
        loading="lazy"
        alt="decorative element"
      />
      <div class="hero__content">
        <!-- вставляємо темплейт зі своїми даними -->
      </div>
      <button
        class="hero__btn js-btn-modal"
        type="button"
        aria-label="discuss the task btn"
      >
        Discuss the task
        <img src="../images/vectors/arrow.svg" loading="lazy" alt="arrow" />
      </button>
    </div>
  </div>
</section>
