<section class="hero">
  <div class="hero__block">
    <h2 class="hero__title">Prefabrication & Fabrication</h2>
    <p class="hero__text">Do you want to improve the design and management processes for your BIM projects? Powerkh can
      find the gaps in your workflow and enhance them with cost-effective solutions. Talk with our experts to learn more
      about our BIM automation & scripting services!</p>
    <button class="hero__btn" type="button">Discuss the task
      <img src="./images/vectors/arrow.svg" alt="arrow">
    </button>
   </div>
</section>