<section class="join-team">
  <div class="container">
    <h2 class="join-team__title">Want to join our team?</h2>
    <p class="join-team__text">
      Powerkh is a digital design consultancy which offers BIM, computational
      design, structural detailing and digital fabrication expertise. We work
      with project owners, architects, contractors, developers and engineers to
      improve the way buildings are designed, built, and operated through the
      use of digital design tools.
    </p>
    <div class="join-team__flex">
      <div class="join-team__position">
        <h3 class="join-team__position-title">BIM / VDC Engineer</h3>
        <p class="join-team__position-subtitle">Kharkiv</p>
        <h4 class="join-team__position-specification">Hiring specification:</h4>
        <ul class="join-team__position-specification-list">
          <li class="join-team__position-specification-item">
            <p class="join-team__position-specification-item-text">
              Autodesk Revit
            </p>
          </li>
          <li class="join-team__position-specification-item">
            <p class="join-team__position-specification-item-text">
              Pre-Intermediate English
            </p>
          </li>
          <li class="join-team__position-specification-item">
            <p class="join-team__position-specification-item-text">
              Solid organizational and time-management skills
            </p>
          </li>
          <li class="join-team__position-specification-item">
            <p class="join-team__position-specification-item-text">
              Higher education
            </p>
          </li>
          <li class="join-team__position-specification-item">
            <p class="join-team__position-specification-item-text">
              Work experience of 1 years+
            </p>
          </li>
        </ul>
        <h4 class="join-team__position-specification">
          Areas of responsibility:
        </h4>
        <ul class="join-team__position-specification-list">
          <li class="join-team__position-specification-item">
            <p class="join-team__position-specification-item-text">
              Develop models for specific design purposes
            </p>
          </li>
          <li class="join-team__position-specification-item">
            <p class="join-team__position-specification-item-text">
              Create discipline specific BIM content
            </p>
          </li>
          <li class="join-team__position-specification-item">
            <p class="join-team__position-specification-item-text">
              Develop accurate construction drawings
            </p>
          </li>
          <li class="join-team__position-specification-item">
            <p class="join-team__position-specification-item-text">
              Coordinate design documentation
            </p>
          </li>
        </ul>
        <button class="join-team__btn js-btn-modal" type="button" aria-label="send request to our team">
          Send Request
          <img src="../images/vectors/arrow.svg" alt="arrow" />
        </button>
      </div>
      <div class="join-team__position">
        <h3 class="join-team__position-title">Structural Engineer</h3>
        <p class="join-team__position-subtitle">Kharkiv</p>
        <h4 class="join-team__position-specification">Hiring specification:</h4>
        <ul class="join-team__position-specification-list">
          <li class="join-team__position-specification-item">
            <p class="join-team__position-specification-item-text">
              Autodesk Revit
            </p>
          </li>
          <li class="join-team__position-specification-item">
            <p class="join-team__position-specification-item-text">
              Autodesk Robot
            </p>
          </li>
          <li class="join-team__position-specification-item">
            <p class="join-team__position-specification-item-text">
              Pre-Intermediate English
            </p>
          </li>
          <li class="join-team__position-specification-item">
            <p class="join-team__position-specification-item-text">
              Analytical mind and problem-solving aptitude
            </p>
          </li>
          <li class="join-team__position-specification-item">
            <p class="join-team__position-specification-item-text">
              Solid organizational and time-management skills
            </p>
          </li>
          <li class="join-team__position-specification-item">
            <p class="join-team__position-specification-item-text">
              Master's degree in structural engineering
            </p>
          </li>
          <li class="join-team__position-specification-item">
            <p class="join-team__position-specification-item-text">
              Work experience of 2 years+
            </p>
          </li>
        </ul>
        <h4 class="join-team__position-specification">
          Areas of responsibility:
        </h4>
        <ul class="join-team__position-specification-list">
          <li class="join-team__position-specification-item">
            <p class="join-team__position-specification-item-text">
              Planning documentation preparing
            </p>
          </li>
          <li class="join-team__position-specification-item">
            <p class="join-team__position-specification-item-text">
              Develop structural models
            </p>
          </li>
          <li class="join-team__position-specification-item">
            <p class="join-team__position-specification-item-text">
              Perform structural analyses
            </p>
          </li>
          <li class="join-team__position-specification-item">
            <p class="join-team__position-specification-item-text">
              Develop accurate construction drawings
            </p>
          </li>
          <li class="join-team__position-specification-item">
            <p class="join-team__position-specification-item-text">
              Coordinate design documentation
            </p>
          </li>
          <li class="join-team__position-specification-item">
            <p class="join-team__position-specification-item-text">
              Project administration at the development stage
            </p>
          </li>
        </ul>
        <button class="join-team__btn js-btn-modal" type="button" aria-label="send request ">
          Send Request
          <img src="../images/vectors/arrow.svg" alt="arrow" />
        </button>
      </div>
    </div>
  </div>
</section>
