<section class="never-miss">
  <div class="container never-miss__container">
    <div class="never-miss__wrapper">
      <h2 class="never-miss__title">Never miss a new blog post from us!</h2>
      <form class="never-miss__form">
        <input
          type="email"
          name="email"
          class="never-miss__input"
          required
          placeholder="Your Email"
        />
        <button
          type="submit"
          class="never-miss__btn btn"
          aria-label="sending a mailbox to notify you about new blog articles"
        >
          subscribe today
        </button>
      </form>
    </div>
  </div>
</section>
