<section class="ourCaseStudies__section">
  <div class="container">
    <h2 class="caseStudies__subtitle">Our case studies</h2>
    <ul class="caseStudies__list">
      <li class="caseStudies__item">
        <a
          href="./formwork-design-automation.html"
          aria-label="Read more about formwork design automation case"
        >
          <div class="caseStudies__infoDiv">
            <h3 class="caseStudies__section-title">
              Formwork design<br />
              automation
            </h3>
            <p class="caseStudies__body">
              Our client from<br />California, USA
            </p>
          </div>
          <img
            srcset="
              ../images/our-case-studies-tml/1-l@1x.jpg 356w,
              ../images/our-case-studies-tml/1-l@2x.jpg 712w,
              ../images/our-case-studies-tml/1-m@1x.jpg 338w,
              ../images/our-case-studies-tml/1-m@2x.jpg 676w,
              ../images/our-case-studies-tml/1-s@1x.jpg 316w,
              ../images/our-case-studies-tml/1-s@2x.jpg 632w
            "
            sizes="(min-width: 1440px) 356px, (min-width: 768px) 338px,
        (min-width: 360px) 316px, 100vw"
            src="../images/our-case-studies-tml/1-s@1x.jpg"
            loading="lazy"
            alt="picture 1"
            class="caseStudies__img"
          />
        </a>
      </li>
      <li class="caseStudies__item">
        <a
          href="./suspended-case.html"
          aria-label="Read more about suspended ceiling design automation case"
        >
          <div class="caseStudies__infoDiv">
            <h3 class="caseStudies__section-title">
              Suspend ceiling design<br />
              automation
            </h3>
            <p class="caseStudies__body">Our client from<br />New York, USA</p>
          </div>
          <img
            srcset="
              ../images/our-case-studies-tml/2-l@1x.jpg 356w,
              ../images/our-case-studies-tml/2-l@2x.jpg 712w,
              ../images/our-case-studies-tml/2-m@1x.jpg 338w,
              ../images/our-case-studies-tml/2-m@2x.jpg 676w,
              ../images/our-case-studies-tml/2-s@1x.jpg 316w,
              ../images/our-case-studies-tml/2-s@2x.jpg 632w
            "
            sizes="(min-width: 1440px) 356px, (min-width: 768px) 338px,
        (min-width: 360px) 316px, 100vw"
            src="../images/our-case-studies-tml/2-s@1x.jpg"
            loading="lazy"
            alt="picture 2"
            class="caseStudies__img"
          />
        </a>
      </li>
      <li class="caseStudies__item">
        <a
          href="./floor-assembly-design-automation.html"
          aria-label="Read more about floor assembly design automation case"
        >
          <div class="caseStudies__infoDiv">
            <h3 class="caseStudies__section-title">
              Floor assembly design<br />automation
            </h3>
            <p class="caseStudies__body">Our client from<br />New York, USA</p>
          </div>
          <img
            srcset="
              ../images/our-case-studies-tml/3-color-l@1x.jpg 356w,
              ../images/our-case-studies-tml/3-color-l@2x.jpg 712w,
              ../images/our-case-studies-tml/3-color-m@1x.jpg 338w,
              ../images/our-case-studies-tml/3-color-m@2x.jpg 676w,
              ../images/our-case-studies-tml/3-color-s@1x.jpg 316w,
              ../images/our-case-studies-tml/3-color-s@2x.jpg 632w
            "
            sizes="(min-width: 1440px) 356px, (min-width: 768px) 338px,
              (min-width: 360px) 316px, 100vw"
            src="../images/our-case-studies-tml/3-color-s@1x.jpg"
            loading="lazy"
            alt="picture 3"
            class="caseStudies__img"
          />
        </a>
      </li>
    </ul>
    <a href="./case-studies.html" class="caseStudies__all-link">
      <p class="caseStudies__all-arrow">All cases</p>
    </a>
  </div>
</section>
