<section class="section-ourCases">
    <div class="container section-ourCases__block">
        <h2 class="section-ourCases__title">Our Case Studies</h2>
        <div class="section-ourCases__slider b7b">
            <div class="section-ourCases__slider-item">
                <img 
                class="section-ourCases__slider-img" 
                srcset='../images/slider/blog/7benefits/b7b-01@1x.jpg 1x, ../images/slider/blog/7benefits/b7b-01@2x.jpg 2x' 
                src='../images/slider/blog/7benefits/b7b-01@1x.jpg'
                alt="Slide">  
            </div>
            <div class="section-ourCases__slider-item">
                <img 
                class="section-ourCases__slider-img" 
                srcset='../images/slider/blog/7benefits/b7b-02@1x.jpg 1x, ../images/slider/blog/7benefits/b7b-02@2x.jpg 2x' 
                src='../images/slider/blog/7benefits/b7b-01@1x.jpg'
                alt="Slide">  
            </div>
            <div class="section-ourCases__slider-item">
                <img 
                class="section-ourCases__slider-img" 
                srcset='../images/slider/blog/7benefits/b7b-03@1x.jpg 1x, ../images/slider/blog/7benefits/b7b-03@2x.jpg 2x' 
                src='../images/slider/blog/7benefits/b7b-03@1x.jpg'
                alt="Slide">  
            </div>
        </div>
    </div>
  </section>