<section class="section-ourCases">
  <div class="container section-ourCases__block">
    <h2 class="section-ourCases__title">Our Case Studies</h2>
    <div class="section-ourCases__sliderBlock">
      <div class="section-ourCases__sliderArrow"></div>
      <div class="section-ourCases__slider b7b">
        <a
          href="./floor-assembly-design-automation.html"
          class="section-ourCases__slider-item"
        >
          <img
            class="section-ourCases__slider-img"
            srcset="
              ../images/slider/blog/7benefits/b7b-01@1x.jpg 1x,
              ../images/slider/blog/7benefits/b7b-01@2x.jpg 2x
            "
            src="../images/slider/blog/7benefits/b7b-01@1x.jpg"
            loading="lazy"
            alt="Slide"
          />
          <div class="section-ourCases__slider-overlay">
            <p class="section-ourCases__slider-insideTitle">
              Floor assembly design automation
            </p>
            <p class="section-ourCases__slider-insideText">
              Our client from New York, USA
            </p>
          </div>
        </a>
        <a
          href="./formwork-design-automation.html"
          class="section-ourCases__slider-item"
        >
          <img
            class="section-ourCases__slider-img"
            srcset="
              ../images/slider/blog/7benefits/b7b-02@1x.jpg 1x,
              ../images/slider/blog/7benefits/b7b-02@2x.jpg 2x
            "
            src="../images/slider/blog/7benefits/b7b-01@1x.jpg"
            loading="lazy"
            alt="Slide"
          />
          <div class="section-ourCases__slider-overlay">
            <p class="section-ourCases__slider-insideTitle">
              Formwork design automation
            </p>
            <p class="section-ourCases__slider-insideText">
              Our client from California, USA
            </p>
          </div>
        </a>
        <a href="./suspended-case.html" class="section-ourCases__slider-item">
          <img
            class="section-ourCases__slider-img"
            srcset="
              ../images/slider/blog/7benefits/b7b-03@1x.jpg 1x,
              ../images/slider/blog/7benefits/b7b-03@2x.jpg 2x
            "
            src="../images/slider/blog/7benefits/b7b-03@1x.jpg"
            loading="lazy"
            alt="Slide"
          />
          <div class="section-ourCases__slider-overlay">
            <p class="section-ourCases__slider-insideTitle">
              Suspend ceiling design automation
            </p>
            <p class="section-ourCases__slider-insideText">
              Our client from New York, USA
            </p>
          </div>
        </a>
        <a
          href="./floor-assembly-design-automation.html"
          class="section-ourCases__slider-item"
        >
          <img
            class="section-ourCases__slider-img"
            srcset="
              ../images/slider/blog/7benefits/b7b-01@1x.jpg 1x,
              ../images/slider/blog/7benefits/b7b-01@2x.jpg 2x
            "
            src="../images/slider/blog/7benefits/b7b-01@1x.jpg"
            loading="lazy"
            alt="Slide"
          />
          <div class="section-ourCases__slider-overlay">
            <p class="section-ourCases__slider-insideTitle">
              Floor assembly design automation
            </p>
            <p class="section-ourCases__slider-insideText">
              Our client from New York, USA
            </p>
          </div>
        </a>
        <a
          href="./formwork-design-automation.html"
          class="section-ourCases__slider-item"
        >
          <img
            class="section-ourCases__slider-img"
            srcset="
              ../images/slider/blog/7benefits/b7b-02@1x.jpg 1x,
              ../images/slider/blog/7benefits/b7b-02@2x.jpg 2x
            "
            src="../images/slider/blog/7benefits/b7b-01@1x.jpg"
            loading="lazy"
            alt="Slide"
          />
          <div class="section-ourCases__slider-overlay">
            <p class="section-ourCases__slider-insideTitle">
              Formwork design automation
            </p>
            <p class="section-ourCases__slider-insideText">
              Our client from California, USA
            </p>
          </div>
        </a>
        <a href="./suspended-case.html" class="section-ourCases__slider-item">
          <img
            class="section-ourCases__slider-img"
            srcset="
              ../images/slider/blog/7benefits/b7b-03@1x.jpg 1x,
              ../images/slider/blog/7benefits/b7b-03@2x.jpg 2x
            "
            src="../images/slider/blog/7benefits/b7b-03@1x.jpg"
            loading="lazy"
            alt="Slide"
          />
          <div class="section-ourCases__slider-overlay">
            <p class="section-ourCases__slider-insideTitle">
              Suspend ceiling design automation
            </p>
            <p class="section-ourCases__slider-insideText">
              Our client from New York, USA
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
