<div class="social__icons">
  <a
    href="https://www.instagram.com/powerkh_com/"
    target="_blank"
    aria-label="Link to instagram page"
  >
    <svg class="social__icon" width="32" height="32">
      <use href="../images/vectors/sprite.svg#icon-instagram"></use>
    </svg>
  </a>
  <a
    href="https://www.facebook.com/profile.php?id=100064039650167"
    target="_blank"
    aria-label="Link to facebook page"
  >
    <svg class="social__icon" width="32" height="32">
      <use href="../images/vectors/sprite.svg#icon-facebook"></use>
    </svg>
  </a>
  <a
    href="https://www.linkedin.com/company/powerkh/about/"
    target="_blank"
    aria-label="Link to linkedin page"
  >
    <svg class="social__icon" width="32" height="32">
      <use href="../images/vectors/sprite.svg#icon-linkedin"></use>
    </svg>
  </a>
</div>
