<div class="footer__icons">
  <a href="instagram">
    <svg class="footer__icon" width="32" height="32">
      <use href="../images/vectors/sprite.svg#icon-instagram"></use>
    </svg>
  </a>
  <a href="facebook">
    <svg class="footer__icon" width="32" height="32">
      <use href="../images/vectors/sprite.svg#icon-facebook"></use>
    </svg>
  </a>
  <a href="linkedin">
    <svg class="footer__icon" width="32" height="32">
      <use href="../images/vectors/sprite.svg#icon-linkedin"></use>
    </svg>
  </a>
</div>
