<section id="what-problems" class="what-problems">
  <div class="container what-problems__container">
    <h2 class="what-problems__title">
      What problems can you solve with BIM services?
    </h2>

    <p class="what-problems__paragraph">
      Many companies rely on 2D plans and old communication technologies to
      manage their construction projects. This approach is far from ideal
      because shop drawings contain many inaccuracies. A single design flaw at
      the planning stage can delay construction and increase your budget
      exponentially.
    </p>
    <p class="what-problems__paragraph">
      BIM is an intelligent 3D-based modeling process that can take your project
      to the next level. How BIM helps in construction?
    </p>
    <p class="what-problems__paragraph">
      An accurate, interactive 3D BIM model can help you plan, design, and
      manage construction more efficiently. You will waste less time and
      resources on:
    </p>

    <!-- в тег ul буде підтягуватись шаблон  зі списком -->
    <ul class="what-problems__list"></ul>

    <p class="what-problems__paragraph">
      Now, how can BIM services help you deal with these problems?
    </p>
  </div>
</section>
