<section class="container case-description" style="background-color: white">
  <a href="./case-studies.html" class="case-description__link">/Case Studio</a>
  <div class="case-description__content">
    <div class="case-description__text-block">
      <h2 class="case-description__title">
        Suspended ceiling design automation
      </h2>
      <h3 class="case-description__subtitle case-description__subtitle--client">
        Client
      </h3>
      <p
        class="case-description__description case-description__description--client"
      >
        Our client is one of the country’s top builders of high-end tailored
        homes from New York, USA
      </p>
      <h3
        class="case-description__subtitle case-description__subtitle--challenge"
      >
        Challenge
      </h3>
      <p
        class="case-description__description case-description__description--challenge"
      >
        The design process had a series of challenges. One of them was to design
        a drop ceiling with deck-suspended hangers. It takes quite a lot of time
        and effort to design it according to structural requirements, model it
        correctly, and coordinate it with other building elements. A drop
        ceiling is a system that includes many elements dependent on each other.
        Even the smallest changes require updating the whole system. As a
        result, the delivery time of the ready-to-use design goes up. On top of
        that, it took another 5-6 days for the framing hangers manufacturer to
        come up with design drawings needed for the Revit model. In the end,
        every update caused at least a one-week delay.
      </p>
    </div>

    <div class="swiper slider-hero">
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img
            src="../images/hero3-slider/suspended-ceiling/suspended11x.jpg"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="../images/hero3-slider/suspended-ceiling/suspended21x.jpg"
            alt="arc"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="../images/hero3-slider/suspended-ceiling/suspended31x.jpg"
            alt="arc"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="../images/hero3-slider/suspended-ceiling/suspended41x.jpg"
            alt="arc"
          />
        </div>
      </div>

      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<section class="BIMServices">
  <div class="container">
    <h2 class="benefits__title">BIM Coordination & Clash Detection</h2>
    <p class="benefits__text">
      Back in the day, design specialists used tracing paper to check the
      compatibility of architectural, structural, and MEP systems. As a result,
      many clashes become known on-site, which leads to re-works, slows
      projects, and inflates the budget.
    </p>
    <p class="benefits__text">
      BIM coordination allows designers to use interactive 3D models to
      eliminate conflicts in design and mitigate risks during the construction
      phase.
    </p>
    <p class="benefits__text">
      Powerkh can evaluate your entire construction according to the project’s
      documentation, visual references, and technical specifications. Our BIM
      coordination services include clash detection, constructability reviews,
      coordination meetings, and other solutions to keep your project on track.
    </p>
  </div>
</section>
<section class="howWeWork"></section>
<section class="bim-automation-services container"></section>
<!-- <section class="section-projects">
  <div class="container section-projects__block">
    <h2 class="section-projects__title">Our BIM Modeling Projects</h2>
    <p class="section-projects__desc">
      We have over 200 BIM projects behind our back. Here are some<br />examples
      of our work:
    </p>
    <div class="section-projects__slider">
      <div class="section-projects__slider-item">
        <img src="../images/coordination/image-132.jpg" alt="slider" />
        <img src="../images/coordination/image-133.jpg" alt="slider" />
        <img src="../images/coordination/image-134.jpg" alt="slider" />
      </div>
    </div>
  </div>
</section> -->
<section class="outsourceProjects container"></section>
<section class="contact-us"></section>
