<!-- <section class="container case-description" style="background-color: white">
  <a href="./case-studies.html" class="case-description__link">/Case Studio</a>
  <div class="case-description__content">
    <div class="case-description__text-block"></div>

    <div class="swiper slider-hero">
      <div class="swiper-wrapper"></div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section> -->
<section class="BIM-modeling"></section>
<section class="howWeWork"></section>
<section class="bim-automation-services container"></section>
<!-- <section class="section-projects">
  <div class="container section-projects__block">
    <h2 class="section-projects__title">Our BIM Modeling Projects</h2>
    <p class="section-projects__desc">
      We have over 200 BIM projects behind our back. Here are some<br />examples
      of our work:
    </p>
    <div class="section-projects__slider">
      <div class="section-projects__slider-item">
        <img src="../images/coordination/image-132.jpg" alt="slider" />
        <img src="../images/coordination/image-133.jpg" alt="slider" />
        <img src="../images/coordination/image-134.jpg" alt="slider" />
      </div>
    </div>
  </div>
</section> -->
<section class="outsourceProjects"></section>
<section class="contact-us"></section>
<section class="section faq"></section>
