.final-thoughts {
  background-color: var(--pure-white-color);
  padding-bottom: 20px;
}

.final-thoughts__container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  @include mq(tab) {
    padding-left: 32px;
    padding-right: 32px;
  }
  @include mq(desk) {
    padding-left: 249px;
    padding-right: 441px;
  }
}

.final-thoughts__title {
  text-align: center;
  margin-bottom: 20px;
  @include font-title-20;
}
.final-thoughts__description {
  margin-bottom: 20px;
  @include font-body-reg;
}
.final-thoughts__description-last {
  @include font-body-reg;
}

.final-thoughts__item {
  @include font-body-reg;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  &::before {
    content: ' ';
    display: inline-flex;
    background-image: url(../images/vectors/vector-right.svg);
    width: 10px;
    height: 9px;
    background-size: cover;
    color: var(--ligth-grey-color);
    padding-right: 10px;
  }
}
.final-thoughts__list {
  margin-bottom: 20px;
}
.final-thoughts__part {
  @include mq(mob) {
    display: contents;
  }
  display: block;
}
