.top-twenty-architectural {
  background-color: var(--pure-white-color);
  padding-bottom: 40px;

  .table__container::-webkit-scrollbar-track {
    box-shadow: none;
    background: none; /* ширина всей полосы прокрутки */
  }

  .table__container::-webkit-scrollbar {
    height: 2px;
    padding-top: 16px; /* ширина всей полосы прокрутки */
  }

  .table__container::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
  }

  .top-twenty__architectural-section {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

    @include mq(tab) {
      padding-left: 32px;
      padding-right: 32px;
    }
    @include mq(desk) {
      padding-left: 249px;
      padding-right: 441px;
    }
  }

  @include mq(tab) {
    padding-bottom: 60px;
  }
  @include mq(desk) {
    padding-bottom: 80px;
  }
}

.table__container::-webkit-scrollbar {
  height: 2px;
  padding-top: 16px; /* ширина всей полосы прокрутки */
}

.table__container::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
}

.top-twenty__architectural-section {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @include mq(tab) {
    padding-left: 32px;
    padding-right: 32px;
  }
  @include mq(desk) {
    padding-left: 249px;
    padding-right: 441px;
  }
}

.architectural__title-twenty {
  text-align: center;
  margin-bottom: 20px;
  @include font-title-20;
}
.architectural__description-twenty {
  margin-bottom: 20px;
  @include font-body-reg;
}

.architectural__left-block-twenty {
  width: 144px;
  align-items: flex-start;
  padding-left: 12px;
  font-size: 9px;
  @include mq(tab) {
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.architectural__right-block-twenty {
  width: 174px;
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
  font-size: 9px;
  @include mq(tab) {
    font-size: 14px;
    width: 269px;
  }
}
.architectural__table-twenty {
  border-spacing: 2px;
  border-collapse: separate;
  margin: 0 auto;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: calc(20 / 9);
  overflow-y: auto;
  @include mq(tab) {
    overflow: hidden;
  }
}
.architectural__caption {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 9px;
  @include mq(tab) {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: calc(17\14);
  }
}

.table__container {
  overflow-x: scroll;
  padding-bottom: 16px;
  @include mq(tab) {
    padding-bottom: 0px;
  }
  @include mq(desk) {
    padding-bottom: 0px;
  }
}
