<section class="hero-part-four"></section>

<section class="contents-with-author">
  <div class="container blog-top blog-seven-benefits">
    <div class="share"></div>
    <section class="contents"></section>

    <section class="contents-author">
      <div class="author">
        <div class="author__img-wrapper">
          <img
            class="author__img"
            src="../images/author/author-rapina@1x.jpg"
            alt=""
          />
        </div>
        <h3 class="author__name">Kostya Rapina</h3>
        <p class="author__profession">COO & Co-founder</p>
        <ul class="author__list">
          <li class="author__item author__facebook">
            <a class="author__link" href="#"></a>
          </li>
          <li class="author__item author__email">
            <a class="author__link" href="#"></a>
          </li>
        </ul>
        <div class="author__service">
          <p class="author__service-name">BIM Automation Services</p>

          <div class="author__service-link-wrap">
            <a class="author__service-link" href="#">Learn more</a>
          </div>
        </div>
      </div>
      <div class="contents-information"></div>
    </section>
  </div>
</section>

<!-- <div class="main__wrapper container"> -->
<div class="blog-top blog-seven-benefits container">
  <!-- <div class="blog-top"> -->
</div>
<!-- </div> -->


