<section class="BIMServices">
  <div class="container">
    <h3 class="benefits__title">Scan to BIM Services</h3>
    <ul>
      <li>
        3D BIM models must represent all elements and systems accurately to
        reduce errors and improve turnaround time.
      </li>
      <li>
        Many BIM modeling companies create interactive 3D models from flat
        drawings. However, Powerkh’s Point Cloud to BIM modeling services can
        help you achieve more precise results.
      </li>
    </ul>
    <ul>
      <li>
        Point Cloud refers to data obtained from scanning three-dimensional
        objects. But the raw data is useless for 3D modeling. Our company,
        however, can transform your Point Cloud data into 3D as-built models for
        any construction project.
      </li>
    </ul>
    <h4 class="BIM__subtitle">
      Our Scan to BIM services will allow you to get:
    </h4>
    <ul class="BIMServices__list"></ul>
  </div>
</section>

<section class="howWeWork"></section>
<section class="bim-automation-services"></section>
<section class="contact-us"></section>
