<!-- <section class="BIMServices">
  <div class="container">
    <h3 class="benefits__title">Scan to BIM Services</h3>
    <ul>
      <li>
        3D BIM models must represent all elements and systems accurately to
        reduce errors and improve turnaround time.
      </li>
      <li>
        Many BIM modeling companies create interactive 3D models from flat
        drawings. However, Powerkh’s Point Cloud to BIM modeling services can
        help you achieve more precise results.
      </li>
    </ul>
    <ul>
      <li>
        Point Cloud refers to data obtained from scanning three-dimensional
        objects. But the raw data is useless for 3D modeling. Our company,
        however, can transform your Point Cloud data into 3D as-built models for
        any construction project.
      </li>
    </ul>
    <h4 class="BIM__subtitle">
      Our Scan to BIM services will allow you to get:
    </h4>
    <ul class="BIMServices__list"></ul>
  </div>
</section>

<section class="howWeWork"></section>
<section class="bim-automation-services"></section>
<section class="contact-us"></section> -->

<!-- <div class="main__wrapper container"> -->
<div class="blog-top blog-seven-benefits container">
  <!-- <div class="blog-top"> -->
  <div class="share"></div>
  <section class="contents"></section>
  <section class="contents-author">
    <div class="author">
      <div class="author__img-wrapper">
        <img
          class="author__img"
          src="../images/author/author-rapina@1x.jpg"
          alt=""
        />
      </div>
      <h3 class="author__name">Kostya Rapina</h3>
      <p class="author__profession">COO & Co-founder</p>
      <ul class="author__list">
        <li class="author__item author__facebook">
          <a class="author__link" href="#"></a>
        </li>
        <li class="author__item author__email">
          <a class="author__link" href="#"></a>
        </li>
      </ul>
      <div class="author__service">
        <p class="author__service-name">BIM Automation Services</p>

        <div class="author__service-link-wrap">
          <a class="author__service-link" href="#">Learn more</a>
        </div>
      </div>
    </div>
    <div class="contents-information"></div>
  </section>
</div>
<!-- </div> -->
