<section class="other-articles">
  <div class="container other-articles__container">
    <div class="other-articles__wrapper">
      <h2 class="other-articles__title">Other articles of this author</h2>
      <ul class="other-articles__list-link list-link">
        <li class="list-link__item">
          <a href="#"
            >The Benefits of Using Laser Scanning in Construction You Can’t
            Miss</a
          >
        </li>
        <li class="list-link__item">
          <a href="#">As-Built Drawings 101: All You Need to Know</a>
        </li>
        <li class="list-link__item">
          <a href="#">BIM Outsourcing vs in-House Teams</a>
        </li>
        <li class="list-link__item">
          <a href="#">Construction RFI: Template, Best Practices</a>
        </li>
      </ul>
      <div class="other-articles__author-info author-info">
        <div class="author-info__wrapper">
          <h2 class="author-info__title">Kostya Rapina</h2>
          <p class="author-info__position">COO & Co-founder</p>
          <ul class="author-info__social-list social-list">
            <li class="social-list__item"><a href="">linkedin</a></li>
            <li class="social-list__item"><a href="">email</a></li>
          </ul>
        </div>
        <img class="author-info__avatar" src="#" alt="Kostya Rapina" />
      </div>
    </div>
  </div>
</section>
