<section class="contacts-section">
  <div class="container">
    <div class="contacts-section__wrapper">
      <ul class="contacts-section__list">
        <li class="contacts-section__list-item contacts-phone-wrap">
          <a href="tel:+380971952109" class="contacts-section__link">
            <!-- <svg class="contacts__icon" width="10" height="16">
              <use href="./images/sprite.svg#tel"></use>
            </svg> -->
            +380971952109</a
          >
          <a href="tel:+380989764637" class="contacts-section__link">
            +380989764637</a
          >
        </li>
        <li class="contacts-section__list-item">
          <a href="/" class="contacts-section__link">
            <!-- <svg class="contacts__icon" width="16" height="12">
                <use href="./images/sprite.svg#mail"></use>
              </svg> -->
            Kharkiv, Moskovsky AVE</a
          >
        </li>
        <li class="contacts-section__list-item">
          <a href="mailto:krp@powerkh.com" class="contacts-section__link">
            <!-- <svg class="contacts__icon" width="16" height="12">
                <use href="./images/sprite.svg#mail"></use>
              </svg> -->
            krp@powerkh.com</a
          >
        </li>
        <li class="contacts-section__list-item"></li>
      </ul>
      <div class="social-links-block"></div>
      <div class="contacts-section__plain-text-block">
        <p>
          Powerkh is a digital design consultancy which offers BIM,
          computational design, structural detailing and digital fabrication
          expertise. We work with project owners, architects, contractors,
          developers and engineers to improve the way buildings are designed,
          built, and operated through the use of digital design tools "Powerkh
          is a digital design company.
        </p>
      </div>
    </div>
  </div>
</section>
