<section class="BIM-modeling"></section>
<section class="howWeWork"></section>
<section class="bim-automation-services container"></section>
<section class="outsourceProjects"></section>
<section class="section-projects">
  <div class="container section-projects__block">
    <h2 class="section-projects__title">Our Structural Detailing Projects</h2>
    <p class="section-projects__desc">
      Powerkh handled hundreds of BIM projects for residential, commercial, and
      industrial sectors. Our work includes:
    </p>

    <div class="section-projects__slider">
      <div class="section-projects__slider-item sd"></div>
    </div>
  </div>
</section>
<section class="contact-us"></section>
<section class="section faq"></section>
