<section id="final-thoughts" class="final-thoughts">
  <div class="container final-thoughts__container">
    <h2 class="final-thoughts__title">Final Thoughts</h2>
    <p class="final-thoughts__description">
      Any list of <b> top architectural rendering companies</b> will be
      subjective, but I hope this has given you an idea of the market and
      today’s talent. For sure, the breadth of services available makes it
      challenging to decide which studio will be right for your project. When
      looking for architectural visualization services, I recommend you look at
    </p>
    <ul class="final-thoughts__list">
      <li>
        <p class="final-thoughts__item">The quality of images</p>
      </li>
      <li>
        <p class="final-thoughts__item">
          The overall style of the studio’s portfolio
        </p>
      </li>
      <li>
        <p class="final-thoughts__item">The price of selected visualizations</p>
      </li>
      <li>
        <p class="final-thoughts__item">
          The way the
          <strong class="final-thoughts__part"> rendering firm </strong>
          organizes its work process
        </p>
      </li>
    </ul>
    <p class="final-thoughts__description-last">
      Bear in mind that a streamlined and comprehensive workflow will get you
      the best results in the shortest possible time. This gives you peace of
      mind and will cut the time you spend monitoring a project.
    </p>
  </div>
</section>
