<section class="" style="background-color: white;">
    <div class="container">
    <h3>Top 10 Architectural Visualization Companies</h3>
    <ul style=>
      <li> <p class="architectural__name"> 1.Mir</p> 
        <img src="#" alt="">
        <table class="architectural__table">
       
        
          <tbody>
            <tr>
              <td class="architectural__left-block">Website</td>
              <td class="architectural__right-block">https://www.mir.no/</td>
            </tr>
            <tr>
              
              <td class="architectural__left-block">Location</td>
              <td class="architectural__right-block"  >Norway</td>
            </tr>
            <tr>
            
              <td class="architectural__left-block">Company size</td>
              <td class="architectural__right-block">9 employees</td>
            </tr>
            <tr>
            
              <td class="architectural__left-block">Style</td>
              <td class="architectural__right-block">Compositing</td>
            </tr>
            <tr>
            
              <td class="architectural__left-block">Price per image</td>
              <td class="architectural__right-block">$5000-$7000</td>
            </tr>
            <tr>
            
              <td class="architectural__left-block">Clients</td>
              <td class="architectural__right-block">BIG, Powerhouse company, KAAN</td>
            </tr>
          </tbody>
        </table>
      <p class="architectural__description"><a href="https://www.mir.no/" style="text-decoration:underline;">Mir</a> is an <b>architectural visualization firm </b> located in Bergen, Norway. The company is a leader in creating high-end architectural visualizations and has an efficient team of 3D compositing artists who use the technique at its maximum potential.</p>
      <p class="architectural__description">Mir is an excellent option for small-scale, large-scale, international, and even Fortune 500 company projects. The <b> rendering company </b> has been successfully serving clients for the last 20 years. In their own words, they try to figure out new and exciting ways to remind people that the world we live in is fantastic.</p>
      <p class="architectural__description">Mir focuses on sidestepping the mainstream. They keep track of general market trends so they know what to avoid in order to create truly unique work. They work primarily with compositing techniques to create highly realistic visuals.</p>
      <ul>
        <li >
        <p class="architectural__item">A leader in high-end visualization with a price tag to match</p>
        </li>
        <li>
          <p class="architectural__item">Highly realistic imaging through compositing</p>
          </li>
          <li>
            <p class="architectural__item">Accept projects of all sizes</p>
            </li>
      </ul>
      </li>
      <li >
      <p></p>
      </li>
    </ul>
</div>
  </section>