<section id="top-ten-architectural" class="top-thirty-architectural">
    <div class="container top-thirty__section-container">
    <h2 class="architectural__title">Top 10 Architectural Visualization Companies</h2>
    <ul style=>
      <li> <div class="architectural__block-nameList">
        <p class="architectural__part-number">1.</p> <p class="architectural__part-name">Mir</p> </div>
        <img
        srcset="
        ../images/top-thirty-architectural/mir-small-1@1x.jpg 320w,
        ../images/top-thirty-architectural/mir-small-1@2x.jpg 640w,
        ../images/top-thirty-architectural/mir-middle-1@1x.jpg 704w,
        ../images/top-thirty-architectural/mir-middle-1@2x.jpg 1408w,
       ../images/top-thirty-architectural/mir-large-1@1x.jpg 748w,
       ../images/top-thirty-architectural/mir-large-1@2x.jpg 1496w
        "
        sizes='(min-width: 1440px) 748px, (min-width: 768px) 704px,
        (min-width: 360px) 320px, 100vw'
        src="../images/top-thirty-architectural/mir-large-1@1x.jpg"
        loading="lazy"
        alt="Mir hotel"
        class="architectural__image "
       
      />
        <table class="architectural__table">
       
        
          <tbody>
            <tr>
              <td class="architectural__left-block architectural__color">Website</td>
              <td class="architectural__right-block architectural__color"> <a href="https://www.mir.no/" aria-label="transition to the Mir page" target="_blank" class="architectural__web-site">https://www.mir.no/</a> </td>
            </tr>
            <tr>
              
              <td class="architectural__left-block architectural__color">Location</td>
              <td class="architectural__right-block architectural__color"  >Norway</td>
            </tr>
            <tr>
            
              <td class="architectural__left-block architectural__color" >Company size</td>
              <td class="architectural__right-block architectural__color">9 employees</td>
            </tr>
            <tr>
            
              <td class="architectural__left-block architectural__color">Style</td>
              <td class="architectural__right-block architectural__color">Compositing</td>
            </tr>
            <tr>
            
              <td class="architectural__left-block architectural__color">Price per image</td>
              <td class="architectural__right-block architectural__color">$5000-$7000</td>
            </tr>
            <tr>
            
              <td class="architectural__left-block architectural__color">Clients</td>
              <td class="architectural__right-block architectural__color">BIG, Powerhouse company, KAAN</td>
            </tr>
          </tbody>
        </table>
      <p class="architectural__description"><a href="https://www.mir.no/" aria-label="transition to the Mir page" target="_blank" class="architectural__web-paragraph">Mir</a> is an <b>architectural visualization firm </b> located in Bergen, Norway. The company is a leader in creating high-end architectural visualizations and has an efficient team of 3D compositing artists who use the technique at its maximum potential.</p>
      <p class="architectural__description">Mir is an excellent option for small-scale, large-scale, international, and even Fortune 500 company projects. The <b > rendering company </b> has been successfully serving clients for the last 20 years. In their own words, they try to figure out new and exciting ways to remind people that the world we live in is fantastic.</p>
      <p class="architectural__description">Mir focuses on sidestepping the mainstream. They keep track of general market trends so they know what to avoid in order to create truly unique work. They work primarily with compositing techniques to create highly realistic visuals.</p>
      <ul>
        <li >
        <p class="architectural__item"> A leader in high-end visualization with a price tag to match</p>
        </li>
        <li>
          <p class="architectural__item">Highly realistic imaging through compositing</p>
          </li>
          <li>
            <p class="architectural__item">Accept projects of all sizes</p>
            </li>
      </ul>
      </li>
      <li >
        <li> <div class="architectural__block-nameList">
          <p class="architectural__part-number">2.</p> <p class="architectural__part-name">Brick Visual</p> </div>
          <img
          srcset="
        ../images/top-thirty-architectural/brick-visual-small-1@1x.jpg 320w,
        ../images/top-thirty-architectural/brick-visual-small-1@2x.jpg 640w,
        ../images/top-thirty-architectural/brick-visual-middle-1@1x.jpg 704w,
        ../images/top-thirty-architectural/brick-visual-middle-1@2x.jpg 1408w,
       ../images/top-thirty-architectural/brick-visual-large-1@1x.jpg 748w,
       ../images/top-thirty-architectural/brick-visual-large-1@2x.jpg 1496w
        "
        sizes='(min-width: 1440px) 748px, (min-width: 768px) 704px,
        (min-width: 360px) 320px, 100vw'
        src="../images/top-thirty-architectural/brick-visual-large-1@1x.jpg"
        loading="lazy"
          alt="Brick Visual hotel"
          class="architectural__image "
        />
          <table class="architectural__table">
         
          
            <tbody>
              <tr>
                <td class="architectural__left-block architectural__color">Website</td>
                <td class="architectural__right-block architectural__color"> <a href="https://brickvisual.com/" aria-label="transition to the Brick Visual page" target="_blank" class="architectural__web-site">https://brickvisual.com/</a> </td>
              </tr>
              <tr>
                
                <td class="architectural__left-block architectural__color">Location</td>
                <td class="architectural__right-block architectural__color"  >Hungary, Romania</td>
              </tr>
              <tr>
              
                <td class="architectural__left-block architectural__color" >Company size</td>
                <td class="architectural__right-block architectural__color">60 employees</td>
              </tr>
              <tr>
              
                <td class="architectural__left-block architectural__color">Style</td>
                <td class="architectural__right-block architectural__color">Full CGI + retouching</td>
              </tr>
              <tr>
              
                <td class="architectural__left-block architectural__color">Price per image</td>
                <td class="architectural__right-block architectural__color">$2000-$2500</td>
              </tr>
              <tr>
              
                <td class="architectural__left-block architectural__color">Clients</td>
                <td class="architectural__right-block architectural__color">Foster, Gensler, KPF</td>
              </tr>
            </tbody>
          </table>
        <p class="architectural__description"> With offices in Budapest and Cluj-Napoca, <a href="https://brickvisual.com/" aria-label="transition to the Brick Visual page" target="_blank" class="architectural__web-paragraph"> Brick Visual</a> is one of the <b>best architectural rendering firms</b>  with a global portfolio. Their talented team of 3D artists specializes in producing highly realistic visualizations with an engaging style. Besides .</p>
        <p class="architectural__description">Brick Visual is a dynamic developing studio which offers high-end visualization and a voice for unbuilt projects. Their portfolio features projects ranging from museums and bridges to skyscrapers and universities.</p>
        <p class="architectural__description">Brick Visual takes a flexible approach to work, which allows them to work with both large and small architectural companies. Over the past few years, the company has significantly improved the quality of its architectural visualization. This has helped them evolve to become a <b> top rendering firm</b> which offers unique work at a reasonable price.</p>
        <ul>
          <li >
          <p class="architectural__item">Good quality to price ratio</p>
          </li>
          <li>
            <p class="architectural__item">Work with both large and small clients</p>
            </li>
            <li>
              <p class="architectural__item">Unique style and designs with superb attention to detail</p>
              </li>
        </ul>
        </li>
      </li>
      <li> <div class="architectural__block-nameList">
        <p class="architectural__part-number">3.</p> <p class="architectural__part-name">Jazzrender - The Best Affordable Choice</p> </div>
        <img
        srcset="
        ../images/top-thirty-architectural/jazzrender-small-1@1x.jpg 320w,
        ../images/top-thirty-architectural/jazzrender-small-1@2x.jpg 640w,
        ../images/top-thirty-architectural/jazzrender-middle-1@1x.jpg 704w,
        ../images/top-thirty-architectural/jazzrender-middle-1@2x.jpg 1408w,
       ../images/top-thirty-architectural/jazzrender-large-1@1x.jpg 748w,
       ../images/top-thirty-architectural/jazzrender-large-1@2x.jpg 1496w
        "
        sizes='(min-width: 1440px) 748px, (min-width: 768px) 704px,
        (min-width: 360px) 320px, 100vw'
        src="../images/top-thirty-architectural/jazzrender-large-1@1x.jpg"
        loading="lazy"
        alt="Jazzrender hotel"
        class="architectural__image "
      />
        <table class="architectural__table">
          <tbody>
            <tr>
              <td class="architectural__left-block architectural__color">Website</td>
              <td class="architectural__right-block architectural__color"> <a href="https://www.jazzrender.com/" aria-label="transition to the Jazzrender page" target="_blank" class="architectural__web-site">https://www.jazzrender.com/</a> </td>
            </tr>
            <tr>
              
              <td class="architectural__left-block architectural__color">Location</td>
              <td class="architectural__right-block architectural__color"  >Ukraine</td>
            </tr>
            <tr>
            
              <td class="architectural__left-block architectural__color" >Company size</td>
              <td class="architectural__right-block architectural__color">10 employees</td>
            </tr>
            <tr>
            
              <td class="architectural__left-block architectural__color">Style</td>
              <td class="architectural__right-block architectural__color">Full CGI + retouching</td>
            </tr>
            <tr>
            
              <td class="architectural__left-block architectural__color">Price per image</td>
              <td class="architectural__right-block architectural__color">$1000</td>
            </tr>
            <tr>
            
              <td class="architectural__left-block architectural__color">Clients</td>
              <td class="architectural__right-block architectural__color">EDSA, WDG, WPA</td>
            </tr>
          </tbody>
        </table>
      <p class="architectural__description">A young but admirable 3D studio located in Ukraine, <a href="https://www.jazzrender.com/" aria-label="transition to the Jazzrender page" target="_blank" class="architectural__web-paragraph"> Jazzrender</a>  is proof that years of experience don’t count for everything. They’re also the most reasonable option in terms of price on our list. With all that said, they’re perfectly capable of producing work that stands out. The team specializes in producing 3D renders with a streamlined process that allows for project completion or image creation in just 5 days.</p>
      <p class="architectural__description">Jazzrender focuses on attention to service, which allows clients to reduce time spent on project management.</p>
      <p class="architectural__description">An economic partner that still goes the extra mile with quality</p>
      <ul>
        <li >
        <p class="architectural__item">An economic partner that still goes the extra mile with quality</p>
        </li>
        <li>
          <p class="architectural__item">Can produce 3D renders within a quick turnaround of 5 days</p>
          </li>
          <li>
            <p class="architectural__item">Great for innovative presentations</p>
            </li>
      </ul>
      </li>
    </li>
    <li> <div class="architectural__block-nameList">
      <p class="architectural__part-number">4.</p> <p class="architectural__part-name">Tomorrow</p> </div>
      <img
      srcset="
        ../images/top-thirty-architectural/tomorrow-small-1@1x.jpg 320w,
        ../images/top-thirty-architectural/tomorrow-small-1@2x.jpg 640w,
        ../images/top-thirty-architectural/tomorrow-middle-1@1x.jpg 704w,
        ../images/top-thirty-architectural/tomorrow-middle-1@2x.jpg 1408w,
       ../images/top-thirty-architectural/tomorrow-large-1@1x.jpg 748w,
       ../images/top-thirty-architectural/tomorrow-large-1@2x.jpg 1496w
        "
        sizes='(min-width: 1440px) 748px, (min-width: 768px) 704px,
        (min-width: 360px) 320px, 100vw'
        src="../images/top-thirty-architectural/tomorrow-large-1@1x.jpg"
        loading="lazy"
      alt="Tommorow hotel"
      class="architectural__image "
    />
      <table class="architectural__table">
        <tbody>
          <tr>
            <td class="architectural__left-block architectural__color">Website</td>
            <td class="architectural__right-block architectural__color"> <a href="https://tmrw.se/" aria-label="transition to the Tomorrow page" target="_blank" class="architectural__web-site">https://tmrw.se/</a> </td>
          </tr>
          <tr>
            
            <td class="architectural__left-block architectural__color">Location</td>
            <td class="architectural__right-block architectural__color"  >Sweden, USA</td>
          </tr>
          <tr>
          
            <td class="architectural__left-block architectural__color" >Company size</td>
            <td class="architectural__right-block architectural__color">40 employees</td>
          </tr>
          <tr>
          
            <td class="architectural__left-block architectural__color">Style</td>
            <td class="architectural__right-block architectural__color">Full CGI + retouching</td>
          </tr>
          <tr>
          
            <td class="architectural__left-block architectural__color">Price per image</td>
            <td class="architectural__right-block architectural__color">$3000</td>
          </tr>
          <tr>
          
            <td class="architectural__left-block architectural__color">Clients</td>
            <td class="architectural__right-block architectural__color">Foster, Gensler, KPF</td>
          </tr>
        </tbody>
      </table>
    <p class="architectural__description"> Founded in 2006 by Andreas Landgren and Mattias Henningsson, <a href="https://tmrw.se/" aria-label="transition to the Tomorrow page" target="_blank"  class="architectural__web-paragraph"> Tomorrow</a> is an <b> architectural rendering company </b> with offices in New York, Stockholm, Seoul, Gothenburg, Copenhagen, and Gdansk. Their team of over 40 employees includes 3D artists, designers, and developers who specialize in full CGI and retouching.  </p>
    <p class="architectural__description">Tomorrow promotes unbuilt architecture through high-end imagery and interactive storytelling. With more than a decade of experience in the industry, they have evolved into a global brand with a portfolio of over 5000 projects which include visual strategies and visual communications for some of the biggest and the most important projects of our time.</p>
    <p class="architectural__description">Driven by its aim to make the world better through design, communication, and innovation, Tomorrow welcomes clients from all over the world. Projects range from mid-sized developments and interior walkthroughs to large, multi-tower visualizations.</p>
    <p class="architectural__description">Tomorrow implements a highly structured visualization process in which two to three artists work on a project simultaneously. The result is high-end imagery that happens within 3 days — the best offering based on quality to execution speed ratio.</p>
    <ul>
      <li >
      <p class="architectural__item">Promote high-end visualizations through imagery and storytelling</p>
      </li>
      <li>
        <p class="architectural__item">A global brand with a large team of experts</p>
        </li>
        <li>
          <p class="architectural__item">Rapid 3-day turnaround</p>
          </li>
    </ul>
    </li>
  </li>
  <li> <div class="architectural__block-nameList">
    <p class="architectural__part-number">5.</p> <p class="architectural__part-name">Binyan Studios</p> </div>
    <img
    srcset="
    ../images/top-thirty-architectural/binyan-small-1@1x.jpg 320w,
    ../images/top-thirty-architectural/binyan-small-1@2x.jpg 640w,
    ../images/top-thirty-architectural/binyan-middle-1@1x.jpg 704w,
    ../images/top-thirty-architectural/binyan-middle-1@2x.jpg 1408w,
   ../images/top-thirty-architectural/binyan-large-1@1x.jpg 748w,
   ../images/top-thirty-architectural/binyan-large-1@2x.jpg 1496w
    "
    sizes='(min-width: 1440px) 748px, (min-width: 768px) 704px,
    (min-width: 360px) 320px, 100vw'
    src="../images/top-thirty-architectural/binyan-large-1@1x.jpg"
    loading="lazy"
    alt="Binyan hotel"
    class="architectural__image "
  />
    <table class="architectural__table">
      <tbody>
        <tr>
          <td class="architectural__left-block architectural__color">Website</td>
          <td class="architectural__right-block architectural__color"> <a href="https://www.binyanstudios.com/" aria-label="transition to the Binyan Studios page" target="_blank"  class="architectural__web-site">https://www.binyanstudios.com/</a> </td>
        </tr>
        <tr>
          
          <td class="architectural__left-block architectural__color">Location</td>
          <td class="architectural__right-block architectural__color"  >Australia, UK, USA</td>
        </tr>
        <tr>
        
          <td class="architectural__left-block architectural__color" >Company size</td>
          <td class="architectural__right-block architectural__color">100 employees</td>
        </tr>
        <tr>
        
          <td class="architectural__left-block architectural__color">Style</td>
          <td class="architectural__right-block architectural__color">Full CGI + retouching</td>
        </tr>
        <tr>
        
          <td class="architectural__left-block architectural__color">Price per image</td>
          <td class="architectural__right-block architectural__color">$4000-$8000</td>
        </tr>
        <tr>
        
          <td class="architectural__left-block architectural__color">Clients</td>
          <td class="architectural__right-block architectural__color">Foster, Gensler, KPF</td>
        </tr>
      </tbody>
    </table>
  <p class="architectural__description"> <a href="https://www.binyanstudios.com/" aria-label="transition to the Binyan Studios page" target="_blank" class="architectural__web-paragraph">Binyan Studios</a> is an <b> architectural rendering company </b>with offices in Sydney, Melbourne, Brisbane, New York, London, and Los Angeles. Founded in 2007, their team of artists focuses on creating 3D renders and animations. They also offer creative services such as photography, concept development, content strategy, film production, virtual reality, interactive applications, and experimental branding. </p>
  <p class="architectural__description">Binyan Studios typically work on big projects with real estate development companies. However, with 14 years of experience in the industry working with clients of all sizes, the company can handle all types of projects with ease.</p>
  <ul>
    <li >
    <p class="architectural__item">A wide range of services at the higher end of the market</p>
    </li>
    <li>
      <p class="architectural__item">Experienced in real estate development projects for larger clients</p>
      </li>
  </ul>
  </li>
</li>
<li> <div class="architectural__block-nameList">
  <p class="architectural__part-number">6.</p> <p class="architectural__part-name">The Boundary</p> </div>
  <img
  srcset="
  ../images/top-thirty-architectural/boundary-small-1@1x.jpg 320w,
  ../images/top-thirty-architectural/boundary-small-1@2x.jpg 640w,
  ../images/top-thirty-architectural/boundary-middle-1@1x.jpg 704w,
  ../images/top-thirty-architectural/boundary-middle-1@2x.jpg 1408w,
 ../images/top-thirty-architectural/boundary-large-1@1x.jpg 748w,
 ../images/top-thirty-architectural/boundary-large-1@2x.jpg 1496w
  "
  sizes='(min-width: 1440px) 748px, (min-width: 768px) 704px,
  (min-width: 360px) 320px, 100vw'
  src="../images/top-thirty-architectural/boundary-large-1@1x.jpg"
  loading="lazy"
  alt="Boundary hotel"
  class="architectural__image "
/>
  <table class="architectural__table">
    <tbody>
      <tr>
        <td class="architectural__left-block architectural__color">Website</td>
        <td class="architectural__right-block architectural__color"> <a href="https://www.the-boundary.com/" aria-label="transition to The Boundary page" target="_blank" class="architectural__web-site">https://www.the-boundary.com/</a> </td>
      </tr>
      <tr>
        
        <td class="architectural__left-block architectural__color">Location</td>
        <td class="architectural__right-block architectural__color"  >UK, USA</td>
      </tr>
      <tr>
      
        <td class="architectural__left-block architectural__color" >Company size</td>
        <td class="architectural__right-block architectural__color">30 employees</td>
      </tr>
      <tr>
      
        <td class="architectural__left-block architectural__color">Style</td>
        <td class="architectural__right-block architectural__color">Full CGI + retouching</td>
      </tr>
      <tr>
      
        <td class="architectural__left-block architectural__color">Price per image</td>
        <td class="architectural__right-block architectural__color">$4000-$5500</td>
      </tr>
      <tr>
      
        <td class="architectural__left-block architectural__color">Clients</td>
        <td class="architectural__right-block-one architectural__color">KPF, Trahan Architects, Henry Goss Architects</td>
      </tr>
    </tbody>
  </table>
<p class="architectural__description"> <a href="https://www.the-boundary.com/" aria-label="transition to The Boundary page" target="_blank" class="architectural__web-paragraph">The Boundary</a>  is an <b>architectural rendering company </b>located in London and New York. The firm has gained international recognition in the visual representation of architecture and the built environment. They continue to raise the bar in industry standards, offering game-changing content to progressive and ambitious clients.</p>
<p class="architectural__description">Since its creation, The Boundary has worked with some of the world’s best architects and designers, including seven Pritzker Architecture Prize laureates. The firm has completed over a hundred major projects, including thousands of visualizations, animations, and virtual reality tours.</p>
<p class="architectural__description">The Boundary was founded in 2014 by Henry Goss and Peter Guthrie. Henry owns an architectural studio which is one of The Boundary’s main clients.</p>
<ul>
  <li >
  <p class="architectural__item">A pioneer in digital technologies for graphic representation and the built environment</p>
  </li>
  <li>
    <p class="architectural__item">Have worked with the world’s best architects and designers</p>
    </li>
</ul>
</li>
</li>
<li> <div class="architectural__block-nameList">
  <p class="architectural__part-number">7.</p> <p class="architectural__part-name">Beauty and the Bit</p> </div>
  <img
  srcset="
  ../images/top-thirty-architectural/beauty-small-1@1x.jpg 320w,
  ../images/top-thirty-architectural/beauty-small-1@2x.jpg 640w,
  ../images/top-thirty-architectural/beauty-middle-1@1x.jpg 704w,
  ../images/top-thirty-architectural/beauty-middle-1@2x.jpg 1408w,
 ../images/top-thirty-architectural/beauty-large-1@1x.jpg 748w,
 ../images/top-thirty-architectural/beauty-large-1@2x.jpg 1496w
  "
  sizes='(min-width: 1440px) 748px, (min-width: 768px) 704px,
  (min-width: 360px) 320px, 100vw'
  src="../images/top-thirty-architectural/beauty-large-1@1x.jpg"
  loading="lazy"
  alt="Beauty and the bit hotel"
  class="architectural__image "
 
/>
  <table class="architectural__table">
    <tbody>
      <tr>
        <td class="architectural__left-block architectural__color">Website</td>
        <td class="architectural__right-block architectural__color"> <a href="https://www.beautyandthebit.com/" aria-label="transition to Beauty and the Bit page" target="_blank" class="architectural__web-site">https://www.beautyandthebit.com/</a> </td>
      </tr>
      <tr>
        
        <td class="architectural__left-block architectural__color">Location</td>
        <td class="architectural__right-block architectural__color"> Spain </td>
      </tr>
      <tr>
      
        <td class="architectural__left-block architectural__color" >Company size</td>
        <td class="architectural__right-block architectural__color">5 employees</td>
      </tr>
      <tr>
      
        <td class="architectural__left-block architectural__color">Style</td>
        <td class="architectural__right-block architectural__color">Compositing</td>
      </tr>
      <tr>
      
        <td class="architectural__left-block architectural__color">Price per image</td>
        <td class="architectural__right-block architectural__color">$5000</td>
      </tr>
      <tr>
      
        <td class="architectural__left-block architectural__color">Clients</td>
        <td class="architectural__right-block-one architectural__color">Dorte Mandrup, Snohetta, Zaha</td>
      </tr>
    </tbody>
  </table>
<p class="architectural__description"> Founded in 2012, <a href="https://www.beautyandthebit.com/" aria-label="transition to Beauty and the Bit page" target="_blank" class="architectural__web-paragraph">Beauty and the Bit </a> is  a <b>top rendering firm </b> located in Madrid, Spain. They have a small but strong team of professionals who pay special attention to quality and product finesse. Leveraging their expertise in both compositing and retouching, they craft stunning interior and exterior renderings with an extra focus on creating the mood of a piece.</p>
<p class="architectural__description">Whether they’re working on architectural marvels or high-rise buildings, Beauty and the Bit stand out from the rest when it comes to visualization quality.</p>

<ul>
  <li >
  <p class="architectural__item">A 9-year-old company with a strong team of professionals</p>
  </li>
  <li>
    <p class="architectural__item">Good quality to price ratio</p>
    </li>
</ul>
</li>
</li>
<li> <div class="architectural__block-nameList">
  <p class="architectural__part-number">8.</p> <p class="architectural__part-name">WAX</p> </div>
  <img
  srcset="
  ../images/top-thirty-architectural/wax-small-1@1x.jpg 320w,
  ../images/top-thirty-architectural/wax-small-1@2x.jpg 640w,
  ../images/top-thirty-architectural/wax-middle-1@1x.jpg 704w,
  ../images/top-thirty-architectural/wax-middle-1@2x.jpg 1408w,
 ../images/top-thirty-architectural/wax-large-1@1x.jpg 748w,
 ../images/top-thirty-architectural/wax-large-1@2x.jpg 1496w
  "
  sizes='(min-width: 1440px) 748px, (min-width: 768px) 704px,
  (min-width: 360px) 320px, 100vw'
  src="../images/top-thirty-architectural/wax-large-1@1x.jpg"
  loading="lazy"
  alt="wax hotel"
  class="architectural__image "
 
/>
  <table class="architectural__table">
    <tbody>
      <tr>
        <td class="architectural__left-block architectural__color">Website</td>
        <td class="architectural__right-block architectural__color"> <a href="https://tobewaxed.com/" aria-label="transition to the WAX page" target="_blank" class="architectural__web-site">https://tobewaxed.com/</a> </td>
      </tr>
      <tr>
        
        <td class="architectural__left-block architectural__color">Location</td>
        <td class="architectural__right-block architectural__color"> Netherlands </td>
      </tr>
      <tr>
      
        <td class="architectural__left-block architectural__color" >Company size</td>
        <td class="architectural__right-block architectural__color">8 employees</td>
      </tr>
      <tr>
      
        <td class="architectural__left-block architectural__color">Style</td>
        <td class="architectural__right-block architectural__color">Compositing</td>
      </tr>
      <tr>
      
        <td class="architectural__left-block architectural__color">Price per image</td>
        <td class="architectural__right-block architectural__color">$4000</td>
      </tr>
      <tr>
      
        <td class="architectural__left-block architectural__color">Clients</td>
        <td class="architectural__right-block-one architectural__color">MVRDV, KPF, Snohetta, Zaha</td>
      </tr>
    </tbody>
  </table>
<p class="architectural__description"><a href="https://tobewaxed.com/" aria-label="transition to the WAX page" target="_blank" class="architectural__web-paragraph">Wax</a> is a 3D rendering company located in the Netherlands whose energetic designers aim to create architectural imagery that goes one step further. Founded in 2012, Wax is the perfect company for building innovative presentations. With a focus on lighting and composition, they work towards telling the story behind every project through creative visuals and strive to envision unbuilt environments from the human perspective</p>
<p class="architectural__description">Wax’s portfolio features never-seen-before creations that highlight a balance between artistic feeling and technical skills. The company is part of the BINK36 creative hub in The Hague, which keeps them inspired and helps ensure their visuals are truly unique.</p>

<ul>
  <li >
  <p class="architectural__item">Architectural imagery with a focus on lighting and composition</p>
  </li>
  <li>
    <p class="architectural__item">Unique visuals created through CGI and retouching</p>
    </li>
</ul>
</li>
</li>
<li> <div class="architectural__block-nameList">
  <p class="architectural__part-number">9.</p> <p class="architectural__part-name">Bloom Images</p> </div>
  <img
  srcset="
  ../images/top-thirty-architectural/bloom-small-1@1x.jpg 320w,
  ../images/top-thirty-architectural/bloom-small-1@2x.jpg 640w,
  ../images/top-thirty-architectural/bloom-middle-1@1x.jpg 704w,
  ../images/top-thirty-architectural/bloom-midlle-1@2x.jpg 1408w,
 ../images/top-thirty-architectural/bloom-large-1@1x.jpg 748w,
 ../images/top-thirty-architectural/bloom-large-1@2x.jpg 1496w
  "
  sizes='(min-width: 1440px) 748px, (min-width: 768px) 704px,
  (min-width: 360px) 320px, 100vw'
  src="../images/top-thirty-architectural/bloom-large-1@1x.jpg"
  loading="lazy"
  alt="Bloom hotel"
  class="architectural__image "
 
/>
  <table class="architectural__table">
    <tbody>
      <tr>
        <td class="architectural__left-block architectural__color">Website</td>
        <td class="architectural__right-block architectural__color"> <a href="https://www.bloomimages.de/" aria-label="transition to the Bloom Images page" target="_blank"  class="architectural__web-site">https://www.bloomimages.de/</a> </td>
      </tr>
      <tr>
        
        <td class="architectural__left-block architectural__color">Location</td>
        <td class="architectural__right-block architectural__color"> Germany </td>
      </tr>
      <tr>
      
        <td class="architectural__left-block architectural__color" >Company size</td>
        <td class="architectural__right-block architectural__color">40 employees</td>
      </tr>
      <tr>
      
        <td class="architectural__left-block architectural__color">Style</td>
        <td class="architectural__right-block architectural__color">Full CGI + retouching</td>
      </tr>
      <tr>
      
        <td class="architectural__left-block architectural__color">Price per image</td>
        <td class="architectural__right-block architectural__color">$4000</td>
      </tr>
      <tr>
      
        <td class="architectural__left-block architectural__color">Clients</td>
        <td class="architectural__right-block-one architectural__color">Kleihues + Kleihues, Bauwens, Gensler</td>
      </tr>
    </tbody>
  </table>
<p class="architectural__description"> With offices in Hamburg and Berlin, Bloom Images have worked on visualizations for some of the world's best-known architects, including <a href="https://www.oma.com/" aria-label="transition to the OMA page" target="_blank" class="architectural__web-paragraph">OMA</a> and <a href="https://www.herzogdemeuron.com/" aria-label="transition to the Herzog & de Meuron page" target="_blank"  class="architectural__web-paragraph">Herzog & de Meuron.</a>  Founded in 2008, the company has a wide portfolio of projects ranging from villas to corporate buildings, museums, skyscrapers, and resorts, and much more.</p>

<ul>
  <li >
  <p class="architectural__item">A 13-year-old company with a large team</p>
  </li>
  <li>
    <p class="architectural__item">Employ CGI and retouching to create world-famous visualizations</p>
    </li>
</ul>
</li>


</li>
<li> <div class="architectural__block-nameList">
  <p class="architectural__part-number">10.</p> <p class="architectural__part-name">Play-Time</p> </div>
  <img
  srcset="
  ../images/top-thirty-architectural/play-time-small-1@1x.jpg 320w,
  ../images/top-thirty-architectural/play-time-small-1@2x.jpg 640w,
  ../images/top-thirty-architectural/play-time-middle-1@1x.jpg 704w,
  ../images/top-thirty-architectural/play-time-middle-1@2x.jpg 1408w,
 ../images/top-thirty-architectural/play-time-large-1@1x.jpg 748w,
 ../images/top-thirty-architectural/play-time-large-1@2x.jpg 1496w
  "
  sizes='(min-width: 1440px) 748px, (min-width: 768px) 704px,
  (min-width: 360px) 320px, 100vw'
  src="../images/top-thirty-architectural/play-time-large-1@1x.jpg"
  loading="lazy"
  alt="Play Time"
  class="architectural__image "
 
/>
  <table class="architectural__table">
    <tbody>
      <tr>
        <td class="architectural__left-block architectural__color">Website</td>
        <td class="architectural__right-block architectural__color"> <a href="https://www.play-time.es/" aria-label="transition to the Play-Time page" target="_blank" class="architectural__web-site">https://www.play-time.es/</a> </td>
      </tr>
      <tr>
        
        <td class="architectural__left-block architectural__color">Location</td>
        <td class="architectural__right-block architectural__color"> Spain </td>
      </tr>
      <tr>
      
        <td class="architectural__left-block architectural__color" >Company size</td>
        <td class="architectural__right-block architectural__color">12 employees</td>
      </tr>
      <tr>
      
        <td class="architectural__left-block architectural__color">Style</td>
        <td class="architectural__right-block architectural__color">Full CGI + retouching</td>
      </tr>
      <tr>
      
        <td class="architectural__left-block architectural__color">Price per image</td>
        <td class="architectural__right-block architectural__color">$4000</td>
      </tr>
      <tr>
      
        <td class="architectural__left-block architectural__color">Clients</td>
        <td class="architectural__right-block-one architectural__color">BIG, B+H, BAAS</td>
      </tr>
    </tbody>
  </table>
<p class="architectural__description">  Founded in 2009 in Barcelona, <a href="https://www.play-time.es/" aria-label="transition to the Play-Time page" target="_blank" class="architectural__web-paragraph">Play-Time</a> is a group of architects with broad experience in photography, graphic design, and audio-visual presentation. They stand out from the rest in how they process images with attention to detail.</p>
<p class="architectural__description-last">  Play-Time pays special attention to the lighting of spaces, the texture of materials, and sensitivity to color in order to convey atmosphere and feeling and bridge the gap between a project and the viewer. The company avoids using realistic images and approaches photography with intention.</p>
</li>
</li>
    </ul>
</div>
  </section>