.benefits-of-bim {
  padding-bottom: 40px;

  @include mq(tab) {
    padding-bottom: 60px;
  }

  @include mq(desk) {
    padding-bottom: 80px;
  }
  &__container {
    padding-right: 20px;
    padding-left: 20px;

    @include mq(tab) {
      padding-right: 32px;
      padding-left: 32px;
    }

    @include mq(desk) {
      padding-right: 441px;
      padding-left: 249px;
    }
  }

  &__title {
    margin-bottom: 20px;
    @include font-title-20;
    text-align: center;

    color: var(--dark-grey-color);
  }

  &__paragraph {
    @include font-body-reg;
    color: var(--dark-grey-color);
    margin-bottom: 20px;

    &-underline {
      text-decoration: underline;
    }
  }

  &__last-paragraph {
    margin-bottom: 0;
  }

  &__subtitle {
    margin-bottom: 20px;
    @include font-title-20;
    color: var(--dark-grey-color);
  }
  &__img-wrap {
    margin-bottom: 40px;
  }
  &__img {
    width: 100%;
  }
}
