<!-- <section class="bimServices__section">
  <div class="container">
    <h2 class="bimServices__heding">BIM & VDC Services</h2>
    <div class="bimServices__infoDiv">
      <div>
        <p>
          Building Information Modeling (BIM) and Virtual Design & Construction
          (VDC) take construction management to new heights. However, few
          companies can successfully move from the conventional approach with
          flat drawings towards complex 3D modeling.
        </p>
        <span class="bimServices__emptySpan"></span>
        <p>
          Powerkh is one of these companies. Our team has vast experience with
          both traditional and digitalized projects. As such, we can ease the
          transition and help you out at every stage of construction.
        </p>
      </div>
      <div>
        <p>
          Do you want to improve your project’s success rate and efficiency?
          Powerkh provides a wide range of Revit BIM services for various
          industries. We can audit your workflow and introduce automation
          solutions to help you perform routine processes three times as fast.
        </p>
        <span class="bimServices__emptySpan"></span>
        <p>
          With us at your side, you will rethink how you plan, perform, and
          coordinate your teams.
        </p>
      </div>
    </div>
    <div ></div> -->

<section class="BIM-modeling bimServices__section"></section>
