<section class="contact-us">
  <div class="container">
    <div class="contact-us__block">
      <h2 class="contact-us__title">
        VDC & BIM Solutions Powered by Expertise
      </h2>
      <p class="contact-us__description">
        Whether you need an accurate 3D model, detailed shop drawings, or
        performance-enhancing workarounds — Powerkh can help you with affordable
        VDC and BIM solutions. Do you want to entrust your project to experts?
      </p>
      <button type="button" class="btn contact-us__button js-btn-modal">
        Start by contacting us for a consultation!
      </button>
    </div>
  </div>
</section>
