<section class="hero hero-main">
  <div class="container">
    <!-- <div class="container_main-hero"> -->
    <div class="hero__block-main">
      <img
        class="hero__frame-down-left"
        src="../images/vectors/frame-down-left.svg"
        loading="lazy"
        alt="decorative element"
      />
      <img
        class="hero__frame-up-left"
        src="../images/vectors/frame-up-left.svg"
        loading="lazy"
        alt="decorative element"
      />
      <img
        class="hero__frame-down-right"
        src="../images/vectors/frame-down-right.svg"
        loading="lazy"
        alt="decorative element"
      />
      <img
        class="hero__frame-up-right"
        src="../images/vectors/frame-up-right.svg"
        loading="lazy"
        alt="decorative element"
      />
      <div class="hero__content"></div>
      <button class="hero__btn js-btn-modal" type="button">
        Discuss the task
        <img src="../images/vectors/arrow.svg" loading="lazy" alt="arrow" />
      </button>
    </div>
    <aside class="hero-main__aside">
      <ul class="hero-main__list-nav-links">
        <li>
          <a class="hero-main__link-1" href="./bim-modeling.html">
            <p class="hero-main__link-content">BIM Modeling</p>
          </a>
        </li>
        <li>
          <a class="hero-main__link-2" href="./scan-to-bim.html">
            <p class="hero-main__link-content-1">Scan to BIM</p>
          </a>
        </li>
        <li>
          <a class="hero-main__link-3" href="./bim-automation.html">
            <p class="hero-main__link-content-2">BIM Automation</p>
          </a>
        </li>
        <li>
          <a class="hero-main__link-4" href="./bim-coordination.html">
            <p class="hero-main__link-content-3">BIM Coordination</p>
          </a>
        </li>
      </ul>
    </aside>
    <!-- </div> -->
  </div>
</section>
