<section class="customers__section">
  <div class="container">
    <h2 class="customers__head">Our customers</h2>
    <ul class="customers__list">
      <li>
        <a href="https://reiscontracting.com/" target="_blank">
          <img
            srcset="
              ../images/partners/partner1-2x.jpg 332w,
              ../images/partners/partner1-1x.jpg 166w
            "
            sizes="(min-width: 1440px) 166px, (min-width: 768px) 166px,
  (min-width: 360px) 166px, 100vw"
            src="../images/partners/partner1-1x.jpg"
            loading="lazy"
            alt="partner_1"
            class="customers__list_partner-img"
          />
        </a>
      </li>
      <li>
        <a href="https://www.firmus.ai/" target="_blank">
          <img
            srcset="
              ../images/partners/partner2-2x.jpg 332w,
              ../images/partners/partner2-1x.jpg 166w
            "
            sizes="(min-width: 1440px) 166px, (min-width: 768px) 166px,
  (min-width: 360px) 166px, 100vw"
            src="../images/partners/partner2-1x.jpg"
            loading="lazy"
            alt="partner_2"
            class="customers__list_partner-img"
          />
        </a>
      </li>
      <li>
        <a href="http://revealconsultinggroup.com/" target="_blank">
          <img
            srcset="
              ../images/partners/partner3-2x.jpg 332w,
              ../images/partners/partner3-1x.jpg 166w
            "
            sizes="(min-width: 1440px) 166px, (min-width: 768px) 166px,
  (min-width: 360px) 166px, 100vw"
            src="../images/partners/partner3-1x.jpg"
            loading="lazy"
            alt="partner_3"
            class="customers__list_partner-img"
          />
        </a>
      </li>
      <li>
        <a href="https://createarchitecture.co.uk/" target="_blank">
          <img
            srcset="
              ../images/partners/partner4-2x.jpg 332w,
              ../images/partners/partner4-1x.jpg 166w
            "
            sizes="(min-width: 1440px) 166px, (min-width: 768px) 166px,
  (min-width: 360px) 166px, 100vw"
            src="../images/partners/partner4-1x.jpg"
            loading="lazy"
            alt="partner_4"
            class="customers__list_partner-img"
          />
        </a>
      </li>
      <li>
        <a href="https://revere.design/" target="_blank">
          <img
            srcset="
              ../images/partners/partner5-2x.jpg 332w,
              ../images/partners/partner5-1x.jpg 166w
            "
            sizes="(min-width: 1440px) 166px, (min-width: 768px) 166px,
  (min-width: 360px) 166px, 100vw"
            src="../images/partners/partner5-1x.jpg"
            loading="lazy"
            alt="partner_5"
            class="customers__list_partner-img"
          />
        </a>
      </li>
      <li>
        <a href="https://www.wdgarch.com/" target="_blank">
          <img
            srcset="
              ../images/partners/partner6-2x.jpg 332w,
              ../images/partners/partner6-1x.jpg 166w
            "
            sizes="(min-width: 1440px) 166px, (min-width: 768px) 166px,
  (min-width: 360px) 166px, 100vw"
            src="../images/partners/partner6-1x.jpg"
            loading="lazy"
            alt="partner_6"
            class="customers__list_partner-img"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
