<section class="customers__section">
  <div class="container">
    <h2 class="customers__head">Our customers</h2>
    <ul class="customers__list">
      <li>
        <img
          srcset="
            ../images/partners/partner1-2x.jpg 332w,
            ../images/partners/partner1-1x.jpg 166w
          "
          sizes="(min-width: 1440px) 166px, (min-width: 768px) 166px,
  (min-width: 360px) 166px, 100vw"
          src="../images/partners/partner1-1x.jpg"
          alt="partner_1"
          class="partner_1"
        />
      </li>
      <li>
        <img
          srcset="
            ../images/partners/partner2-2x.jpg 332w,
            ../images/partners/partner2-1x.jpg 166w
          "
          sizes="(min-width: 1440px) 166px, (min-width: 768px) 166px,
  (min-width: 360px) 166px, 100vw"
          src="../images/partners/partner2-1x.jpg"
          alt="partner_2"
          class="partner_1"
        />
      </li>
      <li>
        <img
          srcset="
            ../images/partners/partner3-2x.jpg 332w,
            ../images/partners/partner3-1x.jpg 166w
          "
          sizes="(min-width: 1440px) 166px, (min-width: 768px) 166px,
  (min-width: 360px) 166px, 100vw"
          src="../images/partners/partner3-1x.jpg"
          alt="partner_3"
          class="partner_1"
        />
      </li>
      <li>
        <img
          srcset="
            ../images/partners/partner4-2x.jpg 332w,
            ../images/partners/partner4-1x.jpg 166w
          "
          sizes="(min-width: 1440px) 166px, (min-width: 768px) 166px,
  (min-width: 360px) 166px, 100vw"
          src="../images/partners/partner4-1x.jpg"
          alt="partner_4"
          class="partner_1"
        />
      </li>
      <li>
        <img
          srcset="
            ../images/partners/partner5-2x.jpg 332w,
            ../images/partners/partner5-1x.jpg 166w
          "
          sizes="(min-width: 1440px) 166px, (min-width: 768px) 166px,
  (min-width: 360px) 166px, 100vw"
          src="../images/partners/partner5-1x.jpg"
          alt="partner_5"
          class="partner_1"
        />
      </li>
      <li>
        <img
          srcset="
            ../images/partners/partner6-2x.jpg 332w,
            ../images/partners/partner6-1x.jpg 166w
          "
          sizes="(min-width: 1440px) 166px, (min-width: 768px) 166px,
  (min-width: 360px) 166px, 100vw"
          src="../images/partners/partner6-1x.jpg"
          alt="partner_6"
          class="partner_1"
        />
      </li>
    </ul>
  </div>
</section>
