<section class="bimServices__section">
  <div class="container">
    <h2 class="bimServices__heading">BIM Services Provided by Powerkh</h2>
    <p class="bimServices__body">
      We will share our tried and tested BIM Powerkh is a digital design and
      consultancy company that works in the US, UK, and Europe. We hire the best
      BIM professionals and qualified designers with relevant experience across
      multiple sectors.
    </p>
    <p class="bimServices__body">Our company offers:</p>
    <ul class="bimServices__list">
      <li class="bimServices__list-item1">
        <a href="./bim-modeling.html" class="bimServices__list-item-link">
          <div>
            <div class="bimServices__infoDivP">
              <h3 class="bimServices__list-item-heading">BIM Modeling</h3>
              <p class="bimServices__list-item-body">
                3D BIM modeling services (LOD<br />
                100 to LOD 400/500)
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="bimServices__list-item2">
        <a href="./bim-coordination.html" class="bimServices__list-item-link">
          <div>
            <div class="bimServices__infoDivP">
              <h3 class="bimServices__list-item-heading">BIM Coordination</h3>
              <p class="bimServices__list-item-body">
                BIM coordination & consultation services, Revit clash detection
                & resolution services
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="bimServices__list-item3">
        <a href="./bim-content.html" class="bimServices__list-item-link">
          <div>
            <div class="bimServices__infoDivP">
              <h3 class="bimServices__list-item-heading">BIM Content</h3>
              <p class="bimServices__list-item-body">
                Creation of Revit families & Management
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="bimServices__list-item4">
        <a href="./scan-to-bim.html" class="bimServices__list-item-link">
          <div>
            <div class="bimServices__infoDivP">
              <h3 class="bimServices__list-item-heading">Scan to BIM</h3>
              <p class="bimServices__list-item-body">
                Point Cloud to BIM conversion and data processing, 2D as-built
                drawings (based on your Point Cloud data)
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="bimServices__list-item5">
        <a href="./bim-automation.html" class="bimServices__list-item-link">
          <div>
            <div class="bimServices__infoDivP">
              <h3 class="bimServices__list-item-heading">BIM Automation</h3>
              <p class="bimServices__list-item-body">
                Workflow optimization & integration with BIM software,
                Automation & scripting solutions, Generative design
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="bimServices__list-item6">
        <a href="./prefabrication.html" class="bimServices__list-item-link">
          <div>
            <div class="bimServices__infoDivP">
              <h3 class="bimServices__list-item-heading">
                BIM Prefabrication & Fabrication
              </h3>
              <p class="bimServices__list-item-body">
                BIM prefabrication for CNC manufacturing, Design-to-fabrication
                workflows, Shop drawings
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="bimServices__list-item7">
        <a
          href="./structural-detailing.html"
          class="bimServices__list-item-link"
        >
          <div>
            <div class="bimServices__infoDivP">
              <h3 class="bimServices__list-item-heading">
                Structural Detailing
              </h3>
              <p class="bimServices__list-item-body">
                Steel, Rebar, Precast, and Facade detailing, Shop (fabrication)
                drawings, Concrete outline drawings
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="bimServices__list-item8">
        <a
          href="./architectural-rendering.html"
          class="bimServices__list-item-link"
        >
          <div>
            <div class="bimServices__infoDivP">
              <h3 class="bimServices__list-item-heading">
                Architectural Rendering
              </h3>
              <p class="bimServices__list-item-body">
                3D architectural rendering services [Exterior, Interior, 3D
                Visualization Company]
              </p>
            </div>
          </div>
        </a>
      </li>
      <li>
        <button type="button" class="bimServices__list-item-last js-btn-modal">
          <h3 class="bimServices__list-item-heading-last">
            Contact us<br />
            with new<br />
            business injury
          </h3>
          <span class="bim_list-item-last-arrow"></span>
        </button>
      </li>
    </ul>
  </div>
</section>
