<section class="bimServices_grid__section">
  <div class="container">
    <h2 class="caseStudies__subtitle">BIM Services Provided by Powerkh</h2>
    <p class="bimServices__body">
      We will share our tried and tested BIM Powerkh is a digital design and
      consultancy company that works in the US, UK, and Europe. We hire the best
      BIM professionals and qualified designers with relevant experience across
      multiple sectors.
    </p>
    <p class="bimServices__body">Our company offers:</p>
    <ul class="bimServices__list">
      <a href="/bim-modeling">
        <li class="bimServices__list-item1">
          <div>
            <div class="bimServices__infoDivP">
              <h3 class="bimServices__list-item-heading">BIM Modeling</h3>
              <p class="bimServices__list-item-body">
                3D BIM modeling services (LOD<br />
                100 to LOD 400/500)
              </p>
            </div>
          </div>
        </a>
        </li>
      <a href="/bim-coordination">
        <li class="bimServices__list-item2">
          <div>
            <div class="bimServices__infoDivP">
              <h3 class="bimServices__list-item-heading">BIM Coordination</h3>
              <p class="bimServices__list-item-body">
                BIM coordination & consultation<br />services, Revit clash
                detection &<br />resolution services
              </p>
            </div>
            <div class="bimServices__list-item-img2"></div>
          </div>
        </li>
      </a>
      <a href="/bim-content">
        <li class="bimServices__list-item2">
          <div>
            <div class="bimServices__infoDivP">
              <h3 class="bimServices__list-item-heading">BIM Content</h3>
              <p class="bimServices__list-item-body">
                Creation of Revit families &<br />Management
              </p>
            </div>
            <div class="bimServices__list-item-img3"></div>
          </div>
        </li>
      </a>
      <a href="/scan-to-bim">
        <li class="bimServices__list-item1">
          <div>
            <div class="bimServices__infoDivP">
              <h3 class="bimServices__list-item-heading">Scan to BIM</h3>
              <p class="bimServices__list-item-body">
                Point Cloud to BIM conversion and data processing, 2D as-built
                drawings (based<br>on your Point Cloud data)
              </p>
            </div>
            <div class="bimServices__list-item-img4"></div>
          </div>
        </li>
      </a>
      <a href="/bim-automation">
        <li class="bimServices__list-item2">
          <div>
            <div class="bimServices__infoDivP">
              <h3 class="bimServices__list-item-heading">BIM Automation</h3>
              <p class="bimServices__list-item-body">
                Workflow optimization & integration<br>with BIM software,
                Automation &<br>scripting solutions, Generative design
              </p>
            </div>
            <div class="bimServices__list-item-img5"></div>
          </div>
        </li>
      </a>
      <a href="/bim-prefabrication">
        <li class="bimServices__list-item2">
          <div>
            <div class="bimServices__infoDivP">
              <h3 class="bimServices__list-item-heading">
                BIM Prefabrication & Fabrication
              </h3>
              <p class="bimServices__list-item-body">
                BIM prefabrication for CNC<br>manufacturing, Design-to-fabrication
                workflows, Shop drawings
              </p>
            </div>
            <div class="bimServices__list-item-img6"></div>
          </div>
        </li>
      </a>
      <a href="/structural-detailing">
        <li class="bimServices__list-item7">
          <div>
            <div class="bimServices__infoDivP">
              <h3 class="bimServices__list-item-heading">
                Structural Detailing
              </h3>
              <p class="bimServices__list-item-body">
                Steel, Rebar, Precast, and Facade detailing, Shop (fabrication)
                drawings,<br>Concrete outline drawings
              </p>
            </div>
            <div class="bimServices__list-item-img7"></div>
          </div>
        </li>
      </a>
      <a href="/arhitectural-rendering">
        <li class="bimServices__list-item8">
          <div>
            <div class="bimServices__infoDivP">
              <h3 class="bimServices__list-item-heading">
                Architectural Rendering
              </h3>
              <p class="bimServices__list-item-body">
                3D architectural rendering services [Exterior, Interior, 3D
                Visualization<br />
                Company]
              </p>
            </div>
            <div class="bimServices__list-item-img8"></div>
          </div>
        </li>
      </a>
      <a href="/#">
        <li class="bimServices__list-item-last">
          <h3 class="bimServices__list-item-heading-last">
            Contact us<br />
            with new<br />
            business injury
          </h3>
          <span class="bim_list-item-lasr-arrow"></span>
        </li>
      </a>
    </ul>
  </div>
</section>
