<section class="container outsourceProjects">
  <!-- <h2 class="section-3__title">Powerkh for BIM Outsourcing Projects</h2>
  <p class="section-3__description">
    Powerkh can find the right approach to any project — from residential
    apartments to industrial complexes. No matter how difficult and multifaceted
    your construction may seem, our experts will help you enhance productivity
    with innovative BIM solutions and VDC services.
  </p>
  <ul class="section-3__list">
    <p>Our partners can expect:</p>
    <li class="section-3__item">
      <h3 class="section-3__subtitle">Engineering and design experience</h3>
      <p class="section-3__description">
        Our specialists understand the design intent and logical links between
        architectural, structural, and MEP systems.
      </p>
    </li>
    <li class="section-3__item">
      <h3 class="section-3__subtitle">Innovative technological solutions</h3>
      <p class="section-3__description">
        We handle complex modeling software to build accurate 3D BIM databases
        with high detail levels (up to LOD 500).
      </p>
    </li>
    <li class="section-3__item">
      <h3 class="section-3__subtitle">Fast turnaround time</h3>
      <p class="section-3__description">
        We use BIM automation and scripting tools to deliver quick results and
        enhance your productivity.
      </p>
    </li>
    <li class="section-3__item">
      <h3 class="section-3__subtitle">Established workflow</h3>
      <p class="section-3__description">
        Powerkh always stays in touch — our team quickly adjusts to deadline
        shifts and requirement changes.
      </p>
    </li>
  </ul> -->
</section>
