<section class="section footer">
  <ul>
    <li>Home</li>
    <li>Case Studies</li>
    <li>Blog</li>
    <li>About</li>
    <li>Career</li>
    <li>Contacts</li>
  </ul>
  <p>Services:</p>
  <ul>
    <li>BIM Modeling</li>
    <li>BIM Coordination</li>
    <li>BIM Content</li>
    <li>Scan-to-BIM</li>
    <li>BIM Automation</li>
    <li>Prefabrication & Fabrication</li>
    <li>Structural detailing</li>
    <li>Architectural Rendering</li>
  </ul>
  <div class="social">
    <span class="scroll-up">Up</span>
    <svg class="icon" width="150" height="150">
      <use href="./images/vectors/sprite.svg#icon-instagram"></use>
    </svg>
    <svg class="icon" width="150" height="150">
      <use href="./images/vectors/sprite.svg#icon-facebook"></use>
    </svg>
    <svg class="icon" width="150" height="150">
      <use href="./images/vectors/sprite.svg#icon-linkedin"></use>
    </svg>

    <!-- <svg class="icon" width="150" height="150">
      <use href="#camera"></use>
    </svg>

    <svg class="icon" width="150" height="150">
      <use href="#work"></use>
    </svg> -->
  </div>
  <p>Powerkh − BIM & VDC solution provider</p>
</section>
