<section class="impact-on-business">
  <div class="impact-on-business__container container">
    <h2 class="impact-on-business__title">Impact on business</h2>
    <div class="impact-on-business__block">
      <p class="impact-on-business__description">
        By implementing the set of Dynamo scripts to the drop ceiling design
        process, we cut down the time needed to design the ceiling for one room
        from several hours to several minutes. We also introduced a hangers
        selection algorithm that removed the manufacturer from the design
        process and allowed the client to get the hangers design in less than a
        minute. Better coordination with MEP systems and structural elements
        improved the quality of design. Finally, smart design tools helped
        eliminate all potential errors at the earliest design stage.
      </p>
      <ul class="impact-on-business__list">
        <li class="impact-on-business__item">
          <span class="impact-on-business__number">90%</span>
          <p class="impact-on-business__statistics">
            of design errors were fixed
          </p>
        </li>
        <li class="impact-on-business__item">
          <span class="impact-on-business__number">5x</span>
          <p class="impact-on-business__statistics">increase in design speed</p>
        </li>
        <li class="impact-on-business__item">
          <span class="impact-on-business__number">10x</span>
          <p class="impact-on-business__statistics">
            cheaper design due to BIM automation and lower labor costs
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
