<section class="container case-description">
  <a
    href="./case-studies.html"
    class="case-description__link"
    aria-label="link to our case studies"
    >/Case Studies</a
  >
  <div class="case-description__content">
    <div class="case-description__text-block"></div>

    <div class="swiper slider-hero">
      <div class="swiper-wrapper"></div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<section class="processTemplate"></section>
<section class="solution"></section>
<section class="impact-on-business"></section>
