.automate-repetitive-design {
  padding-bottom: 40px;
  @include mq(tab) {
    padding-bottom: 60px;
  }
  @include mq(desk) {
    padding-bottom: 80px;
  }
}

.automate-repetitive-design__block {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--background-color);
  text-align: center;
}

.automate-repetitive-design__text {
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 40px;
  @include font-title;
  color: var(--dark-grey-color);
  @include mq(tab) {
    max-width: 480px;
  }
}

.automate-repetitive-design__button {
  @include font-title-14;
  text-transform: uppercase;
  padding: 16px;
  color: var(--pure-white-color);
  background-color: var(--dark-grey-color);
  border: none;
}
