.contents-description {
  padding-bottom: 40px;

  @include mq(tab) {
    padding-bottom: 60px;
  }
  @include mq(desk) {
    padding-bottom: 80px;
  }

  &__container {
    padding-left: 20px;
    padding-right: 20px;
    @include mq(tab) {
      padding-left: 32px;
      padding-right: 32px;
    }
    @include mq(desk) {
      padding-left: 249px;
      padding-right: 441px;
    }
  }

  &__paragraph {
    @include font-body-reg;
    color: var(--dark-grey-color);

    &:not(:first-child) {
      margin-top: 20px;
    }

    &-italic {
      font-style: italic;
      color: #747474;
      text-decoration: underline;
      &:hover,
      &:focus {
        color: var(--dark-grey-color);
      }
    }

    &-bold {
      font-weight: 700;
    }
  }
}
