.footer {
  background-color: var(--pure-white-color);
}

.flex-container {
  padding-bottom: 40px;

  @include mq(tab) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 36px;
    padding-top: 40px;
  }
}

.footer__nav {
  display: inline-block;
  columns: 2;
  column-gap: 80px;
  margin-bottom: 34px;

  @include font-body-reg;
  text-transform: capitalize;
  line-height: 20px;
  color: var(--dark-grey-color);

  @include mq(tab) {
    columns: 1;
    margin-right: 91px;
    margin-bottom: 0;
  }

  @include mq(desk) {
    columns: 2;
    column-gap: 40px;
    margin-right: 77px;
  }
}

.footer__navItem,
.footer__servItem {
  position: relative;
  width: max-content;
  margin-bottom: 4px;
}

.footer__navItem::after,
.footer__servItem::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--pure-black-color);
  transform: scaleX(0);
  content: '';
  transition: transform 300ms linear;
}

.footer__navItem.active::after,
.footer__servItem.active::after,
.footer__navItem:hover::after,
.footer__servItem:hover::after,
.footer__navItem:focus::after,
.footer__servItem:focus::after {
  transform: scaleX(1);
}

.footer__services {
  @include font-body-reg;
  text-transform: capitalize;
  line-height: 20px;
  color: var(--dark-grey-color);
  margin-bottom: 12px;

  @include mq(tab) {
    margin-right: auto;
    margin-bottom: 0;
  }

  @include mq(desk) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 74px;
    flex-basis: calc(124px + 117px + 196px + 40px * 2);
    row-gap: 4px;
    column-gap: 40px;
    margin-right: auto;
  }
}

.footer__title {
  @include font-title-14;
  margin-bottom: 10px;

  @include mq(desk) {
    margin-bottom: 4px;
  }
}

.footer__servItem {
  @include mq(desk) {
    margin-bottom: 0;
  }
}

.footer__social {
  margin: 0 auto 32px;
  width: 160px;

  @include mq(tab) {
    margin: 0;
    width: 144px;
    text-align: right;
  }
}

.scroll-up {
  display: block;
  text-align: center;
  @include font-title-14;

  @include mq(tab) {
    display: inline-block;
    margin-bottom: 18px;
  }
}

.scroll-up:hover,
.scroll-up:focus {
  opacity: 0.7;
}

.scroll-up::after {
  display: block;
  width: 14px;
  height: 14px;
  content: '';
  margin: 0 auto;
  background-image: url('../images/vectors/vector up.svg');
  margin: 4px auto 12px;

  @include mq(tab) {
    display: inline-block;
    margin: 0 0 0 8px;
  }
}

.footer__slogan {
  @include font-title-14;
  text-align: center;
  flex-basis: 100%;

  @include mq(tab) {
    text-align: left;
    margin-left: 181px;
  }
  @include mq(desk) {
    text-align: left;
    margin-left: 0;
  }
}
