.have-BIM-project {
  background-color: var(--pure-white-color);
  padding-bottom: 40px;

  @include mq(tab) {
    padding-bottom: 60px;
  }
  @include mq(desk) {
    padding-bottom: 80px;
  }
}
.have-BIM-project__block {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-color: var(--background-color);
  @include mq(tab) {
    width: 704px;
  }
  @include mq(desk) {
    width: 1136px;
  }
}
.have-BIM-project__title {
  margin: 0 auto 40px;
  @include font-title;
  text-transform: uppercase;
  color: var(--dark-grey-color);
  @include mq(mob-only) {
    max-width: 284px;
  }
}
