.site-header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  background-color: #ffffff;

  @include mq(tab) {
    max-width: 704px;
  }

  @include mq(desk) {
    max-width: 1136px;
  }
}

.site-header__logo {
  padding-left: 8px;
}

.main-navigation {
  display: flex;
  gap: 40px;
  align-items: center;
}

.main-navigation__list {
  display: flex;
  gap: 52px;
  align-items: center;
}

.main-navigation__item {
}

.main-navigation__link {
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;

  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
}

.contact-us-btn {
  padding: 16px;

  text-transform: uppercase;
  font-family: 'PT Mono';
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);

  background-color: #0e0e0e;
  color: #ffffff;
}

.has-dropdown {
  position: relative;
  top: 0;

  &:hover .main-navigation__dropdown {
    display: flex;
  }
}

.main-navigation__dropdown {
  display: none;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 360px;
  padding: 48px 36px 48px 28px;
  background-color: #cdcdcd;

  font-family: 'PT Mono';
  font-weight: 700;
  font-size: 16px;
  line-height: calc(18 / 16);

  color: #0e0e0e;
}

// .burger-btn {
//   background-color: transparent;
//   border: none;
//   padding: 0;
//   padding-right: 20px;

//   cursor: pointer;
// }
// .burger-icon {
// }

// .burger-close-icon {
//   display: none;
// }

// .burger-menu {
//   display: none;
// }

// .burger-menu__list {
// }
// .burger-menu__el {
// }
// .burger-menu__link {
// }
// .burger-menu__list-inner {
// }

@include mq(mob-only) {
  .main-navigation__item:not(:nth-child(2)) {
    display: none;
  }
}

@include mq(tab) {
  .main-navigation__item {
    &:last-child {
      display: none;
    }
  }
}

@include mq(desk) {
  .contact-us-btn {
    display: block;
  }
  .main-navigation__item {
    &:last-child {
      display: block;
    }
  }
}
