.no-transition {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.site-header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 990;

  padding: 0px 20px;

  background-color: #ffffff;
}

.site-header__logo {
}

.main-navigation {
  display: flex;
  gap: 20px;
  align-items: center;
}

.main-navigation__list {
  display: flex;
  gap: 52px;
  align-items: center;
}

.main-navigation__link,
.main-navigation__dropdown-link {
  position: relative;
}

.main-navigation__link::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: calc(50% - 10px);

  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--pure-black-color);

  transform: scaleX(0);
  transition: transform 300ms linear;
}

.main-navigation__dropdown-link::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: -3px;

  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--pure-black-color);

  transform: scaleX(0);
  transition: transform 300ms linear;
}
.main-navigation__item.active .main-navigation__link::after,
.main-navigation__dropdown-item.active .main-navigation__dropdown-link::after,
.main-navigation__link:hover::after,
.main-navigation__link:focus::after,
.main-navigation__link:active::after,
.main-navigation__dropdown-link:hover::after,
.main-navigation__dropdown-link:focus::after,
.main-navigation__dropdown-link:active::after {
  transform: scaleX(1);
}

.main-navigation__link {
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;

  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
}

.contact-us-btn {
  padding: 16px;

  text-transform: uppercase;
  @include font-title-14;

  background-color: var(--dark-grey-color);
  color: var(--pure-white-color);
  transition: opacity 0.3s ease;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.has-dropdown {
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
  top: 0;

  &:hover .main-navigation__dropdown,
  &:focus .main-navigation__dropdown,
  &:active .main-navigation__dropdown {
    pointer-events: auto;
    transform: scaleY(1);
    visibility: visible;
  }
}

.main-navigation__dropdown {
  display: none;

  @include mq(tab) {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--ligth-grey-color);
    left: 0;
    padding: 48px 28px;
    pointer-events: none;
    position: absolute;
    top: 100%;
    transform: scaleY(0);
    transform-origin: right top;

    visibility: hidden;
    width: 360px;
    transition: all 0.25s linear;

    @include font-mono-16-18;

    color: var(--dark-grey-color);
  }
}

.disable-component {
  display: none;
}

@include mq(tab) {
  .site-header {
    max-width: 704px;
    padding: 0px 24px 0px 8px;
  }

  .main-navigation {
    gap: 52px;
  }
}

@include mq(desk) {
  .site-header {
    max-width: 1136px;
  }
  .main-navigation {
    gap: 40px;
  }
}

@include mq(mob-only) {
  .main-navigation__item:not(:nth-child(2)) {
    display: none;
  }
}

@include mq(tab-only) {
  .main-navigation__item {
    &:last-child {
      display: none;
    }
  }
}
