.join-team {
  padding-top: 40px;
  padding-bottom: 40px;
  background: var(--pure-white-color);

  @include mq(tab) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include mq(desk) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.join-team__title {
  @include font-title;
  font-size: 24px;
  text-transform: uppercase;
  color: var(--dark-grey-color);
}

.join-team__text {
  margin-top: 40px;
  @include font-body-reg;
  color: var(--dark-grey-color);

  @include mq(tab) {
    margin-top: 52px;
    width: 554px;
  }

  @include mq(desk) {
    margin-top: 52px;
  }
}

.join-team__flex {
  @include mq(desk) {
    display: flex;
    margin-left: 17px;
  }
}

.join-team__position {
  margin: 52px auto;
  width: 320px;

  @include mq(tab) {
    width: 376px;
  }
}

.join-team__position-title {
  margin-top: 40px;
  @include font-title;
  text-transform: uppercase;
  color: var(--dark-grey-color);
}

.join-team__position-subtitle {
  margin-top: 2px;
  @include font-title-14;
  color: var(--grey-color);
}

.join-team__position-specification {
  margin-top: 16px;
  @include font-title-14;
  color: var(--dark-grey-color);
}

.join-team__position-specification-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 24px;
}

.join-team__position-specification-item {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--dark-grey-color);
}

.join-team__position-specification-item::before {
  content: url('../images/vectors/pseudo.svg');
}

.join-team__position-specification-item-text {
  @include font-body-reg;
}

.join-team__btn {
  position: relative;
  margin-top: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  gap: 8px;
  margin-top: 24px;
  background: var(--pure-white-color);
  border: none;
  @include font-button;
  color: var(--dark-grey-color);
}

.join-team__btn::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: calc(50% - 10px);

  display: block;
  width: 115px;
  height: 2px;
  background-color: var(--pure-black-color);

  transform: scaleX(0);
  transition: transform 300ms linear;
}

.join-team__btn:hover::after,
.join-team__btn:focus::after {
  transform: scaleX(1);
}
