// ===================HERO-CONTACTS===========================
// .hero {
//   padding-top: 206px;
//   padding-left: 18px;
//   height: 100vh;
//   @include mq(tab) {
//     padding-top: 192px;
//     padding-left: 34px;
//   }
// }

// .hero__block {
//   position: relative;
//   width: 288px;
//   padding: 24px 16px;
//   background: var(--pure-white-color);
//   @include mq(tab) {
//     padding: 52px 40px 24px;
//     width: 632px;
//   }
// }

// .hero__frame-down-left {
//   position: absolute;
//   bottom: -16px;
//   left: -16px;
// }

// .hero__frame-up-left {
//   position: absolute;
//   top: -16px;
//   left: -16px;
// }

// .hero__frame-down-right {
//   position: absolute;
//   bottom: -16px;
//   right: -16px;
// }

// .hero__frame-up-right {
//   position: absolute;
//   top: -16px;
//   right: -16px;
// }

// .hero__title {
//   @include font-title;
//   font-size: 24px;
//   line-height: 1.12;
//   text-transform: uppercase;
//   color: var(--dark-grey-color);
//   margin-bottom: 24px;
//   @include mq(tab) {
//     margin-bottom: 32px;
//   }
// }

// .hero__text {
//   @include font-body-reg;
//   color: var(--dark-grey-color);
//   margin-bottom: 16px;
//   @include mq(tab) {
//     margin-bottom: 24px;
//   }
// }

// .hero__btn {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-left: auto;
//   gap: 8px;
//   background: var(--pure-white-color);
//   border: none;
//   @include font-button;
//   color: var(--dark-grey-color);
// }

.hero__block.hero__block--contacts {
  @include mq(tab) {
    padding-top: 24px;
  }
}
// ===================CONTACTS SECTION===========================

.contacts-section {
  background-color: #ffffff;
  padding: 40px 0px;

  @include font-body-reg;

  @include mq(tab) {
    padding: 60px 0px;
  }
  @include mq(desk) {
    padding: 80px 0px;
  }
}

.contacts-section__wrapper {
}

.contacts-section__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}
.contacts-section__list-item {
}
.contacts-section__list-item--phones {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.contacts-section__link {
}
.contacts-section__open-hrs {
  max-width: 141px;
}
.contacts-page__social-links-block {
  margin-bottom: 24px;
}
.contacts-section__plain-text-block {
}
