.footer {
  outline: 1px red solid;
  padding-left: 20px;
}

.footer__nav {
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.footer__navItem {
  //   flex-basis: 50%;
  //   box-sizing: border-box;
  // padding: 10px;
}

.scroll-up::after {
  width: 14px;
  height: 14px;
  content: '';
  display: block;
  background-size: contain;
  background-image: url('../images/vectors/vector up.svg');
}
