<section id="benefits-of-bim" class="benefits-of-bim benefits-of-bim-part-one">
  <div class="container benefits-of-bim__container">
    <h2 class="benefits-of-bim__title">Benefits of BIM</h2>
    <p class="benefits-of-bim__paragraph">
      BIM technology provides advantages for architects, designers, engineers,
      and project managers. How significant are they? Let’s see.
    </p>
    <ul>
      <li class="benefits-of-bim__item">
        <h3 class="benefits-of-bim__subtitle">
          01 Accurate plans and shop drawings
        </h3>
        <div class="benefits-of-bim__img-wrap">
          <img
            srcset="
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-1-sm@1x.jpg  320w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-1-sm@2x.jpg  640w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-1-md@1x.jpg  704w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-1-md@2x.jpg 1408w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-1@1x.jpg     748w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-1@2x.jpg    1496w
            "
            sizes="(min-width: 1440px) 748px, (min-width: 768px) 704px,
          (min-width: 360px) 320px, 100vw"
            src="../images/7-benefits/benefits-of-bim/benefits-of-bim-1-sm@1x.jpg"
            alt="benefits-of-bim"
            class="benefits-of-bim__img"
          />
        </div>
        <p class="benefits-of-bim__paragraph">
          Design oversights and clashes can halt your project. Most 2D plans and
          shop drawings are inaccurate, but often, builders don’t realize the
          problem until the construction phase.
        </p>
        <p class="benefits-of-bim__paragraph">
          BIM tools allow planners to create accurate interactive 3D databases
          with information about every object. You can even visualize how the
          finished structure will look with different lighting. The best part —
          BIM software can help you plan the parameters for every detail in the
          building down to the smallest nail.
        </p>
      </li>
      <li class="benefits-of-bim__item">
        <h3 class="benefits-of-bim__subtitle">02 Workflow optimization</h3>
        <div class="benefits-of-bim__img-wrap">
          <img
            srcset="
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-2-sm@1x.jpg  320w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-2-sm@2x.jpg  640w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-2-md@1x.jpg  704w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-2-md@2x.jpg 1408w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-2@1x.jpg     748w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-2@2x.jpg    1496w
            "
            sizes="(min-width: 1440px) 748px, (min-width: 768px) 704px,
          (min-width: 360px) 320px, 100vw"
            src="../images/7-benefits/benefits-of-bim/benefits-of-bim-2-sm@1x.jpg"
            alt="benefits-of-bim"
            class="benefits-of-bim__img"
          />
        </div>
        <p class="benefits-of-bim__paragraph">
          Many construction processes are redundant and time-consuming. Wouldn’t
          it be better to automate them instead of performing them manually?
        </p>
        <p class="benefits-of-bim__paragraph">
          BIM service providers can identify gaps in your workflow and optimize
          processes with proven methodologies, templates, and scripts. Thanks to
          automation, you will reduce design errors and speed up the project.
        </p>
      </li>
      <li class="benefits-of-bim__item">
        <h3 class="benefits-of-bim__subtitle">03 Fast turnaround time</h3>
        <div class="benefits-of-bim__img-wrap">
          <img
            srcset="
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-3-sm@1x.jpg  320w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-3-sm@2x.jpg  640w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-3-md@1x.jpg  704w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-3-md@2x.jpg 1408w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-3@1x.jpg     748w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-3@2x.jpg    1496w
            "
            sizes="(min-width: 1440px) 748px, (min-width: 768px) 704px,
          (min-width: 360px) 320px, 100vw"
            src="../images/7-benefits/benefits-of-bim/benefits-of-bim-3-sm@1x.jpg"
            alt="benefits-of-bim"
            class="benefits-of-bim__img"
          />
        </div>
        <p class="benefits-of-bim__paragraph">
          You can improve turnaround time with the right BIM applications in
          construction. One of these applications is prefabricated (modular)
          construction technology.
        </p>
        <p class="benefits-of-bim__paragraph">
          BIM stands at the core of prefabricated construction. Modular software
          allows designers to build highly accurate 3D models for computer
          numerical control manufacturing. By pre-producing parts of the
          structure in factory-controlled environments, you will reduce on-site
          errors and system crashes that often result in expensive corrections.
        </p>
        <p class="benefits-of-bim__paragraph benefits-of-bim__last-paragraph">
          Professional designers can use BIM in construction to create
          parametric 3D models. Parametric modeling allows them to change
          parameters for certain object groups without reworking the entire
          project design. As a result, you’ll be able to modify your project
          much faster.
        </p>
      </li>
    </ul>
  </div>
</section>
