<section class="benefits-of-bim benefits-of-bim-part-three">
  <div class="container benefits-of-bim__container">
    <ul>
      <li class="benefits-of-bim__item">
        <h4 class="benefits-of-bim__subtitle">06 Effective data exchange</h4>
        <div class="benefits-of-bim__img-wrap">
          <img
            srcset="
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-6-sm@1x.jpg  320w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-6-sm@2x.jpg  640w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-6-md@1x.jpg  704w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-6-md@2x.jpg 1408w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-6@1x.jpg     748w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-6@2x.jpg    1496w
            "
            sizes="(min-width: 1440px) 748px, (min-width: 768px) 704px,
          (min-width: 360px) 320px, 100vw"
            src="../images/7-benefits/benefits-of-bim/benefits-of-bim-6-sm@1x.jpg"
            alt="benefits-of-bim"
            class="benefits-of-bim__img"
          />
        </div>
        <p class="benefits-of-bim__paragraph">
          Construction projects depend on communication. BIM software can
          effectively improve cooperation between stakeholders by reducing
          distractions such as emails and phone calls.
        </p>
        <p class="benefits-of-bim__paragraph">
          The 2020 BIM for Improved Project Communication Networks research
          proves that interpersonal information exchange in BIM projects is
          easier and faster compared to regular construction projects.
        </p>
        <p class="benefits-of-bim__paragraph">
          Instead of relying on countless messages, you and your partners will
          use a virtual board with easily trackable and manageable tasks with
          the ability to add notes. In addition, different teams will be able to
          work on your model simultaneously via a secure cloud platform.
        </p>
      </li>
      <li class="benefits-of-bim__item">
        <h4 class="benefits-of-bim__subtitle">07 Safer construction process</h4>
        <div class="benefits-of-bim__img-wrap">
          <img
            srcset="
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-7-sm@1x.jpg  320w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-7-sm@2x.jpg  640w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-7-md@1x.jpg  704w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-7-md@2x.jpg 1408w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-7@1x.jpg     748w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-7@2x.jpg    1496w
            "
            sizes="(min-width: 1440px) 748px, (min-width: 768px) 704px,
          (min-width: 360px) 320px, 100vw"
            src="../images/7-benefits/benefits-of-bim/benefits-of-bim-7-sm@1x.jpg"
            alt="benefits-of-bim"
            class="benefits-of-bim__img"
          />
        </div>
        <p class="benefits-of-bim__paragraph">
          Workplace health and safety is another crucial concern. According to
          the 2020 Construction Statistics, the construction industry has the
          most work-related physical illnesses across all sectors. Even worse,
          20% of all fatalities in the US private sector in 2019 were in
          construction.
        </p>
        <p class="benefits-of-bim__paragraph">
          The industry is overflowing with traditional injury-prevention
          strategies. These strategies, however, are most effective during the
          planning and pre-construction phases.
        </p>
        <p class="benefits-of-bim__paragraph benefits-of-bim__last-paragraph">
          BIM can help reduce the risk of accidents by using prefabrication.
          This technique moves most of the workload from the building site to a
          controlled environment, allowing you to make the process much safer.
        </p>
      </li>
    </ul>
  </div>
</section>
