<section class="benefits-of-bim benefits-of-bim-part-two">
  <div class="container benefits-of-bim__container">
    <ul>
      <li class="benefits-of-bim__item">
        <h4 class="benefits-of-bim__subtitle">04 Lower costs</h4>
        <div class="benefits-of-bim__img-wrap">
          <img
            srcset="
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-4-sm@1x.jpg  320w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-4-sm@2x.jpg  640w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-4-md@1x.jpg  704w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-4-md@2x.jpg 1408w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-4@1x.jpg     748w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-4@2x.jpg    1496w
            "
            sizes="(min-width: 1440px) 748px, (min-width: 768px) 704px,
          (min-width: 360px) 320px, 100vw"
            src="../images/7-benefits/benefits-of-bim/benefits-of-bim-4-sm@1x.jpg"
            alt="benefits-of-bim"
            class="benefits-of-bim__img"
          />
        </div>
        <p class="benefits-of-bim__paragraph">
          No one can make a model that is 100% accurate right away. Every
          construction project will go through multiple evaluations and
          adjustments. Using BIM tools allows you to create highly accurate 3D
          models and reduce errors by automating most recurring tasks.
        </p>
        <p class="benefits-of-bim__paragraph">
          Advanced BIM solutions can help you identify soft and hard clashes in
          your project at the early stages of the project’s life cycle. As a
          result, you will reduce reworks in design and construction. But how
          much can it reduce your costs?
        </p>
        <p class="benefits-of-bim__paragraph">
          According to the 2018 Benefit-Cost Analysis of BIM in a Railway Site,
          implementing BIM technology can result in a 1.3 benefit-cost ratio by
          eliminating potential reworks. In other words, your production can
          become about 30% more cost-effective.
        </p>
      </li>
      <li class="benefits-of-bim__item">
        <h4 class="benefits-of-bim__subtitle">05 Precise estimates</h4>
        <div class="benefits-of-bim__img-wrap">
          <img
            srcset="
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-5-sm@1x.jpg  320w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-5-sm@2x.jpg  640w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-5-md@1x.jpg  704w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-5-md@2x.jpg 1408w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-5@1x.jpg     748w,
              ../images/7-benefits/benefits-of-bim/benefits-of-bim-5@2x.jpg    1496w
            "
            sizes="(min-width: 1440px) 748px, (min-width: 768px) 704px,
          (min-width: 360px) 320px, 100vw"
            src="../images/7-benefits/benefits-of-bim/benefits-of-bim-5-sm@1x.jpg"
            alt="benefits-of-bim"
            class="benefits-of-bim__img"
          />
        </div>
        <p class="benefits-of-bim__paragraph">
          BIM modeling experts can refine your shop drawings, 3D models, and
          construction documentation to help you identify precise budget and
          time estimates. How exactly is BIM used in construction for creating
          estimates?
        </p>
        <p class="benefits-of-bim__paragraph">
          BIM technology allows you to use easy-to-understand specifications for
          architectural, design, and structural elements. You’ll have a 3D
          library of objects, as well as complete documentation, including Bills
          of Materials and Material Takeoffs.
        </p>
        <p class="benefits-of-bim__paragraph benefits-of-bim__last-paragraph">
          What does that mean? In short, the right BIM service vendor will help
          you plan all expenses and tasks much more accurately than with regular
          shop drawings.
        </p>
      </li>
    </ul>
  </div>
</section>
