<div class="backdrop success answer">
  <div class="container">
    <div class="contact-modal__block">
      <img
        class="contact-modal__frame-down-left"
        src="../images/vectors/frame-down-left.svg"
        alt="decorative element"
      />
      <img
        class="contact-modal__frame-up-left"
        src="../images/vectors/frame-up-left.svg"
        alt="decorative element"
      />
      <img
        class="contact-modal__frame-down-right"
        src="../images/vectors/frame-down-right.svg"
        alt="decorative element"
      />
      <img
        class="contact-modal__frame-up-right"
        src="../images/vectors/frame-up-right.svg"
        alt="decorative element"
      />
      <div class="contact-modal__content contact-modal__content--answer">
        <h2
          class="contact-modal__title"
          style="text-transform: none; max-width: 100%"
        >
          Thank you for your message
        </h2>
        <p style="margin-bottom: 35px">
          It has been sent. <br />
          We will contact you shortly.
        </p>
        <a
          href="./"
          class="contact-modal__btn--link"
          style="justify-content: end"
          aria-label="home link on modal"
        >
          Home
          <img src="../images/vectors/arrow.svg" alt="arrow" />
        </a>
      </div>
    </div>
  </div>
</div>
