<div class="backdrop fail">
  <div class="container">
    <div class="contact-modal__block">
      <img
        class="contact-modal__frame-down-left"
        src="../images/vectors/frame-down-left.svg"
        alt="decorative element"
      />
      <img
        class="contact-modal__frame-up-left"
        src="../images/vectors/frame-up-left.svg"
        alt="decorative element"
      />
      <img
        class="contact-modal__frame-down-right"
        src="../images/vectors/frame-down-right.svg"
        alt="decorative element"
      />
      <img
        class="contact-modal__frame-up-right"
        src="../images/vectors/frame-up-right.svg"
        alt="decorative element"
      />
      <div class="contact-modal__content">
        <!-- <button type="button" class="contact-modal__close-btn close-btn--fail">
          <svg class="contact-modal__close-icon" width="24" height="24">
            <use href="../images/vectors/sprite.svg#icon-close"></use>
          </svg>
        </button> -->
        <h2
          class="contact-modal__title"
          style="text-transform: none; max-width: 100%"
        >
          Sorry, but something goes wrong. Please repeate
        </h2>
        <a
          href="./contacts.html"
          class="contact-modal__btn"
          type="button"
          style="justify-content: end"
        >
          Contacts
          <img src="../images/vectors/arrow.svg" alt="arrow" />
        </a>
      </div>
    </div>
  </div>
</div>
