<div class="backdrop visually-hidden success answer">
  <div class="container">
    <div class="contact-modal__block">
      <img
        class="contact-modal__frame-down-left"
        src="../images/vectors/frame-down-left.svg"
        loading="lazy"
        alt="decorative element"
      />
      <img
        class="contact-modal__frame-up-left"
        src="../images/vectors/frame-up-left.svg"
        loading="lazy"
        alt="decorative element"
      />
      <img
        class="contact-modal__frame-down-right"
        src="../images/vectors/frame-down-right.svg"
        loading="lazy"
        alt="decorative element"
      />
      <img
        class="contact-modal__frame-up-right"
        src="../images/vectors/frame-up-right.svg"
        loading="lazy"
        alt="decorative element"
      />
      <div class="contact-modal__content contact-modal__content--answer"></div>
    </div>
  </div>
</div>
