<button type="button" class="burger-btn" data-menu-button>
  <svg width="24" height="24">
    <use
      href="../images/vectors/sprite.svg#icon-burger"
      class="burger-icon"
    ></use>
    <use
      href="../images/vectors/sprite.svg#icon-close"
      class="burger-close-icon"
    ></use>
  </svg>
</button>

<div class="burger-menu" data-menu>
  <ul class="burger-menu__list">
    <li class="burger-menu__el">
      <a href="/" class="burger-menu__link">Home</a>
    </li>
    <li class="burger-menu__el burger-menu__el--disabled">Services</li>
    <li class="burger-menu__el">
      <ul class="burger-sub-menu__list">
        <li class="burger-sub-menu__el">
          <a href="/" class="burger-menu__link">BIM Modeling</a>
        </li>
        <li class="burger-sub-menu__el">
          <a href="/" class="burger-menu__link">BIM Coordination</a>
        </li>
        <li class="burger-sub-menu__el">
          <a href="/" class="burger-menu__link">BIM Content</a>
        </li>
        <li class="burger-sub-menu__el">
          <a href="/" class="burger-menu__link">Scan to BIM</a>
        </li>
        <li class="burger-sub-menu__el">
          <a href="/" class="burger-menu__link">BIM Automation</a>
        </li>
        <li class="burger-sub-menu__el">
          <a href="/" class="burger-menu__link">Prefabrication & Fabrication</a>
        </li>
        <li class="burger-sub-menu__el">
          <a href="/" class="burger-menu__link">Structural detailing</a>
        </li>
        <li class="burger-sub-menu__el">
          <a href="/" class="burger-menu__link">Architectural Rendering</a>
        </li>
      </ul>
    </li>
    <li class="burger-menu__el">
      <a href="/" class="burger-menu__link">Case Studies</a>
    </li>
    <li class="burger-menu__el">
      <a href="/" class="burger-menu__link">Blog</a>
    </li>
    <li class="burger-menu__el">
      <a href="/" class="burger-menu__link">About</a>
    </li>
    <li class="burger-menu__el">
      <a href="./career.html" class="burger-menu__link">Career</a>
    </li>
    <li class="burger-menu__el">
      <a href="./contacts.html" class="burger-menu__link">Contacts</a>
    </li>
  </ul>
</div>
