<header class="site-header">
  <a
    href="./"
    class="site-header__logo"
    aria-label="Powerkh logo link to main page"
  >
    <svg class="site-header__icon" width="54" height="44">
      <use href="../images/vectors/sprite.svg#icon-logo"></use>
    </svg>
  </a>

  <nav class="main-navigation">
    <ul class="main-navigation__list">
      <li class="main-navigation__item has-dropdown">
        <p class="main-navigation__link">Services</p>
        <svg class="main-navigation__triangle-icon" width="12" height="9">
          <use href="../images/vectors/sprite.svg#icon-polygon-down"></use>
        </svg>
        <ul class="main-navigation__dropdown no-transition">
          <li class="main-navigation__dropdown-item">
            <a href="./bim-modeling.html" class="main-navigation__dropdown-link"
              >BIM Modeling</a
            >
          </li>
          <li class="main-navigation__dropdown-item">
            <a
              href="./bim-coordination.html"
              class="main-navigation__dropdown-link"
              >BIM Coordination</a
            >
          </li>
          <li class="main-navigation__dropdown-item">
            <a href="./bim-content.html" class="main-navigation__dropdown-link"
              >BIM Content</a
            >
          </li>
          <li class="main-navigation__dropdown-item">
            <a class="main-navigation__dropdown-link" href="./scan-to-bim.html"
              >Scan to BIM</a
            >
          </li>
          <li class="main-navigation__dropdown-item">
            <a
              href="./bim-automation.html"
              class="main-navigation__dropdown-link"
              >BIM Automation</a
            >
          </li>
          <li class="main-navigation__dropdown-item">
            <a
              href="./prefabrication.html"
              class="main-navigation__dropdown-link"
              >Prefabrication & Fabrication</a
            >
          </li>
          <li class="main-navigation__dropdown-item">
            <a
              href="./structural-detailing.html"
              class="main-navigation__dropdown-link"
              >Structural detailing</a
            >
          </li>
          <li class="main-navigation__dropdown-item">
            <a
              href="./architectural-rendering.html"
              class="main-navigation__dropdown-link"
              >Architectural Rendering</a
            >
          </li>
        </ul>
      </li>
      <li class="main-navigation__item">
        <a class="main-navigation__link" href="./case-studies.html"
          >Case Studies</a
        >
      </li>
      <li class="main-navigation__item">
        <a class="main-navigation__link" href="./blog.html">Blog</a>
      </li>
      <li class="main-navigation__item">
        <a class="main-navigation__link" href="./about.html">About</a>
      </li>
      <li class="main-navigation__item">
        <button class="contact-us-btn js-btn-modal">Contact Us</button>
      </li>
    </ul>

    <button
      type="button"
      class="burger-btn"
      aria-label="navigation menu button"
      data-menu-button
    >
      <svg width="24" height="24">
        <use
          href="../images/vectors/sprite.svg#icon-burger"
          class="burger-icon"
        ></use>
        <use
          href="../images/vectors/sprite.svg#icon-close"
          class="burger-close-icon"
        ></use>
      </svg>
    </button>
  </nav>
</header>
